Repository apache/incubator-seata, pull requests merged in 2020-08, with the labels that each got.

#2945 optimize: optimize async commit and reduce one update
  rm-datasource/src/main/java/io/seata/rm/datasource/AsyncWorker.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
Labels: module/server

#2968 optimize: ensure that the register message is sent after RM client initialization
  core/src/main/java/io/seata/core/rpc/netty/RmNettyRemotingClient.java
Labels: module/rm

#2967 optimize: replace with lambda
  core/src/main/java/io/seata/core/context/ThreadLocalContextCore.java
Labels: first-time contributor, module/core

#2918 bugfix: fix the isolation problem when rollback in AT mode
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoExecutor.java
Labels: first-time contributor, module/rm datasource

#2972 Bugfix: UUIDGenerator generates duplicated id
  common/src/main/java/io/seata/common/util/IdWorker.java
Labels: module/common

#2080 feature: support ConsistentHashLoadBalance
  common/src/main/java/io/seata/common/DefaultValues.java
  config/seata-config-core/src/main/resources/registry.conf
  config/seata-config-core/src/test/resources/registry.conf
  core/src/main/java/io/seata/core/context/RootContext.java
  core/src/main/java/io/seata/core/logger/StackTraceLogger.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemotingClient.java
  core/src/main/java/io/seata/core/rpc/netty/NettyBaseConfig.java
  core/src/main/java/io/seata/core/rpc/netty/NettyClientConfig.java
  core/src/main/java/io/seata/core/rpc/netty/NettyServerConfig.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/loadbalance/AbstractLoadBalance.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/loadbalance/ConsistentHashLoadBalance.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/loadbalance/LoadBalance.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/loadbalance/LoadBalanceFactory.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/loadbalance/RandomLoadBalance.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/loadbalance/RoundRobinLoadBalance.java
  discovery/seata-discovery-core/src/main/resources/META-INF/services/io.seata.discovery.loadbalance.LoadBalance
  discovery/seata-discovery-core/src/test/java/io/seata/discovery/loadbalance/LoadBalanceFactoryTest.java
  discovery/seata-discovery-core/src/test/java/io/seata/discovery/loadbalance/LoadBalanceTest.java
  rm-datasource/src/main/java/io/seata/rm/datasource/AsyncWorker.java
  rm-datasource/src/main/java/io/seata/rm/datasource/ConnectionProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceManager.java
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/LockRetryController.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/MultiUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/UpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoLogManager.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/UndoLogConstants.java
  saga/seata-saga-engine-store/src/main/java/io/seata/saga/engine/config/DbStateMachineConfig.java
  script/client/conf/registry.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/SeataProperties.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/client/LockProperties.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/client/LogProperties.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/client/RmProperties.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/client/ServiceProperties.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/client/ShutdownProperties.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/client/ThreadFactoryProperties.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/client/TmProperties.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/client/TransportProperties.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/client/UndoProperties.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/registry/RegistryProperties.java
  seata-spring-boot-starter/src/test/java/io/seata/spring/boot/autoconfigure/PropertiesTest.java
  serializer/seata-serializer-seata/src/test/resources/registry.conf
  server/src/main/java/io/seata/server/ParameterParser.java
  server/src/main/java/io/seata/server/auth/AbstractCheckAuthHandler.java
  server/src/main/java/io/seata/server/env/ContainerHelper.java
  server/src/main/java/io/seata/server/env/PortHelper.java
  server/src/main/java/io/seata/server/storage/db/lock/LockStoreDataBaseDAO.java
  server/src/main/java/io/seata/server/storage/db/store/LogStoreDataBaseDAO.java
  server/src/main/resources/registry.conf
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionScanner.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionalInterceptor.java
  test/src/test/resources/registry.conf
  tm/src/main/java/io/seata/tm/api/DefaultGlobalTransaction.java
Labels: module/config, module/core, module/discovery

#2932 bugfix: nacos-config.py script could not run with namespace
  script/config-center/nacos/nacos-config.py
Labels: first-time contributor, module/script

#2941 feature: add apollo secret key configuration
  bom/pom.xml
  config/seata-config-apollo/src/main/java/io/seata/config/apollo/ApolloConfiguration.java
  script/client/conf/registry.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/config/ConfigApolloProperties.java
  server/src/main/resources/registry.conf
Labels: Upgrade Notice, module/config

#2973 bugfix: fix oracle database in field size over 1000
  rm-datasource/src/main/java/io/seata/rm/datasource/SqlGenerateUtils.java
  rm-datasource/src/test/java/io/seata/rm/datasource/SqlGenerateUtilsTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/AbstractUndoExecutorTest.java
Labels: module/rm datasource

#3031 bugfix: redis locker delete lock incomplete
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLocker.java
Labels: module/server

#2978 optimize: opt globalCommit for mixed use of AT and TCC
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/java/io/seata/server/session/BranchSession.java
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoreTest.java
Labels: module/server

#3012 optimize: remove set port repeatedly
  core/src/main/java/io/seata/core/rpc/netty/NettyServerBootstrap.java
Labels: module/core

#3025 bugfix: fix the wrong package path
  core/src/test/java/io/seata/core/store/db/sql/lock/LockStoreSqlFactoryTest.java
Labels: module/core

#3056 bugfix: fixed a bug that after branch deletion, there are still remaining branch lock
  server/src/main/java/io/seata/server/session/GlobalSession.java
Labels: first-time contributor, module/server

#3053 optimize: jedis pool adds maxtotal configuration
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  server/src/main/java/io/seata/server/storage/redis/JedisPooledFactory.java
  server/src/main/resources/file.conf
Labels: TC/store, module/server

#2806 feature: support configuring default global transaction timeoutMillis
  common/src/main/java/io/seata/common/DefaultValues.java
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  script/client/conf/file.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  script/config-center/config.txt
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/client/TmProperties.java
  seata-spring-boot-starter/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  seata-spring-boot-starter/src/test/java/io/seata/spring/boot/autoconfigure/PropertiesTest.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactional.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionalInterceptor.java
  spring/src/test/java/io/seata/spring/annotation/MethodDescTest.java
  tm/src/main/java/io/seata/tm/api/transaction/TransactionInfo.java
Labels: module/spring
