Repository apache/incubator-seata, pull requests merged in 2020-09, with the labels that each got.

#3046 optimized: remove unused code in serializer factory.
  core/src/main/java/io/seata/core/rpc/netty/v1/ProtocolV1Decoder.java
  core/src/main/java/io/seata/core/rpc/netty/v1/ProtocolV1Encoder.java
  core/src/main/java/io/seata/core/serializer/SerializerFactory.java
Labels: module/serializer

#3016 optimize: refactor the redis lock string to hash
  common/src/main/java/io/seata/common/Constants.java
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLocker.java
  server/src/test/java/io/seata/server/lock/redis/RedisLockManagerTest.java
Labels: TC/store, module/server

#3071 bugfix: part of the connection is not unpacked
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/DataSourceProxyXA.java
Labels: module/rm datasource

#3097 bugfix: fix HttpAutoConfiguration always instantiation in springboot env
  integration/http/src/main/java/io/seata/integration/http/HttpAutoConfiguration.java
  integration/http/src/main/resources/META-INF/spring.factories
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/HttpAutoConfiguration.java
  seata-spring-boot-starter/src/main/resources/META-INF/spring.factories
Labels: module/integration

#2597 optimize: judging xid status to avoid repeated processing
  integration/http/src/main/java/io/seata/integration/http/TransactionPropagationIntercepter.java
Labels: module/integration

#3074 bugfix: There is no need to retry if the XA schema cannot find the XID
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ResourceManagerXA.java
Labels: module/rm datasource

#3073 bugfix: do not proxy connections without an xid
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/AbstractDataSourceProxyXA.java
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/DataSourceProxyXA.java
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/DataSourceProxyXANative.java
  rm-datasource/src/test/java/io/seata/rm/xa/DataSourceProxyXATest.java
Labels: module/rm datasource

#3128 docs: Update seate user’s website logo url.
  README.md
Labels: first-time contributor

#2551 bugfix: Saga can't be used when the dataSource is AT's dataSourceProxy
  core/src/main/java/io/seata/core/context/RootContext.java
  core/src/test/java/io/seata/core/context/RootContextTest.java
  saga/seata-saga-engine-store/src/main/java/io/seata/saga/engine/pcext/interceptors/InSagaBranchHandlerInterceptor.java
  saga/seata-saga-engine-store/src/main/java/io/seata/saga/engine/store/db/DbAndReportTcStateLogStore.java
  saga/seata-saga-engine-store/src/main/resources/META-INF/services/io.seata.saga.engine.pcext.StateHandlerInterceptor
  spring/src/main/java/io/seata/spring/tcc/TccActionInterceptor.java
Labels: module/core, module/saga, module/script, module/seata spring boot starter, module/spring

#3136 fix:the redis pipeline
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
Labels: TC/store, module/server
