Repository apache/incubator-seata, pull requests merged in 2020-10, with the labels that each got.

#3162 optimize: remove repeated conditional tests (#3161)
  integration/http/src/main/java/io/seata/integration/http/AbstractHttpExecutor.java
Labels: first-time contributor

#2935 bugfix：fix saga designer bug that the property box does not switch when switching nodes
  saga/seata-saga-statemachine-designer/src/components/EditorDetailPanel/DetailForm.js
Labels: module/saga

#3050 bugfix: fix fetch before images when delete and update statements
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/DeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/UpdateExecutor.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/WhereRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/BaseMySQLRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLDeleteRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLSelectForUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/OracleDeleteRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/OracleSelectForUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/OracleUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/MySQLDeleteRecognizerTest.java
Labels: module/rm datasource

#2929 bugfix: fix the application was configured to degrade at startup and can't be dynamically switch to upgraded
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionScanner.java
  spring/src/main/java/io/seata/spring/tcc/TccActionInterceptor.java
Labels: module/tm

#2962 optimize: @GlobalTransactional and @GlobalLock can now customize lock retry config
  core/src/main/java/io/seata/core/context/GlobalLockConfigHolder.java
  core/src/main/java/io/seata/core/model/GlobalLockConfig.java
  core/src/test/java/io/seata/core/context/GlobalLockConfigHolderTest.java
  rm-datasource/src/main/java/io/seata/rm/GlobalLockExecutor.java
  rm-datasource/src/main/java/io/seata/rm/GlobalLockTemplate.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/LockRetryController.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/SelectForUpdateExecutor.java
  rm-datasource/src/test/java/io/seata/rm/GlobalLockLocalTransactionlTemplateTest.java
  rm-datasource/src/test/java/io/seata/rm/GlobalLockTemplateTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/BaseTransactionalExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/LockRetryControllerTest.java
  spring/src/main/java/io/seata/spring/annotation/GlobalLock.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactional.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionalInterceptor.java
  tm/src/main/java/io/seata/tm/api/TransactionalTemplate.java
  tm/src/main/java/io/seata/tm/api/transaction/TransactionInfo.java
  tm/src/test/java/io/seata/tm/api/transaction/TransactionInfoTest.java
Labels: first-time contributor, module/rm

#3200 optimize: optimize rpc message when message was substring
  serializer/seata-serializer-seata/src/main/java/io/seata/serializer/seata/protocol/AbstractResultMessageCodec.java
Labels: module/serializer

#3198 feature: spring boot support for custom config and registry type
  script/client/conf/registry.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/StarterConstants.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/config/ConfigCustomProperties.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/registry/RegistryCustomProperties.java
  seata-spring-boot-starter/src/test/java/io/seata/spring/boot/autoconfigure/PropertiesTest.java
Labels: first-time contributor, module/config, module/registry, theme: config

#3195 optimize: opt XID related codes
  core/src/main/java/io/seata/core/context/RootContext.java
  core/src/test/java/io/seata/core/context/RootContextTest.java
  integration/grpc/src/main/java/io/seata/integration/grpc/interceptor/client/ClientTransactionInterceptor.java
  integration/http/src/main/java/io/seata/integration/http/TransactionPropagationIntercepter.java
  integration/http/src/test/java/io/seata/integration/http/MockWebServer.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
  test/src/test/java/io/seata/saga/engine/mock/MockGlobalTransaction.java
  tm/src/main/java/io/seata/tm/api/DefaultGlobalTransaction.java
  tm/src/main/java/io/seata/tm/api/GlobalTransaction.java
  tm/src/main/java/io/seata/tm/api/TransactionalTemplate.java
  tm/src/main/java/io/seata/tm/api/transaction/SuspendedResourcesHolder.java
Labels: type: optimize

#3062 optimize: refactor the redis session store
  common/src/main/java/io/seata/common/exception/RedisException.java
  common/src/main/java/io/seata/common/util/BeanUtils.java
  common/src/test/java/io/seata/common/BranchDO.java
  common/src/test/java/io/seata/common/util/BeanUtilsTest.java
  common/src/test/java/io/seata/common/util/CollectionUtilsTest.java
  core/src/main/java/io/seata/core/constants/RedisKeyConstants.java
  core/src/main/java/io/seata/core/store/GlobalTransactionDO.java
  saga/seata-saga-engine-store/src/main/java/io/seata/saga/engine/store/db/AbstractStore.java
  saga/seata-saga-engine-store/src/main/java/io/seata/saga/engine/store/utils/BeanUtils.java
  server/src/main/java/io/seata/server/storage/SessionConverter.java
  server/src/main/java/io/seata/server/storage/db/store/DataBaseTransactionStoreManager.java
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
  server/src/main/resources/file.conf
  server/src/test/java/io/seata/server/session/redis/RedisSeesionManagerTest.java
  server/src/test/java/io/seata/server/session/redis/RedisSessionManagerTest.java
  server/src/test/java/io/seata/server/session/redis/SessionConverterTest.java
Labels: module/server, type: optimize

#3170 bugfix: the disposables tree set won't accept another Disposable with the same priority.
  core/src/main/java/io/seata/core/rpc/ShutdownHook.java
Labels: first-time contributor, module/core

#3205 bugfix: fix can not get boolean value in configuration
  config/seata-config-core/src/main/java/io/seata/config/FileConfiguration.java
Labels: module/config

#2676 feature : support least active load balance
  common/src/main/java/io/seata/common/rpc/RpcStatus.java
  common/src/test/java/io/seata/common/rpc/RpcStatusTest.java
  core/src/main/java/io/seata/core/rpc/hook/RpcHook.java
  core/src/main/java/io/seata/core/rpc/hook/StatusRpcHook.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemoting.java
  core/src/main/resources/META-INF/services/io.seata.core.rpc.hook.RpcHook
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/loadbalance/LeastActiveLoadBalance.java
  discovery/seata-discovery-core/src/main/resources/META-INF/services/io.seata.discovery.loadbalance.LoadBalance
  discovery/seata-discovery-core/src/test/java/io/seata/discovery/loadbalance/LoadBalanceTest.java
Labels: module/common, module/discovery

#3191 feature: support jdbc type nclob
  common/src/main/java/io/seata/common/util/BeanUtils.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/TableRecords.java
Labels: mode: AT, module/rm-datasource

#2380 feature: support yml configuration
  bom/pom.xml
  config/seata-config-core/pom.xml
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationCache.java
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationFactory.java
  config/seata-config-core/src/main/java/io/seata/config/FileConfigFactory.java
  config/seata-config-core/src/main/java/io/seata/config/FileConfiguration.java
  config/seata-config-core/src/main/java/io/seata/config/file/FileConfig.java
  config/seata-config-core/src/main/java/io/seata/config/file/SimpleFileConfig.java
  config/seata-config-core/src/main/java/io/seata/config/file/YamlFileConfig.java
  config/seata-config-core/src/main/resources/META-INF/services/io.seata.config.file.FileConfig
  config/seata-config-core/src/test/java/io.seata.config/ConfigProperty.java
  config/seata-config-core/src/test/java/io.seata.config/FileConfigurationTest.java
  config/seata-config-core/src/test/java/io.seata.config/ProConfigurationFactoryTest.java
  config/seata-config-core/src/test/java/io.seata.config/RegistryConfigurationFactoryTest.java
  config/seata-config-core/src/test/java/io.seata.config/YamlConfigurationFactoryTest.java
  config/seata-config-core/src/test/resources/file-test-pro.conf
  config/seata-config-core/src/test/resources/file-test-yaml.conf
  config/seata-config-core/src/test/resources/file-test.conf
  config/seata-config-core/src/test/resources/registry-test-pro.properties
  config/seata-config-core/src/test/resources/registry-test-yaml.yml
  config/seata-config-core/src/test/resources/registry-test.conf
  script/server/config/file.conf
  script/server/config/file.properties
  script/server/config/file.yml
  script/server/config/registry.conf
  script/server/config/registry.properties
  script/server/config/registry.yml
Labels: module/server

#3129 bugfix: forbidding execute SQL which update pk value
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/MultiUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/UpdateExecutor.java
Labels: module/rm-datasource

#3201 optimize: no longer substring the message in rpc transmission
  serializer/seata-serializer-seata/src/main/java/io/seata/serializer/seata/protocol/AbstractResultMessageCodec.java
Labels: RPC, type: optimize

#2825 feature: support send authentication msg
  common/src/test/java/io/seata/common/loader/EnhancedServiceLoaderTest.java
  core/src/main/java/io/seata/core/auth/AuthSigner.java
  core/src/main/java/io/seata/core/auth/DefaultAuthSigner.java
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  core/src/main/java/io/seata/core/protocol/AbstractIdentifyRequest.java
  core/src/main/java/io/seata/core/protocol/RegisterTMRequest.java
  core/src/main/java/io/seata/core/rpc/netty/TmNettyRemotingClient.java
  core/src/main/resources/META-INF/services/io.seata.core.auth.AuthSigner
  pom.xml
  serializer/seata-serializer-hessian/pom.xml
  server/src/main/java/io/seata/server/storage/file/store/FileTransactionStoreManager.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionScanner.java
  tm/src/main/java/io/seata/tm/TMClient.java
Labels: module/core

#3214 bugfix: fix the 'RootContext.DEFAULT_BRANCH_TYPE' is wrong in some cases
  core/src/main/java/io/seata/core/context/RootContext.java
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/DataSourceProxyXA.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/StarterConstants.java
  spring/src/main/java/io/seata/spring/annotation/datasource/AutoDataSourceProxyRegistrar.java
  spring/src/main/java/io/seata/spring/annotation/datasource/SeataAutoDataSourceProxyAdvice.java
Labels: module/core, type: bug

#3076 feature: Check lock in TC when use @GlobalLock
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/SelectForUpdateExecutor.java
Labels: module/rm-datasource, type: feature

#2856 feature: add FstUndoLogParser
  rm-datasource/pom.xml
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/Field.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/Row.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/TableRecords.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/BranchUndoLog.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/SQLUndoLog.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/FstSerializerFactory.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/FstUndoLogParser.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/KryoSerializerFactory.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/UndoLogSerializerClassRegistry.java
  rm-datasource/src/main/resources/META-INF/services/io.seata.rm.datasource.undo.UndoLogParser
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/UndoLogParserProviderTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/parser/FstUndoLogParserTest.java
Labels: module/rm-datasource, type: feature

#3040 bugfix: fix repeated commit when autocommit is false
  rm-datasource/src/main/java/io/seata/rm/datasource/ConnectionProxy.java
Labels: module/rm-datasource, type: bug

#3222 optimize: optimize fileListener to decrease cpu time usage
  config/seata-config-core/src/main/java/io/seata/config/FileConfiguration.java
Labels: module/config, type: optimize

#2843 optimize: Removed Reloadable from the redis/db SessionManager.
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  server/src/main/java/io/seata/server/session/SessionHolder.java
  server/src/main/java/io/seata/server/storage/db/session/DataBaseSessionManager.java
  server/src/main/java/io/seata/server/storage/redis/session/RedisSessionManager.java
  test/src/test/java/io/seata/saga/engine/db/AbstractServerTest.java
Labels: module/server, type: optimize

#2979 bugfix: columns of resultset integrated with sharingjdbc need to be lowercase
  pom.xml
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/PostgresqlTableMetaCache.java
Labels: module/rm-datasource, type: bug

#3209 optimize: add more company logos
  README.md
  seata-spring-boot-starter/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: type: optimize
