Repository apache/incubator-seata, pull requests merged in 2020-06, with the labels that each got.

#2725 bugfix: has other expression before insert row primary key.
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseInsertExecutor.java
Labels: module/rm datasource

#2759 optimize: optimized the generation rules of thread name factory
  common/src/main/java/io/seata/common/thread/NamedThreadFactory.java
  common/src/test/java/io/seata/common/thread/NamedThreadFactoryTest.java
Labels: module/common

#2607 optimize: insert check pkvalue support.
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseInsertExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/MySQLInsertExecutorTest.java
Labels: module/rm datasource

#2698 bugfix: fix nested GlobalLock unbind prematurely
  rm-datasource/src/main/java/io/seata/rm/GlobalLockTemplate.java
Labels: module/rm

#2755 bugfix: fix not return value when branchCommit and branchRollback throw exception
  tcc/src/main/java/io/seata/rm/tcc/TCCResourceManager.java
Labels: module/rm

#2765 optimize: Optimize the processing logic of XA's RM for unsupported transaction resources.
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ResourceManagerXA.java
Labels: module/rm datasource

#2777 bugfix: fix can't rollback when set rollback retry count was zero.
  test/src/test/java/io/seata/saga/engine/db/StateMachineDBTests.java
  tm/src/main/java/io/seata/tm/api/DefaultGlobalTransaction.java
Labels: module/tm

#2779 optimize: CollectionUtils.decodeMap method variables ConcurrentHashMap refact to HashMap
  common/src/main/java/io/seata/common/util/CollectionUtils.java
Labels: first-time contributor, module/common

#2486 optimize: refactor server handle request process logic from client.
  core/src/main/java/io/seata/core/README.md
  core/src/main/java/io/seata/core/logger/StackTraceLogger.java
  core/src/main/java/io/seata/core/rpc/DefaultServerMessageListenerImpl.java
  core/src/main/java/io/seata/core/rpc/RemotingServer.java
  core/src/main/java/io/seata/core/rpc/ServerMessageListener.java
  core/src/main/java/io/seata/core/rpc/ServerMessageSender.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractRpcRemoting.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractRpcRemotingServer.java
  core/src/main/java/io/seata/core/rpc/netty/RpcServer.java
  core/src/main/java/io/seata/core/rpc/processor/server/BatchLogHandler.java
  core/src/main/java/io/seata/core/rpc/processor/server/RegRmProcessor.java
  core/src/main/java/io/seata/core/rpc/processor/server/RegTmProcessor.java
  core/src/main/java/io/seata/core/rpc/processor/server/ServerHeartbeatProcessor.java
  core/src/main/java/io/seata/core/rpc/processor/server/ServerOnRequestProcessor.java
  core/src/main/java/io/seata/core/rpc/processor/server/ServerOnResponseProcessor.java
  server/src/main/java/io/seata/server/coordinator/AbstractCore.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/java/io/seata/server/transaction/at/ATCore.java
  server/src/main/java/io/seata/server/transaction/saga/SagaCore.java
  server/src/main/java/io/seata/server/transaction/tcc/TccCore.java
  server/src/main/java/io/seata/server/transaction/xa/XACore.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoordinatorTest.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoreTest.java
Labels: module/core, module/server

#2770 optimize: TCC two phase method return type supports void.
  tcc/src/main/java/io/seata/rm/tcc/TCCResourceManager.java
Labels: module/rm

#2788 optimize: optimize seata-server log pattern and support for colored log.
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  core/src/main/java/io/seata/core/constants/DefaultValues.java
  core/src/main/java/io/seata/core/rpc/netty/RpcServerBootstrap.java
  server/src/main/java/io/seata/server/ParameterParser.java
  server/src/main/java/io/seata/server/Server.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/java/io/seata/server/env/ContainerHelper.java
  server/src/main/java/io/seata/server/env/PortHelper.java
  server/src/main/java/io/seata/server/logging/listener/SystemPropertyLoggerContextListener.java
  server/src/main/java/io/seata/server/logging/logback/ColorConverter.java
  server/src/main/java/io/seata/server/logging/logback/ExtendedWhitespaceThrowableProxyConverter.java
  server/src/main/java/io/seata/server/logging/logback/WhitespaceThrowableProxyConverter.java
  server/src/main/java/io/seata/server/logging/logback/ansi/AnsiColor.java
  server/src/main/java/io/seata/server/logging/logback/ansi/AnsiElement.java
  server/src/main/java/io/seata/server/logging/logback/ansi/AnsiOutput.java
  server/src/main/java/io/seata/server/logging/logback/ansi/AnsiStyle.java
  server/src/main/resources/logback.xml
Labels: module/server

#2812 bugfix: fix get PostgreSQL tableMeta error when using sharding JDBC
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/ColumnMeta.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/PostgresqlTableMetaCache.java
Labels: first-time contributor, module/rm datasource

#2611 optimize: increase the cache of configuration values
  config/seata-config-apollo/src/main/java/io/seata/config/apollo/ApolloConfiguration.java
  config/seata-config-consul/src/main/java/io/seata/config/consul/ConsulConfiguration.java
  config/seata-config-core/pom.xml
  config/seata-config-core/src/main/java/io/seata/config/AbstractConfiguration.java
  config/seata-config-core/src/main/java/io/seata/config/Configuration.java
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationCache.java
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationFactory.java
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationKeys.java
  config/seata-config-core/src/main/java/io/seata/config/FileConfiguration.java
  config/seata-config-custom/src/test/java/io/seata/config/CustomConfigurationForTest.java
  config/seata-config-custom/src/test/java/io/seata/config/CustomConfigurationTest.java
  config/seata-config-etcd3/src/main/java/io/seata/config/etcd3/EtcdConfiguration.java
  config/seata-config-nacos/src/main/java/io/seata/config/nacos/NacosConfiguration.java
  config/seata-config-spring-cloud/src/main/java/io/seata/config/springcloud/SpringCloudConfiguration.java
  config/seata-config-zk/src/main/java/io/seata/config/zk/ZookeeperConfiguration.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/registry/RegistryService.java
  discovery/seata-discovery-core/src/test/java/io/seata/config/ConfigurationFactoryTest.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/provider/SpringBootConfigurationProvider.java
  seata-spring-boot-starter/src/test/java/io/seata/spring/boot/autoconfigure/RedisAutoInjectionTypeConvertTest.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionScanner.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionalInterceptor.java
Labels: module/config

#2816 optimize: optimize create clazz instance
  common/src/main/java/io/seata/common/loader/EnhancedServiceLoader.java
Labels: module/common

#2787 optimize: Modify workerid generation method
  common/src/main/java/io/seata/common/util/IdWorker.java
  common/src/main/java/io/seata/common/util/NumberUtils.java
  server/src/main/java/io/seata/server/ParameterParser.java
  server/src/main/java/io/seata/server/env/ContainerHelper.java
Labels: first-time contributor, module/server

#2776 optimize: paramsPlaceHolder generate by StringUtils.repeat()
  server/src/main/java/io/seata/server/storage/db/store/LogStoreDataBaseDAO.java
Labels: module/server

#2799 optimize: code opt format
  common/src/main/java/io/seata/common/util/CollectionUtils.java
  common/src/main/java/io/seata/common/util/NetUtil.java
  common/src/test/java/io/seata/common/exception/FrameworkExceptionTest.java
  config/seata-config-apollo/src/main/java/io/seata/config/apollo/ApolloConfiguration.java
  config/seata-config-consul/src/main/java/io/seata/config/consul/ConsulConfiguration.java
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationFactory.java
  config/seata-config-core/src/main/java/io/seata/config/FileConfiguration.java
  config/seata-config-etcd3/src/main/java/io/seata/config/etcd3/EtcdConfiguration.java
  config/seata-config-nacos/src/main/java/io/seata/config/nacos/NacosConfiguration.java
  config/seata-config-spring-cloud/src/main/java/io/seata/config/springcloud/SpringCloudConfiguration.java
  config/seata-config-zk/src/main/java/io/seata/config/zk/ZookeeperConfiguration.java
  core/src/main/java/io/seata/core/exception/TransactionExceptionCode.java
  core/src/main/java/io/seata/core/model/BranchStatus.java
  core/src/main/java/io/seata/core/model/GlobalStatus.java
  core/src/main/java/io/seata/core/rpc/ChannelManager.java
  core/src/main/java/io/seata/core/rpc/DefaultServerMessageListenerImpl.java
  core/src/main/java/io/seata/core/rpc/RpcContext.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractRpcRemotingServer.java
  core/src/main/java/io/seata/core/rpc/netty/NettyBaseConfig.java
  core/src/main/java/io/seata/core/rpc/netty/NettyClientChannelManager.java
  core/src/main/java/io/seata/core/rpc/netty/NettyPoolableFactory.java
  core/src/main/java/io/seata/core/rpc/netty/RmRpcClient.java
  core/src/main/java/io/seata/core/rpc/netty/RpcClientBootstrap.java
  core/src/main/java/io/seata/core/rpc/netty/RpcServerBootstrap.java
  core/src/main/java/io/seata/core/rpc/netty/TmRpcClient.java
  discovery/seata-discovery-consul/src/main/java/io/seata/discovery/registry/consul/ConsulRegistryServiceImpl.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/registry/FileRegistryServiceImpl.java
  discovery/seata-discovery-etcd3/src/main/java/io/seata/discovery/registry/etcd3/EtcdRegistryServiceImpl.java
  discovery/seata-discovery-eureka/src/main/java/io/seata/discovery/registry/eureka/EurekaRegistryServiceImpl.java
  discovery/seata-discovery-nacos/src/main/java/io/seata/discovery/registry/nacos/NacosRegistryServiceImpl.java
  discovery/seata-discovery-redis/src/main/java/io/seata/discovery/registry/redis/RedisRegistryServiceImpl.java
  discovery/seata-discovery-sofa/src/main/java/io/seata/discovery/registry/sofa/SofaRegistryServiceImpl.java
  discovery/seata-discovery-zk/src/main/java/io/seata/discovery/registry/zk/ZookeeperRegisterServiceImpl.java
  integration/http/src/test/java/io/seata/integration/http/MockWebServer.java
  integration/motan/src/main/java/io/seata/integration/motan/MotanTransactionFilter.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/PostgresqlTableMetaCache.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/mysql/keyword/MySQLKeywordChecker.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/oracle/keyword/OracleKeywordChecker.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/postgresql/keyword/PostgresqlKeywordChecker.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/SeataProperties.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/SpringCloudAlibabaConfiguration.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/provider/SpringBootConfigurationProvider.java
  serializer/seata-serializer-seata/src/main/java/io/seata/serializer/seata/MessageCodecFactory.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/java/io/seata/server/session/BranchSession.java
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/main/java/io/seata/server/storage/db/store/DataBaseTransactionStoreManager.java
  server/src/main/java/io/seata/server/storage/file/store/FileTransactionStoreManager.java
  server/src/main/java/io/seata/server/storage/redis/JedisPooledFactory.java
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLocker.java
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
  server/src/test/java/WriteStoreTest.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoreTest.java
  server/src/test/java/io/seata/server/store/file/FileTransactionStoreManagerTest.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionalInterceptor.java
  spring/src/main/java/io/seata/spring/annotation/datasource/SeataAutoDataSourceProxyAdvice.java
  tcc/src/main/java/io/seata/rm/tcc/interceptor/ActionInterceptorHandler.java
Labels: module/common

#2760 bugfix: TM rollback fail throw the seata exception, rollback retrying throw NPE
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionalInterceptor.java
  tm/src/main/java/io/seata/tm/api/DefaultFailureHandlerImpl.java
  tm/src/main/java/io/seata/tm/api/FailureHandler.java
  tm/src/main/java/io/seata/tm/api/TransactionalTemplate.java
Labels: module/spring, module/tm

#2808 feature: server check auth support SPI
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  core/src/main/java/io/seata/core/constants/DefaultValues.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractRpcRemotingServer.java
  core/src/main/java/io/seata/core/rpc/netty/RpcServer.java
  core/src/main/java/io/seata/core/rpc/processor/server/RegRmProcessor.java
  core/src/main/java/io/seata/core/rpc/processor/server/RegTmProcessor.java
  server/src/main/java/io/seata/server/auth/AbstractCheckAuthHandler.java
  server/src/main/java/io/seata/server/auth/DefaultCheckAuthHandler.java
  server/src/main/resources/META-INF/services/io.seata.core.rpc.netty.RegisterCheckAuthHandler
  server/src/main/resources/file.conf.example
Labels: module/server

#2829 optimize: downgrade check unlock and asynchronous
  core/pom.xml
  core/src/main/java/io/seata/core/event/GuavaEventBus.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionalInterceptor.java
  spring/src/main/java/io/seata/spring/event/DegradeCheckEvent.java
Labels: module/spring

#2620 feature: support group configuration in nacos registry
  discovery/seata-discovery-nacos/src/main/java/io/seata/discovery/registry/nacos/NacosRegistryServiceImpl.java
  script/client/conf/registry.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/registry/RegistryNacosProperties.java
  seata-spring-boot-starter/src/test/java/io/seata/spring/boot/autoconfigure/PropertiesTest.java
  server/src/main/resources/registry.conf
Labels: first-time contributor, module/discovery, module/seata spring boot starter

#2616 feature: TCC adapter for Dubbo And Sofa reference annotation
  spring/src/main/java/io/seata/spring/tcc/TccAnnotationProcessor.java
  spring/src/main/java/io/seata/spring/util/TCCBeanParserUtils.java
Labels: module/spring

#2837 bugfix: fix wrong constant used in the saga SubStateMachineHandler
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/handlers/SubStateMachineHandler.java
  test/src/test/java/io/seata/saga/engine/db/StateMachineDBTests.java
Labels: module/saga

#2839 bugfix: fix business exception is lost when compensation succeed in saga mode
  saga/seata-saga-engine-store/src/main/java/io/seata/saga/engine/store/db/DbAndReportTcStateLogStore.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/handlers/CompensationTriggerStateHandler.java
  saga/seata-saga-processctrl/src/main/java/io/seata/saga/proctrl/HierarchicalProcessContext.java
  saga/seata-saga-processctrl/src/main/java/io/seata/saga/proctrl/ProcessContext.java
  saga/seata-saga-processctrl/src/main/java/io/seata/saga/proctrl/impl/ProcessContextImpl.java
Labels: module/saga

#2650 bugfix: fix TCC and Saga branches will also parse SQL in AbsConnectionProxy
  core/src/main/java/io/seata/core/context/RootContext.java
  integration/dubbo-alibaba/src/main/java/io/seata/integration/dubbo/alibaba/AlibabaDubboTransactionPropagationFilter.java
  integration/dubbo/src/main/java/io/seata/integration/dubbo/ApacheDubboTransactionPropagationFilter.java
  rm-datasource/src/main/java/io/seata/rm/datasource/AbstractConnectionProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/ExecuteTemplate.java
Labels: module/integration, module/rm datasource
