Repository apache/incubator-seata, pull requests merged in 2020-05, with the labels that each got.

#2639 bugfix:fix Apollo configuration load fail due to camel style
  config/seata-config-apollo/src/main/java/io/seata/config/apollo/ApolloConfiguration.java
Labels: first-time contributor

#2683 optimize: optimize TccActionInterceptor log print
  spring/src/main/java/io/seata/spring/tcc/TccActionInterceptor.java
Labels: first-time contributor

#2699 Feature: compatible with acm
  config/seata-config-nacos/src/main/java/io/seata/config/nacos/NacosConfiguration.java
Labels: module/config

#2044 optimize: optimize ColumnUtils.addEscape method performance
  rm-datasource/src/main/java/io/seata/rm/datasource/ColumnUtils.java
Labels: module/rm datasource

#2730 optimize: optimize get config type from configuration
  config/seata-config-core/src/main/java/io/seata/config/ConfigType.java
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationFactory.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/registry/RegistryType.java
  metrics/seata-metrics-core/src/main/java/io/seata/metrics/exporter/ExporterType.java
  metrics/seata-metrics-core/src/main/java/io/seata/metrics/registry/RegistryType.java
Labels: first-time contributor, module/config

#2603 bugfix: can not get generated keys value.
  rm-datasource/src/main/java/io/seata/rm/datasource/AbstractStatementProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/StatementProxyTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/MySQLInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/OracleInsertExecutorTest.java
Labels: module/rm datasource

#2708 bugfix: support jdbc type array, datalink etc.
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/serial/SerialArray.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/TableRecords.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoExecutor.java
Labels: AT, module/rm datasource

#2723 optimize: optimize get table meta in postgre sql
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/PostgresqlTableMetaCache.java
Labels: module/rm datasource

#2749 optimize: logger class miswrite
  saga/seata-saga-processctrl/src/main/java/io/seata/saga/proctrl/process/impl/CustomizeBusinessProcessor.java
Labels: first-time contributor, module/saga
