Repository apache/incubator-seata, pull requests merged in 2020-12, with the labels that each got.

#3319 optimize: delete unnecessary @Sharable
  core/src/main/java/io/seata/core/rpc/netty/RmNettyRemotingClient.java
  core/src/main/java/io/seata/core/rpc/netty/TmNettyRemotingClient.java
Labels: module/core, waitting-to-merge

#3313 optimize: replace StringBuffer to StringBuilder
  integration/http/src/test/java/io/seata/integration/http/MockResponse.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/sequence/SpringJvmUUIDSeqGenerator.java
Labels: waitting-to-merge

#3335 optimize: modify TransactionPropagationInterceptor name
  integration/http/src/main/java/io/seata/integration/http/TransactionPropagationInterceptor.java
  integration/http/src/test/java/io/seata/integration/http/MockWebServer.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/HttpAutoConfiguration.java
Labels: module/integration, waitting-to-merge

#3310 optimize: enable NamedThreadFactory to get ThreadGroup from the SecurityManager or Current thread
  common/src/main/java/io/seata/common/thread/NamedThreadFactory.java
  common/src/test/java/io/seata/common/thread/NamedThreadFactoryTest.java
Labels: module/common

#3287 bugfix:throw exception when update pk
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/MultiExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/MultiUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/UpdateExecutor.java
Labels: module/rm-datasource

#3281 bugfix: fix wrong status when exception
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/strategy/impl/DefaultStatusDecisionStrategy.java
Labels: module/saga

#2949 bugfix: fix throw NPE when get the state list
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/handlers/CompensationTriggerStateHandler.java
Labels: mode: SAGA, type: optimize

#3349 bugfix: the problem test case
  server/src/test/java/io/seata/server/coordinator/DefaultCoordinatorMetricsTest.java
Labels: module/test

#3325 bugfix: fix retry commit unsuccess when record subMachineInst failed
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/handlers/SubStateMachineHandler.java
Labels: module/saga

#3359 bugfix: temporarily cancels unwanted test case
  core/src/test/java/io/seata/core/context/RootContextTest.java
Labels: module/test

#3365 optimize: optimize ParameterParserTest test case failed
  server/src/main/java/io/seata/server/ParameterParser.java
  server/src/test/java/io/seata/server/ParameterParserTest.java
Labels: module/test

#3291 optimize: mysql jdbc connect param
  rm-datasource/src/test/java/io/seata/rm/datasource/mock/MockDataSource.java
  script/config-center/config.txt
  script/server/config/file.conf
  script/server/config/file.properties
  script/server/config/file.yml
  server/src/main/resources/file.conf
  server/src/main/resources/file.conf.example
  server/src/test/resources/file.conf
Labels: module/config

#3336 optimize: get netty config property from system properties.
  core/src/main/java/io/seata/core/rpc/netty/NettyServerConfig.java
Labels: module/core

#3175 optimize: improve UUIDGenerator using "history time" version of snowflake algorithm
  common/src/main/java/io/seata/common/util/IdWorker.java
  common/src/test/java/io/seata/common/util/IdWorkerTest.java
  server/src/main/java/io/seata/server/ParameterParser.java
  server/src/main/java/io/seata/server/UUIDGenerator.java
Labels: module/common, module/server, type: optimize

#3293 bugfix: configuration cache get value cast exception.
  common/src/test/java/io/seata/common/BranchDO.java
  common/src/test/java/io/seata/common/rpc/RpcStatusTest.java
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationCache.java
  config/seata-config-core/src/test/java/io.seata.config/ConfigurationCacheTests.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/h2/keyword/H2KeywordChecker.java
Labels: module/config

#3258 bugfix: fix AsyncWorker potential OOM problem
  rm-datasource/src/main/java/io/seata/rm/datasource/AsyncWorker.java
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceManager.java
  rm-datasource/src/test/java/io/seata/rm/datasource/AsyncWorkerTest.java
Labels: module/rm-datasource, type: bug

#3341 optimize: get config from file system even without file: prefix
  config/seata-config-core/src/main/java/io/seata/config/FileConfiguration.java
Labels: first-time contributor, module/config

#3381 test: test case for tmClient
  tm/src/test/java/io/seata/tm/TMClientTest.java
Labels: first-time contributor

#3241 bugfix: forbidden use order by or limit in multi sql
  .github/workflows/build.yml
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/MultiDeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/MultiUpdateExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/MultiExecutorTest.java
Labels: module/rm-datasource

#3303 feature:Support to obtain multiple configurations through a single dataid in Nacos
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  config/seata-config-nacos/src/main/java/io/seata/config/nacos/NacosConfiguration.java
  script/client/conf/registry.conf
  script/server/config/registry.conf
  script/server/config/registry.properties
  script/server/config/registry.yml
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/config/ConfigNacosProperties.java
  server/src/main/resources/registry.conf
Labels: first-time contributor, module/config

#3380 optimize: globalTransactionScanner listener optimize
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionScanner.java
Labels: module/spring, type: optimize

#3123 optimize: The server directory is build by version, and build only when the profile is 'release-seata'
  .gitignore
  distribution/pom.xml
  server/pom.xml
Labels: type: optimize

#3418 bugfix: fix getGeneratedKeys may get history pk
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/AbstractStatementProxy.java
Labels: module/rm-datasource, type: bug

#3316 optimize:the property bean may not be initialized while reading config value
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/PropertyBeanPostProcessor.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/SeataAutoConfiguration.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/StarterConstants.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/provider/SpringBootConfigurationProvider.java
  seata-spring-boot-starter/src/test/java/io/seata/spring/boot/autoconfigure/PropertyBeanPostProcessorTest.java
  seata-spring-boot-starter/src/test/java/io/seata/spring/boot/autoconfigure/RedisAutoInjectionTypeConvertTest.java
Labels: module/seata-spring-boot-starter

#3348 feature: support redis sentinel mode
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  script/client/spring/application.properties
  script/config-center/config.txt
  script/server/config/file.conf
  script/server/config/file.properties
  script/server/config/file.yml
  server/src/main/java/io/seata/server/storage/redis/JedisPooledFactory.java
  server/src/main/resources/file.conf
Labels: TC/store, module/server, type: feature

#3420 optimize:optimize enumerated classes and add unit tests
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/exception/TransactionExceptionCode.java
  core/src/main/java/io/seata/core/model/BranchStatus.java
  core/src/main/java/io/seata/core/model/GlobalStatus.java
  core/src/test/java/io/seata/core/model/BranchStatusTest.java
  core/src/test/java/io/seata/core/model/GlobalStatusTest.java
  core/src/test/java/io/seata/core/model/TransactionExceptionCodeTest.java
Labels: first-time contributor, module/core, type: optimize

#2667 feature: support password decryption
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/util/ConfigTools.java
  common/src/test/java/io/seata/common/util/ConfigToolsTest.java
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  core/src/main/java/io/seata/core/store/db/AbstractDataSourceProvider.java
  script/config-center/config.txt
  server/src/main/java/io/seata/server/storage/redis/JedisPooledFactory.java
  server/src/main/resources/file.conf
Labels: module/core
