Repository apache/incubator-seata, pull requests merged in 2020-11, with the labels that each got.

#3246 bugfix: fix the exception when limit condition contains VariantRefExpr
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/DeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/UpdateExecutor.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/WhereRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/BaseMySQLRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLDeleteRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/MySQLDeleteRecognizerTest.java
Labels: module/rm-datasource

#3188 optimize: Local variable 'map' is redundant and check queue offer return value
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemotingClient.java
Labels: module/core

#2879 bugfix: fix deadlock during springboot project startup
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/SeataAutoConfiguration.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/StarterConstants.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/provider/SpringBootConfigurationProvider.java
  seata-spring-boot-starter/src/test/java/io/seata/spring/boot/autoconfigure/RedisAutoInjectionTypeConvertTest.java
Labels: module/seata-spring-boot-starter

#3247 optimize: change client.log.exceptionRate to log.exceptionRate
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  script/client/conf/file.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  script/config-center/config.txt
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/StarterConstants.java
  seata-spring-boot-starter/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: first-time contributor, module/core

#3254 bugfix: clear the listener map of zk registry
  discovery/seata-discovery-zk/src/main/java/io/seata/discovery/registry/zk/ZookeeperRegisterServiceImpl.java
Labels: first-time contributor, module/discovery
