Repository apache/incubator-seata, pull requests merged in 2020-07, with the labels that each got.

#2817 Feature: Saga StateMachine Engine and Designer support Groovy Script Task
  bom/pom.xml
  saga/pom.xml
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/StateMachineConfig.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/impl/DefaultStateMachineConfig.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/impl/ProcessCtrlStateMachineEngine.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/StateMachineProcessHandler.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/StateMachineProcessRouter.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/handlers/ScriptTaskStateHandler.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/handlers/ServiceTaskStateHandler.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/handlers/SubStateMachineHandler.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/interceptors/ScriptTaskHandlerInterceptor.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/interceptors/ServiceTaskHandlerInterceptor.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/utils/EngineUtils.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/utils/ParameterUtils.java
  saga/seata-saga-engine/src/main/resources/META-INF/services/io.seata.saga.engine.pcext.StateHandlerInterceptor
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/domain/DomainConstants.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/domain/ScriptTaskState.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/domain/impl/AbstractTaskState.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/domain/impl/ScriptTaskStateImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/domain/impl/ServiceTaskStateImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/StateParserFactory.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/impl/ScriptTaskStateParser.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/utils/DesignerJsonTransformer.java
  saga/seata-saga-statelang/src/test/resources/statelang/simple_statemachine.json
  saga/seata-saga-statemachine-designer/src/Flow/WorkSpace.js
  saga/seata-saga-statemachine-designer/src/components/EditorItemPanel/FlowItemPanel.js
  test/src/test/java/io/seata/saga/engine/StateMachineAsyncTests.java
  test/src/test/java/io/seata/saga/engine/StateMachineTests.java
  test/src/test/java/io/seata/saga/engine/db/mockserver/StateMachineDBMockServerTests.java
  test/src/test/java/io/seata/saga/engine/mock/MockStateHandlerInterceptor.java
  test/src/test/java/io/seata/saga/engine/mock/MockStateRouterInterceptor.java
  test/src/test/resources/saga/statelang/designer_simple_statelang_with_script.json
  test/src/test/resources/saga/statelang/simple_statelang_with_script.json
Labels: module/saga

#2831 feature: Saga support jackson json parser
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  core/src/main/java/io/seata/core/constants/DefaultValues.java
  saga/pom.xml
  saga/seata-saga-engine-store/src/main/java/io/seata/saga/engine/config/DbStateMachineConfig.java
  saga/seata-saga-engine-store/src/main/java/io/seata/saga/engine/serializer/impl/ParamsFastjsonSerializer.java
  saga/seata-saga-engine-store/src/main/java/io/seata/saga/engine/serializer/impl/ParamsSerializer.java
  saga/seata-saga-engine-store/src/main/java/io/seata/saga/engine/store/db/DbAndReportTcStateLogStore.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/domain/DomainConstants.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/JsonParser.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/JsonParserFactory.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/impl/FastjsonParser.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/impl/JacksonJsonParser.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/impl/StateMachineParserImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/utils/DesignerJsonTransformer.java
  saga/seata-saga-statelang/src/main/resources/META-INF/services/io.seata.saga.statelang.parser.JsonParser
  saga/seata-saga-statelang/src/test/java/io/seata/saga/statelang/parser/StateParserTests.java
  test/src/test/java/io/seata/saga/engine/db/StateMachineDBTests.java
  test/src/test/java/io/seata/saga/engine/db/mockserver/StateMachineDBMockServerTests.java
  test/src/test/resources/file.conf
  test/src/test/resources/saga/spring/statemachine_engine_db_test.xml
Labels: module/saga

#2398 feature: support Multi pk
  rm-datasource/pom.xml
  rm-datasource/src/main/java/io/seata/rm/datasource/AbstractConnectionProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/DataCompareUtils.java
  rm-datasource/src/main/java/io/seata/rm/datasource/SqlGenerateUtils.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/InsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/MultiUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/SelectForUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/UpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/oracle/OracleInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/postgresql/PostgresqlInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/Row.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/TableMeta.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/TableRecords.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/KeywordCheckerFactory.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/mysql/MySQLUndoDeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/mysql/MySQLUndoInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/mysql/MySQLUndoUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/oracle/OracleUndoDeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/oracle/OracleUndoInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/oracle/OracleUndoUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/postgresql/PostgresqlUndoDeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/postgresql/PostgresqlUndoInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/postgresql/PostgresqlUndoUpdateExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/DataCompareUtilsTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/BaseTransactionalExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/BatchInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/MySQLInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/OracleInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/PostgresqlInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/struct/TableMetaTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/struct/cache/MysqlTableMetaCacheTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/AbstractUndoExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/BaseH2Test.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/UndoExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/h2/keyword/H2KeywordChecker.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/mysql/MySQLUndoDeleteExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/mysql/MySQLUndoInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/mysql/MySQLUndoUpdateExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/mysql/keyword/MySQLKeywordCheckerTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/oracle/OracleUndoDeleteExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/oracle/OracleUndoInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/oracle/OracleUndoUpdateExecutorTest.java
  rm-datasource/src/test/resources/META-INF/services/io.seata.rm.datasource.undo.KeywordChecker
  rm/pom.xml
Labels: first-time contributor, kind/feature, module/rm datasource

#2622 feature: support version valid check
  core/src/main/java/io/seata/core/protocol/AbstractIdentifyRequest.java
  core/src/main/java/io/seata/core/protocol/AbstractIdentifyResponse.java
  core/src/main/java/io/seata/core/protocol/Version.java
  core/src/main/java/io/seata/core/rpc/DefaultServerMessageListenerImpl.java
  core/src/main/java/io/seata/core/rpc/netty/NettyPoolableFactory.java
  core/src/main/java/io/seata/core/rpc/netty/RmRpcClient.java
  core/src/main/java/io/seata/core/rpc/netty/TmRpcClient.java
  core/src/main/java/io/seata/core/rpc/processor/server/RegRmProcessor.java
  core/src/main/java/io/seata/core/rpc/processor/server/RegTmProcessor.java
Labels: module/core

#2242 optimize: optimize PreparedStatementProxy initialization logic
  rm-datasource/src/main/java/io/seata/rm/datasource/AbstractPreparedStatementProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/PreparedStatementProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseInsertExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/PreparedStatementProxyTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/BatchInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/MySQLInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/OracleInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/PostgresqlInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/druid/oracle/OracleDeleteRecognizerTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/druid/oracle/OracleSelectForUpdateRecognizerTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/druid/oracle/OracleUpdateRecognizerTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/druid/postgresql/PostgresqlDeleteRecognizerTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/druid/postgresql/PostgresqlSelectForUpdateRecognizerTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/druid/postgresql/PostgresqlUpdateRecognizerTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/mysql/MySQLUndoLogManagerTest.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/ParametersHolder.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/BaseMySQLRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/BaseOracleRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/BasePostgresqlRecognizer.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/MySQLDeleteRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/MySQLSelectForUpdateRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/MySQLUpdateRecognizerTest.java
Labels: module/rm datasource, module/sqlparser

#2875 bugfix: ColumnUtils delEscape with scheme error.
  rm-datasource/src/main/java/io/seata/rm/datasource/ColumnUtils.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/DeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/MultiDeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/MysqlTableMetaCache.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/PostgresqlTableMetaCache.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/KeywordChecker.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/mysql/keyword/MySQLKeywordChecker.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/oracle/keyword/OracleKeywordChecker.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/postgresql/keyword/PostgresqlKeywordChecker.java
  rm-datasource/src/test/java/io/seata/rm/datasource/ColumnUtilsTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/struct/cache/MysqlTableMetaCacheTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/struct/cache/OracleTableMetaCacheTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/struct/cache/PostgresqlTableMetaCacheTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/mysql/keyword/MySQLKeywordCheckerTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/oracle/keyword/OracleKeywordCheckerTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/postgresql/keyword/PostgresqlKeywordCheckerTest.java
Labels: module/rm datasource

#2890 bugfix: fix misspelling in statelang examples
  test/src/test/resources/saga/statelang/simple_statelang_with_catches.json
  test/src/test/resources/saga/statelang/simple_statelang_with_retry.json
  test/src/test/resources/saga/statelang/simple_statelang_with_script.json
Labels: first-time contributor, module/test

#2906 optimize: Added some configuration items to keep consistent with official documents
  core/src/main/java/io/seata/core/constants/DefaultValues.java
  core/src/main/java/io/seata/core/store/db/AbstractDataSourceProvider.java
  server/src/main/java/io/seata/server/storage/db/lock/DataBaseLockManager.java
  server/src/main/java/io/seata/server/storage/db/store/DataBaseTransactionStoreManager.java
Labels: first-time contributor, module/core, module/server

#2900 bugfix: ColumnUtils add escape with scheme.
  rm-datasource/src/main/java/io/seata/rm/datasource/ColumnUtils.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/KeywordChecker.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/postgresql/keyword/PostgresqlKeywordChecker.java
  rm-datasource/src/test/java/io/seata/rm/datasource/ColumnUtilsTest.java
Labels: module/rm datasource

#2910 bugfix:fix error registry type comment
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/registry/RegistryType.java
Labels: first-time contributor, module/discovery

#2920 optimize: optimize some grammatical errors
  README.md
Labels: first-time contributor

#2926 bugfix: fastjson write undo log not parser.
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/FastjsonUndoLogParser.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/parser/FastjsonUndoLogParserTest.java
Labels: module/rm datasource

#2897 bugfix: fix jedis unlock fail
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLocker.java
Labels: TC/store

#2950 feature: support the reentrant lock in redis module
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLocker.java
Labels: TC/store, first-time contributor, module/server
