Repository apache/incubator-seata, pull requests merged in 2021-05, with the labels that each got.

#3700 optimize: optimize the speed of buildLockKey
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/oracle/OracleInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/postgresql/PostgresqlInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/TableRecords.java
Labels: module/rm-datasource, type: optimize

#3374 feature: add a Executor for INSERT ON DUPLICATE KEY UPDATE
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/ExecuteTemplate.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertOrUpdateExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/MySQLInsertOrUpdateExecutorTest.java
  sqlparser/seata-sqlparser-antlr/src/main/java/io/seata/sqlparser/antlr/mysql/AntlrMySQLInsertRecognizer.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/SQLInsertRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLInsertRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/OracleInsertRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/PostgresqlInsertRecognizer.java
Labels: first-time contributor, module/rm-datasource

#3615 optimize: asynchronous deletion after the transaction is committed
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoreTest.java
Labels: module/server, type: optimize

#3575 feature: support the mixed use of different storages of locks and sessions
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  core/src/main/java/io/seata/core/store/StoreMode.java
  script/config-center/config.txt
  script/server/config/file.conf
  script/server/config/file.properties
  script/server/config/file.yml
  server/src/main/java/io/seata/server/ParameterParser.java
  server/src/main/java/io/seata/server/Server.java
  server/src/main/java/io/seata/server/env/ContainerHelper.java
  server/src/main/java/io/seata/server/lock/LockerManagerFactory.java
  server/src/main/java/io/seata/server/session/SessionHolder.java
  server/src/main/resources/file.conf
Labels: module/server, type: feature

#3702 bugfix: fix some comments
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/rpc/netty/RmNettyRemotingClient.java
Labels: type: bug

#3626 optimize: remove repeat change status
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoLogManager.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/session/GlobalSession.java
Labels: module/server, type: optimize

#3528 optimize: optimize the memory footprint of redis mode
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/store/BranchTransactionDO.java
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
  server/src/test/java/io/seata/server/session/redis/RedisSessionManagerTest.java
Labels: module/server, type: optimize

#3472 feature: support RedisLocker#acquireLock use LUA mode
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/io/FileLoader.java
  core/src/main/java/io/seata/core/lock/AbstractLocker.java
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLocker.java
  server/src/main/resources/lua/redislocker/redislock.lua
Labels: module/server

#3064 feature: support configuring the order of the TM and TCC interceptor
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/DefaultValues.java
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  script/client/conf/file.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  script/config-center/config.txt
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/client/RmProperties.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/client/TmProperties.java
  seata-spring-boot-starter/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionScanner.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionalInterceptor.java
  spring/src/main/java/io/seata/spring/annotation/SeataInterceptor.java
  spring/src/main/java/io/seata/spring/annotation/SeataInterceptorPosition.java
  spring/src/main/java/io/seata/spring/tcc/TccActionInterceptor.java
  spring/src/main/java/io/seata/spring/util/OrderUtil.java
  spring/src/test/java/io/seata/spring/util/MockAdvice1.java
  spring/src/test/java/io/seata/spring/util/MockAdvice2.java
  spring/src/test/java/io/seata/spring/util/MockAdvisor.java
  spring/src/test/java/io/seata/spring/util/MockAnnotationOrdered.java
  spring/src/test/java/io/seata/spring/util/MockOrdered.java
  spring/src/test/java/io/seata/spring/util/OrderUtilTest.java
Labels: theme: config, type: feature

#3716 bugfix:fix the problem in the findTargetClass method
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  spring/src/main/java/io/seata/spring/util/SpringProxyUtils.java
Labels: module/spring, type: bug

#2852 feature: support configuring scan target for GlobalTransactionScanner
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  script/client/spring/application.properties
  script/client/spring/application.yml
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/SeataAutoConfiguration.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/SeataProperties.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionScanner.java
  spring/src/main/java/io/seata/spring/annotation/ScannerChecker.java
  spring/src/main/java/io/seata/spring/annotation/scannercheckers/ConfigBeansScannerChecker.java
  spring/src/main/java/io/seata/spring/annotation/scannercheckers/PackageScannerChecker.java
  spring/src/main/java/io/seata/spring/annotation/scannercheckers/ScopeBeansScannerChecker.java
  spring/src/main/resources/META-INF/services/io.seata.spring.annotation.ScannerChecker
Labels: module/seata-spring-boot-starter, module/spring, type: feature

#3642 feature: share TCC's business action context to phase 2 with api
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/store/db/sql/log/LogStoreSqls.java
  core/src/main/java/io/seata/core/store/db/sql/log/MysqlLogStoreSqls.java
  core/src/main/java/io/seata/core/store/db/sql/log/OracleLogStoreSqls.java
  core/src/main/java/io/seata/core/store/db/sql/log/PostgresqlLogStoreSqls.java
  server/src/main/java/io/seata/server/coordinator/AbstractCore.java
  server/src/main/java/io/seata/server/storage/db/store/LogStoreDataBaseDAO.java
  server/src/main/java/io/seata/server/storage/file/store/FileTransactionStoreManager.java
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
  tcc/src/main/java/io/seata/rm/tcc/api/BusinessActionContext.java
  tcc/src/main/java/io/seata/rm/tcc/api/BusinessActionContextUtil.java
  tcc/src/main/java/io/seata/rm/tcc/api/TwoPhaseBusinessAction.java
  tcc/src/main/java/io/seata/rm/tcc/interceptor/ActionInterceptorHandler.java
Labels: first-time contributor, mode: TCC, module/tcc, type: feature

#3722 optimize: the basic code of distributed lock
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/XID.java
  common/src/test/java/io/seata/common/XIDTest.java
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  core/src/main/java/io/seata/core/store/DistributedLockDO.java
  core/src/main/java/io/seata/core/store/DistributedLocker.java
  script/config-center/config.txt
  server/src/main/resources/file.conf.example
Labels: module/server, type: optimize

#3695 bugfix: fix mariadb unable to create XA connection
  bom/pom.xml
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/pom.xml
  rm-datasource/src/main/java/io/seata/rm/datasource/util/XAUtils.java
  rm-datasource/src/test/java/io/seata/rm/xa/DataSourceProxyXATest.java
Labels: mode: XA, module/rm-datasource, type: bug

#3735 optimize: do not load `LoadBalance` if not necessary
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemotingClient.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/loadbalance/AbstractLoadBalance.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/loadbalance/ConsistentHashLoadBalance.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/loadbalance/LeastActiveLoadBalance.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/loadbalance/RandomLoadBalance.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/loadbalance/RoundRobinLoadBalance.java
Labels: RPC, module/core, type: optimize

#3627 optimize: use TreeMap instead of the LinkedHashMap in TableMeta to compatible high level MySQL
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/TableMeta.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/MysqlTableMetaCache.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/OracleTableMetaCache.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/PostgresqlTableMetaCache.java
Labels: module/rm-datasource, type: optimize

#3760 optimize: opt the logback's config of `seata-server`
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  distribution/bin/seata-server.bat
  distribution/bin/seata-server.sh
  distribution/release-seata.xml
  server/pom.xml
  server/src/main/java/io/seata/server/Server.java
  server/src/main/java/io/seata/server/ServerApplication.java
  server/src/main/java/io/seata/server/logging/listener/SystemPropertyLoggerContextListener.java
  server/src/main/java/io/seata/server/logging/logback/ColorConverter.java
  server/src/main/java/io/seata/server/logging/logback/ExtendedWhitespaceThrowableProxyConverter.java
  server/src/main/java/io/seata/server/logging/logback/WhitespaceThrowableProxyConverter.java
  server/src/main/java/io/seata/server/logging/logback/ansi/AnsiColor.java
  server/src/main/java/io/seata/server/logging/logback/ansi/AnsiElement.java
  server/src/main/java/io/seata/server/logging/logback/ansi/AnsiOutput.java
  server/src/main/java/io/seata/server/logging/logback/ansi/AnsiStyle.java
  server/src/main/resources/META-INF/spring-configuration-metadata.json
  server/src/main/resources/application.example.yml
  server/src/main/resources/application.yml
  server/src/main/resources/logback-spring.xml
  server/src/main/resources/logback/console-appender.xml
  server/src/main/resources/logback/file-appender.xml
  server/src/main/resources/logback/kafka-appender.xml
  server/src/main/resources/logback/logstash-appender.xml
Labels: module/server

#3738 optimize: `JacksonUndoLogParser` supports to parsing `LocalDateTime`
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/JacksonUndoLogParser.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/parser/JacksonUndoLogParserTest.java
Labels: mode: AT, module/rm, type: optimize

#3545 feature: TCC mode support idempotent and anti hanging
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/Constants.java
  common/src/main/java/io/seata/common/exception/FrameworkErrorCode.java
  script/client/spring/application.properties
  script/client/spring/application.yml
  script/client/tcc/db/mysql.sql
  script/client/tcc/db/oracle.sql
  script/client/tcc/db/postgresql.sql
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/SeataTCCFenceAutoConfiguration.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/resources/META-INF/spring.factories
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/StarterConstants.java
  tcc/pom.xml
  tcc/src/main/java/io/seata/rm/tcc/TCCFenceHandler.java
  tcc/src/main/java/io/seata/rm/tcc/TCCResourceManager.java
  tcc/src/main/java/io/seata/rm/tcc/api/TwoPhaseBusinessAction.java
  tcc/src/main/java/io/seata/rm/tcc/config/TCCFenceConfig.java
  tcc/src/main/java/io/seata/rm/tcc/constant/TCCFenceCleanMode.java
  tcc/src/main/java/io/seata/rm/tcc/constant/TCCFenceConstant.java
  tcc/src/main/java/io/seata/rm/tcc/exception/TCCFenceException.java
  tcc/src/main/java/io/seata/rm/tcc/interceptor/ActionInterceptorHandler.java
  tcc/src/main/java/io/seata/rm/tcc/store/TCCFenceDO.java
  tcc/src/main/java/io/seata/rm/tcc/store/TCCFenceStore.java
  tcc/src/main/java/io/seata/rm/tcc/store/db/TCCFenceStoreDataBaseDAO.java
  tcc/src/main/java/io/seata/rm/tcc/store/db/sql/TCCFenceStoreSqls.java
Labels: first-time contributor, mode: TCC, module/tcc, type: feature

#3770 optimize: close the `Closeable` and optimize some code
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  config/seata-config-core/src/main/java/io/seata/config/file/YamlFileConfig.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertOrUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/JacksonUndoLogParser.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/repo/impl/StateMachineRepositoryImpl.java
  serializer/seata-serializer-seata/src/main/java/io/seata/serializer/seata/protocol/transaction/AbstractBranchEndRequestCodec.java
  serializer/seata-serializer-seata/src/main/java/io/seata/serializer/seata/protocol/transaction/BranchRegisterRequestCodec.java
  serializer/seata-serializer-seata/src/main/java/io/seata/serializer/seata/protocol/transaction/BranchReportRequestCodec.java
  server/src/main/java/io/seata/server/storage/file/store/FileTransactionStoreManager.java
Labels: type: optimize
