Repository apache/incubator-seata, pull requests merged in 2021-08, with the labels that each got.

#3935 optimize: Send redis command at one time using pipeline
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  discovery/seata-discovery-redis/src/main/java/io/seata/discovery/registry/redis/RedisRegistryServiceImpl.java
Labels: module/registry

#3212 optimize: optimize recognize sql in limit and order by
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/DeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/MultiDeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/MultiUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/SelectForUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/UpdateExecutor.java
  sqlparser/seata-sqlparser-antlr/src/main/java/io/seata/sqlparser/antlr/mysql/AntlrMySQLDeleteRecognizer.java
  sqlparser/seata-sqlparser-antlr/src/main/java/io/seata/sqlparser/antlr/mysql/AntlrMySQLSelectRecognizer.java
  sqlparser/seata-sqlparser-antlr/src/main/java/io/seata/sqlparser/antlr/mysql/AntlrMySQLUpdateRecognizer.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/WhereRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/BaseRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/BaseMySQLRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLDeleteRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLSelectForUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/BaseOracleRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/OracleDeleteRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/OracleSelectForUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/OracleUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/BasePostgresqlRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/PostgresqlDeleteRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/PostgresqlSelectForUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/PostgresqlUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/MySQLDeleteRecognizerTest.java
Labels: module/rm-datasource, type: optimize

#3765 optimize: Transfer the operation of adding configuration class from 'AutoConfiguration' to 'EnvironmentPostProcessor'
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/SeataClientEnvironmentPostProcessor.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/SeataTCCFenceAutoConfiguration.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/resources/META-INF/spring.factories
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/SeataCoreAutoConfiguration.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/SeataCoreEnvironmentPostProcessor.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/resources/META-INF/spring.factories
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/SeataServerEnvironmentPostProcessor.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/resources/META-INF/spring.factories
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/SeataAutoConfiguration.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/SeataDataSourceAutoConfiguration.java
Labels: module/config

#3897 bugfix: fix LocalDataTime type in FastjsonUndoLogParser can't be rollback
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/DataCompareUtils.java
Labels: mode: AT

#3907 optimize: optimize set server port
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/DefaultValues.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemotingServer.java
  core/src/main/java/io/seata/core/rpc/netty/NettyServerBootstrap.java
  server/src/main/java/io/seata/server/ParameterParser.java
  server/src/main/java/io/seata/server/Server.java
  server/src/main/java/io/seata/server/ServerApplication.java
  server/src/main/java/io/seata/server/env/ContainerHelper.java
  server/src/main/java/io/seata/server/env/PortHelper.java
  server/src/main/resources/application.example.yml
  server/src/main/resources/application.yml
  server/src/main/resources/logback-spring.xml
  test/src/test/java/io/seata/saga/engine/db/AbstractServerTest.java
Labels: module/server

#3981 optimize: optimize service port priority
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  core/src/main/java/io/seata/core/rpc/netty/NettyServerBootstrap.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/properties/server/ServerProperties.java
  server/src/main/java/io/seata/server/ServerApplication.java
  server/src/main/java/io/seata/server/ServerApplicationRunListener.java
  server/src/main/java/io/seata/server/env/ContainerHelper.java
  server/src/main/java/io/seata/server/logging/listener/SystemPropertyLoggerContextListener.java
  server/src/main/resources/META-INF/spring.factories
  server/src/main/resources/application.example.yml
  server/src/main/resources/application.yml
Labels: module/server

#3978 bugfix: fix NPE cause by future timeout
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/protocol/MessageFuture.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemoting.java
Labels: module/tm

#3988 fixbug: fix Nacos user not found when password has special characters
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  dependencies/pom.xml
Labels: type: bug
