Repository apache/incubator-seata, pull requests merged in 2021-12, with the labels that each got.

#4162 bugfix: correct redis registry built-in properties
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/registry/RegistryHeartBeats.java
  discovery/seata-discovery-redis/src/main/java/io/seata/discovery/registry/redis/RedisRegistryServiceImpl.java
Labels: type: bug, module/discovery

#3497 bugfix: tcc phase two response timeout exception(#3484)
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  core/src/main/java/io/seata/core/rpc/netty/NettyRemotingServer.java
  core/src/main/java/io/seata/core/rpc/netty/NettyServerConfig.java
Labels: first-time contributor, module/core, type: optimize

#4165 bugfix: fix `StringUtils.toString(obj)` throw `ClassCastException` when the obj is primitive data array
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/util/ArrayUtils.java
  common/src/main/java/io/seata/common/util/StringUtils.java
  common/src/test/java/io/seata/common/util/StringUtilsTest.java
Labels: type: bug, module/common

#4169 bugfix: xa mode originalConnection closed
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/AbstractDataSourceProxyXA.java
Labels: type: bug, module/rm-datasource

#4174 bugfix: fix delete undo log connection already closed
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/AsyncWorker.java
Labels: type: bug, module/rm-datasource

#4191 optimize: support rpc timeout can be customized.
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/DefaultValues.java
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemotingClient.java
  core/src/main/java/io/seata/core/rpc/netty/NettyClientConfig.java
  core/src/main/java/io/seata/core/rpc/netty/NettyServerConfig.java
  core/src/main/java/io/seata/core/rpc/netty/RmNettyRemotingClient.java
  core/src/main/java/io/seata/core/rpc/netty/TmNettyRemotingClient.java
  script/client/conf/file.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/TransportProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: module/core, type: optimize

#4134 feature: init the console basic code
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  core/src/main/java/io/seata/core/store/db/sql/lock/AbstractLockStoreSql.java
  core/src/main/java/io/seata/core/store/db/sql/lock/LockStoreSql.java
  core/src/main/java/io/seata/core/store/db/sql/log/AbstractLogStoreSqls.java
  core/src/main/java/io/seata/core/store/db/sql/log/LogStoreSqls.java
  core/src/main/java/io/seata/core/store/db/vo/BranchSessionVO.java
  core/src/main/java/io/seata/core/store/db/vo/GlobalLockVO.java
  core/src/main/java/io/seata/core/store/db/vo/GlobalSessionVO.java
  server/src/main/java/io/seata/server/ServerApplicationListener.java
  server/src/main/java/io/seata/server/console/controller/BranchSessionController.java
  server/src/main/java/io/seata/server/console/controller/GlobalLockController.java
  server/src/main/java/io/seata/server/console/controller/GlobalSessionController.java
  server/src/main/java/io/seata/server/console/impl/db/BranchSessionDBServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/db/GlobalLockDBServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/db/GlobalSessionDBServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/file/BranchSessionFileServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/file/GlobalLockFileServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/file/GlobalSessionFileServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/redis/BranchSessionRedisServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/redis/GlobalLockRedisServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/redis/GlobalSessionRedisServiceImpl.java
  server/src/main/java/io/seata/server/console/result/PageResult.java
  server/src/main/java/io/seata/server/console/result/Result.java
  server/src/main/java/io/seata/server/console/result/SingleResult.java
  server/src/main/java/io/seata/server/console/service/BranchSessionService.java
  server/src/main/java/io/seata/server/console/service/GlobalLockService.java
  server/src/main/java/io/seata/server/console/service/GlobalSessionService.java
Labels: type: feature, module/server, module/console

#4199 bugfix: fix rpc tm request timeout.
  core/src/main/java/io/seata/core/rpc/netty/TmNettyRemotingClient.java
Labels: type: bug, module/core

#4189 bugfix: fix the `kafka-appender.xml` and `logstash-appender.xml`
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/main/resources/logback/file-appender.xml
  server/src/main/resources/logback/kafka-appender.xml
  server/src/main/resources/logback/logstash-appender.xml
Labels: type: bug, module/server

#4213 bugfix: fix code for "sessionMode" not execute problem
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/main/java/io/seata/server/ServerApplicationListener.java
Labels: type: bug, module/server

#4222 bugfix: fix could not rollback when insert field list is empty
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/util/LowerCaseLinkHashMap.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/TableMeta.java
Labels: type: bug, module/rm-datasource

#4220 bugfix: fix some problems with `zstd` compressor and add the version of the `kotlin-maven-plugin`
  all/pom.xml
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/test/resources/META-INF/services/io.seata.common.loader.Hello
  compressor/seata-compressor-zstd/src/main/java/io/seata/compressor/zstd/ZstdCompressor.java
  compressor/seata-compressor-zstd/src/main/java/io/seata/compressor/zstd/ZstdUtil.java
  compressor/seata-compressor-zstd/src/main/resources/META-INF/services/io.seata.core.compressor.Compressor
  compressor/seata-compressor-zstd/src/test/java/io/seata/compressor/zstd/ZstdCompressorTest.java
  compressor/seata-compressor-zstd/src/test/java/io/seata/compressor/zstd/ZstdUtilTest.java
  core/src/main/resources/META-INF/services/io.seata.core.auth.AuthSigner
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/pom.xml
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/pom.xml
  serializer/seata-serializer-protobuf/pom.xml
  spring/pom.xml
Labels: type: bug, type: optimize

#4216 optimize: client check whether undolog table exist before cleaning undolog
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/RMHandlerAT.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoLogManager.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/UndoLogManager.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/oracle/OracleUndoLogManager.java
  rm-datasource/src/test/java/io/seata/rm/RMHandlerATTest.java
Labels: module/rm-datasource, type: optimize

#4212 optimize: simplify the interface of console
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/console/param/BaseParam.java
  core/src/main/java/io/seata/core/console/param/GlobalLockParam.java
  core/src/main/java/io/seata/core/console/param/GlobalSessionParam.java
  core/src/main/java/io/seata/core/console/result/PageResult.java
  core/src/main/java/io/seata/core/console/result/Result.java
  core/src/main/java/io/seata/core/console/result/SingleResult.java
  core/src/main/java/io/seata/core/console/vo/BranchSessionVO.java
  core/src/main/java/io/seata/core/console/vo/GlobalLockVO.java
  core/src/main/java/io/seata/core/console/vo/GlobalSessionVO.java
  server/src/main/java/io/seata/server/console/controller/BranchSessionController.java
  server/src/main/java/io/seata/server/console/controller/GlobalLockController.java
  server/src/main/java/io/seata/server/console/controller/GlobalSessionController.java
  server/src/main/java/io/seata/server/console/impl/db/BranchSessionDBServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/db/GlobalLockDBServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/db/GlobalSessionDBServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/file/BranchSessionFileServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/file/GlobalLockFileServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/file/GlobalSessionFileServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/redis/BranchSessionRedisServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/redis/GlobalLockRedisServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/redis/GlobalSessionRedisServiceImpl.java
  server/src/main/java/io/seata/server/console/service/BranchSessionService.java
  server/src/main/java/io/seata/server/console/service/GlobalLockService.java
  server/src/main/java/io/seata/server/console/service/GlobalSessionService.java
Labels: module/server, type: optimize

#3733 optimize: acquire lock logic
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/Constants.java
  core/src/main/java/io/seata/core/constants/ServerTableColumnsName.java
  core/src/main/java/io/seata/core/exception/TransactionExceptionCode.java
  core/src/main/java/io/seata/core/lock/LocalDBLocker.java
  core/src/main/java/io/seata/core/lock/Locker.java
  core/src/main/java/io/seata/core/model/LockStatus.java
  core/src/main/java/io/seata/core/store/LockDO.java
  core/src/main/java/io/seata/core/store/LockStore.java
  core/src/main/java/io/seata/core/store/db/sql/lock/AbstractLockStoreSql.java
  core/src/main/java/io/seata/core/store/db/sql/lock/H2LockStoreSql.java
  core/src/main/java/io/seata/core/store/db/sql/lock/LockStoreSql.java
  core/src/main/java/io/seata/core/store/db/sql/lock/MysqlLockStoreSql.java
  core/src/main/java/io/seata/core/store/db/sql/lock/OceanbaseLockStoreSql.java
  core/src/main/java/io/seata/core/store/db/sql/lock/OracleLockStoreSql.java
  core/src/main/java/io/seata/core/store/db/sql/lock/PostgresqlLockStoreSql.java
  core/src/main/java/io/seata/core/store/db/sql/log/PostgresqlLogStoreSqls.java
  rm-datasource/src/main/java/io/seata/rm/datasource/ConnectionContext.java
  rm-datasource/src/main/java/io/seata/rm/datasource/ConnectionProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/LockConflictException.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/LockRetryController.java
  rm-datasource/src/test/java/io/seata/rm/datasource/ConnectionProxyTest.java
  script/server/db/mysql.sql
  script/server/db/oracle.sql
  script/server/db/postgresql.sql
  server/src/main/java/io/seata/server/lock/AbstractLockManager.java
  server/src/main/java/io/seata/server/lock/LockManager.java
  server/src/main/java/io/seata/server/lock/distributed/DistributedLockerFactory.java
  server/src/main/java/io/seata/server/session/AbstractSessionManager.java
  server/src/main/java/io/seata/server/session/BranchSession.java
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/main/java/io/seata/server/storage/db/lock/DataBaseLockManager.java
  server/src/main/java/io/seata/server/storage/db/lock/DataBaseLocker.java
  server/src/main/java/io/seata/server/storage/db/lock/LockStoreDataBaseDAO.java
  server/src/main/java/io/seata/server/storage/db/session/DataBaseSessionManager.java
  server/src/main/java/io/seata/server/storage/db/store/DataBaseTransactionStoreManager.java
  server/src/main/java/io/seata/server/storage/db/store/LogStoreDataBaseDAO.java
  server/src/main/java/io/seata/server/storage/file/lock/FileLocker.java
  server/src/main/java/io/seata/server/storage/file/session/FileSessionManager.java
  server/src/main/java/io/seata/server/storage/file/store/FileTransactionStoreManager.java
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLocker.java
  server/src/main/java/io/seata/server/storage/redis/session/RedisSessionManager.java
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
  server/src/main/java/io/seata/server/transaction/at/ATCore.java
  server/src/test/java/io/seata/server/lock/db/DataBaseLockManagerImplTest.java
  server/src/test/java/io/seata/server/lock/db/DataBaseLockStoreDAOTest.java
  server/src/test/java/io/seata/server/session/db/DataBaseSessionManagerTest.java
  server/src/test/java/io/seata/server/store/file/FileTransactionStoreManagerTest.java
  test/src/test/java/io/seata/xa/XAModeTest2.java
Labels: module/rm-datasource, module/server, type: optimize
