Repository apache/incubator-seata, pull requests merged in 2021-11, with the labels that each got.

#4107 bugfix: resolve deadlock problems during project construction
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/registry/RegistryFactory.java
Labels: type: bug, module/registry

#4144 optimize: support default configuration of tx-service-group
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/DefaultValues.java
  config/seata-config-core/src/main/resources/file.conf
  config/seata-config-core/src/test/resources/file-test-pro.conf
  config/seata-config-core/src/test/resources/file-test-yaml.conf
  config/seata-config-core/src/test/resources/file-test.conf
  config/seata-config-core/src/test/resources/file.conf
  core/src/main/java/io/seata/core/rpc/netty/NettyClientChannelManager.java
  core/src/test/java/io/seata/core/rpc/netty/NettyClientChannelManagerTest.java
  discovery/seata-discovery-core/src/test/java/io/seata/discovery/loadbalance/LoadBalanceFactoryTest.java
  discovery/seata-discovery-core/src/test/resources/apollo.properties
  discovery/seata-discovery-etcd3/src/test/java/io/seata/discovery/registry/etcd/EtcdRegistryServiceImplTest.java
  discovery/seata-discovery-nacos/src/main/java/io/seata/discovery/registry/nacos/NacosRegistryServiceImpl.java
  discovery/seata-discovery-sofa/src/test/io/seata/discovery/registry/sofa/SofaRegistryServiceImplTest.java
  script/client/conf/file.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  script/config-center/README.md
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/properties/SeataProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/properties/SpringCloudAlibabaConfiguration.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/properties/client/ServiceProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/test/java/io/seata/spring/boot/autoconfigure/ClientPropertiesTest.java
  serializer/seata-serializer-seata/src/test/resources/file.conf
  server/src/main/resources/application.yml
  server/src/test/java/io/seata/server/coordinator/DefaultCoordinatorTest.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoreTest.java
  server/src/test/java/io/seata/server/lock/LockManagerTest.java
  server/src/test/java/io/seata/server/lock/file/FileLockManagerImplTest.java
  server/src/test/java/io/seata/server/session/BranchSessionTest.java
  server/src/test/java/io/seata/server/session/FileSessionManagerTest.java
  server/src/test/java/io/seata/server/session/GlobalSessionTest.java
  server/src/test/java/io/seata/server/session/db/DataBaseSessionManagerTest.java
  server/src/test/java/io/seata/server/session/redis/RedisSessionManagerTest.java
  server/src/test/java/io/seata/server/store/SessionStoreTest.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionScanner.java
  test/src/test/java/AppTest.java
  test/src/test/java/LocalTransactionWithGlobalLockDataSourceBasicTest.java
  test/src/test/java/io/seata/core/rpc/netty/TmNettyClientTest.java
  test/src/test/java/io/seata/xa/XAModeTest2.java
  test/src/test/resources/file.conf
  test/src/test/resources/saga/spring/statemachine_engine_db_mockserver_test.xml
  test/src/test/resources/saga/spring/statemachine_engine_db_test.xml
  tm/src/test/java/io/seata/tm/TMClientTest.java
Labels: module/config, type: optimize

#4157 optimize: optimize client batch sending.
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/DefaultValues.java
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  core/src/main/java/io/seata/core/rpc/RemotingClient.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemotingClient.java
  core/src/main/java/io/seata/core/rpc/netty/NettyClientConfig.java
  core/src/main/java/io/seata/core/rpc/netty/RmNettyRemotingClient.java
  core/src/main/java/io/seata/core/rpc/netty/TmNettyRemotingClient.java
  script/client/conf/file.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/TransportProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: module/core, type: optimize

#4158 bugfix: fix the logback can't load the `RPC_PORT`
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/main/java/io/seata/server/ServerApplicationListener.java
  server/src/main/resources/META-INF/spring.factories
  server/src/main/resources/application.example.yml
  server/src/main/resources/application.yml
Labels: type: bug, module/server
