Repository apache/incubator-seata, pull requests merged in 2021-04, with the labels that each got.

#3607 bugfix: fixed bugs in EventBus unit tests
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/test/java/io/seata/server/event/DefaultCoreForEventBusTest.java
Labels: module/test, type: bug

#3631 optimize: optimize nacos-config.py parameter
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  script/config-center/nacos/nacos-config.py
Labels: first-time contributor, type: optimize

#3522 bugfix: fix register branch and flush undolog when affect row was zero
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
Labels: module/rm-datasource, type: bug

#3635 bugfix: zk node path is converted to dataId error
  config/seata-config-zk/src/main/java/io/seata/config/zk/ZookeeperConfiguration.java
Labels: module/config, type: bug

#3638 optimize: optimize the error of join table syntax
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLDeleteRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/OracleDeleteRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/OracleUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/PostgresqlDeleteRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/PostgresqlUpdateRecognizer.java
Labels: module/sqlparser, type: optimize

#3654 optimize: fix typo, applicationContex to applicationContext
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  seata-spring-boot-starter/src/test/java/io/seata/spring/boot/autoconfigure/RedisAutoInjectionTypeConvertTest.java
Labels: module/test, type: optimize

#3687 bugfix: fix the case that could not retry acquire global lock
  all/pom.xml
  bom/pom.xml
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/protocol/Version.java
  pom.xml
  rm-datasource/src/main/java/io/seata/rm/datasource/ConnectionProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/ConnectionProxyTest.java
Labels: module/rm-datasource, type: bug

#3686 bugfix:fix NPE and cluster key about apollo
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  config/seata-config-apollo/src/main/java/io/seata/config/apollo/ApolloConfiguration.java
Labels: module/config, type: bug
