Repository apache/incubator-seata, pull requests merged in 2021-07, with the labels that each got.

#3847 optimize: ConcurrentHashMap.newKeySet replace ConcurrentSet
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  config/seata-config-apollo/src/main/java/io/seata/config/apollo/ApolloConfiguration.java
  config/seata-config-consul/src/main/java/io/seata/config/consul/ConsulConfiguration.java
  config/seata-config-core/src/main/java/io/seata/config/FileConfiguration.java
  config/seata-config-etcd3/src/main/java/io/seata/config/etcd3/EtcdConfiguration.java
  server/src/main/java/io/seata/server/storage/file/lock/FileLocker.java
Labels: module/config, type: optimize

#3699 optimize: update redis Server mock
  bom/pom.xml
  server/pom.xml
  server/src/test/java/io/seata/server/lock/redis/RedisLockManagerTest.java
  server/src/test/java/io/seata/server/session/redis/RedisSessionManagerTest.java
Labels: module/test, type: optimize

#3823 feature: tcc-mode commit and rollback method support `@BusinessActionContextParameter("opId") long opId`
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  tcc/src/main/java/io/seata/rm/tcc/TCCFenceHandler.java
  tcc/src/main/java/io/seata/rm/tcc/TCCResource.java
  tcc/src/main/java/io/seata/rm/tcc/TCCResourceManager.java
  tcc/src/main/java/io/seata/rm/tcc/api/TwoPhaseBusinessAction.java
  tcc/src/main/java/io/seata/rm/tcc/remoting/parser/DefaultRemotingParser.java
  tcc/src/test/java/io/seata/rm/tcc/Param.java
  tcc/src/test/java/io/seata/rm/tcc/TccAction.java
  tcc/src/test/java/io/seata/rm/tcc/TccActionImpl.java
  tcc/src/test/java/io/seata/rm/tcc/remoting/parser/DefaultRemotingParserTest.java
Labels: mode: TCC, module/tcc

#3797 optimize: support instance `BusinessActionContext` outside the TCC try method
  common/src/main/java/io/seata/common/exception/SkipCallbackWrapperException.java
  common/src/main/java/io/seata/common/util/CollectionUtils.java
  common/src/main/java/io/seata/common/util/ReflectionUtil.java
  common/src/main/java/io/seata/common/util/StringUtils.java
  common/src/test/java/io/seata/common/util/CollectionUtilsTest.java
  common/src/test/java/io/seata/common/util/StringUtilsTest.java
  tcc/src/main/java/io/seata/rm/tcc/TCCFenceHandler.java
  tcc/src/main/java/io/seata/rm/tcc/TCCResourceManager.java
  tcc/src/main/java/io/seata/rm/tcc/api/BusinessActionContextParameter.java
  tcc/src/main/java/io/seata/rm/tcc/api/ParamType.java
  tcc/src/main/java/io/seata/rm/tcc/interceptor/ActionContextUtil.java
  tcc/src/main/java/io/seata/rm/tcc/interceptor/ActionInterceptorHandler.java
  tcc/src/main/java/io/seata/rm/tcc/remoting/parser/DefaultRemotingParser.java
Labels: mode: TCC

#2568 feature: support GlobalTransactionInterceptor expression
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  spring/src/main/java/io/seata/spring/annotation/AspectTransactional.java
  spring/src/main/java/io/seata/spring/annotation/AspectTransactionalInterceptor.java
  spring/src/main/java/io/seata/spring/annotation/GlobalLock.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionScanner.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactional.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionalInterceptor.java
Labels: module/spring, type: feature

#3881 bugfix: fix getConfig with different default value return the first
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationCache.java
  config/seata-config-core/src/test/java/io.seata.config/FileConfigurationTest.java
Labels: module/config

#3870 feature: make seata-bom be the real Bill-Of-Material
  all/pom.xml
  bom/pom.xml
  dependencies/pom.xml
  pom.xml
Labels: first-time contributor

#3879 bugfix: when pgsql multi schema then channel not found
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceProxy.java
Labels: DB: PostgreSQL

#3895 optimize: optimize decode exception
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/exception/DecodeException.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemotingServer.java
  core/src/main/java/io/seata/core/rpc/netty/v1/ProtocolV1Decoder.java
Labels: module/core, type: optimize

#3890 optimize: only the inserted fields are checked
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
Labels: module/rm-datasource, type: optimize

#3905 optimize: optimize nacos-config.sh to support ash
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  script/config-center/nacos/nacos-config.sh
Labels: module/config, type: optimize
