Repository apache/incubator-seata, pull requests merged in 2021-03, with the labels that each got.

#3540 bugfix: fix server distribution missing files
  README.md
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  distribution/release-seata.xml
Labels: module/distribution

#3317 feature:Support to obtain multiple configurations through a single node in zookeeper
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  config/seata-config-zk/src/main/java/io/seata/config/zk/ZookeeperConfiguration.java
  script/client/conf/registry.conf
  script/server/config/registry.conf
  script/server/config/registry.properties
  script/server/config/registry.yml
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/config/ConfigZooKeeperProperties.java
  server/src/main/resources/registry.conf
Labels: module/config, type: feature

#3574 docs: fix typo
  core/src/main/java/io/seata/core/event/EventBus.java
Labels: first-time contributor

#3573 docs: README.md designer directory path
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  saga/seata-saga-statemachine-designer/README.md
  saga/seata-saga-statemachine-designer/README.zh-CN.md
Labels: first-time contributor

#3579 test: add test case for StringFormatUtils
  common/src/test/java/io/seata/common/util/StringFormatUtilsTest.java
Labels: first-time contributor, module/test
