Repository apache/incubator-seata, pull requests merged in 2021-02, with the labels that each got.

#3448 bugfix: reduce unnecessary competition and remove missing locks
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/store/db/AbstractDataSourceProvider.java
  server/src/main/java/io/seata/server/storage/redis/JedisPooledFactory.java
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLocker.java
Labels: TC/store, module/server, type: bug

#3486 feature: add transaction service group for metric
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/event/GlobalTransactionEvent.java
  metrics/seata-metrics-api/src/main/java/io/seata/metrics/IdConstants.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/java/io/seata/server/metrics/MetricsSubscriber.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoordinatorMetricsTest.java
Labels: first-time contributor, module/server

#3367 bugfix: when the xa branch is rollback, it cannot be executed due to idle state
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ConnectionProxyXA.java
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ResourceManagerXA.java
Labels: module/rm-datasource, type: bug

#3402 bugfix: fix can not get update columns with database name
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/OracleUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/PostgresqlUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/MySQLUpdateRecognizerTest.java
Labels: module/rm-datasource, type: bug

#3236 optimize: opt the conditions for executing unlocking
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  config/seata-config-core/src/main/java/io/seata/config/FileConfiguration.java
  server/src/main/java/io/seata/server/session/GlobalSession.java
Labels: module/server

#3116 feature:support configuring apolloService and apolloCluster
  config/seata-config-apollo/src/main/java/io/seata/config/apollo/ApolloConfiguration.java
  server/src/main/resources/registry.conf
Labels: first-time contributor, module/config

#3516 feature: add acl-token for consul
  config/seata-config-consul/src/main/java/io/seata/config/consul/ConsulConfiguration.java
  discovery/seata-discovery-consul/src/main/java/io/seata/discovery/registry/consul/ConsulRegistryServiceImpl.java
  script/client/conf/registry.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/config/ConfigConsulProperties.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/registry/RegistryConsulProperties.java
  server/src/main/resources/registry.conf
Labels: first-time contributor

#3228 feature: seata plugin
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/FstSerializerFactory.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/FstUndoLogParser.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/JacksonUndoLogParser.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/KryoSerializerFactory.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/KryoUndoLogParser.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/ProtostuffUndoLogParser.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/spi/FstSerializer.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/spi/JacksonSerializer.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/spi/KryoTypeSerializer.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/spi/ProtostuffDelegate.java
  seata-plugin/pom.xml
  seata-plugin/seata-jackson-parser-oracle/pom.xml
  seata-plugin/seata-jackson-parser-oracle/src/main/java/io.seata.plugin.jackson.parser.oracle/OracleTimestampJacksonSerializer.java
  seata-plugin/seata-jackson-parser-oracle/src/main/resources/META-INF/services/io.seata.rm.datasource.undo.parser.spi.JacksonSerializer
  seata-plugin/seata-jackson-parser-oracle/src/test/java/io/seata/plugin/jackson/parser/oracle/OracleTimestampJacksonSerializerTest.java
Labels: module/rm-datasource, type: feature

#3531 bugfix:fix the NPE of RedisTransactionStoreManager when get branch tr…
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
Labels: first-time contributor, module/server, type: bug

#3533 optimize: added interface to get current transaction role
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  test/src/test/java/io/seata/saga/engine/mock/MockGlobalTransaction.java
  tm/src/main/java/io/seata/tm/api/DefaultGlobalTransaction.java
  tm/src/main/java/io/seata/tm/api/GlobalTransaction.java
Labels: module/tm, type: optimize
