Repository apache/incubator-seata, pull requests merged in 2021-01, with the labels that each got.

#3411 feature: add config support for seata server thread pool
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  core/src/main/java/io/seata/core/rpc/netty/NettyServerConfig.java
  server/src/main/java/io/seata/server/Server.java
Labels: first-time contributor, module/server

#3215 optimize: opt the reload during startup in file mode
  server/src/main/java/io/seata/server/storage/file/session/FileSessionManager.java
Labels: module/server, waitting-to-merge

#3436 optimize: SQLType INSERT INGORE typo
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/SQLType.java
Labels: module/sqlparser, type: bug

#3443 feature: send the `seata-server` log to `logstash` or `kafka`
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  script/logstash/config/logstash-kafka.conf
  script/logstash/config/logstash-logback.conf
  server/pom.xml
  server/src/main/java/io/seata/server/logging/logback/WhitespaceThrowableProxyConverter.java
  server/src/main/resources/logback.xml
  server/src/main/resources/logback/console-appender.xml
  server/src/main/resources/logback/file-appender.xml
  server/src/main/resources/logback/kafka-appender.xml
  server/src/main/resources/logback/logstash-appender.xml
Labels: module/server, type: feature

#3427 feature: add distributed lock interface
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/Constants.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/session/SessionHolder.java
  server/src/main/java/io/seata/server/session/SessionManager.java
Labels: module/server

#3439 optimize: adjust the order of springApplicationContextProvider
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  config/seata-config-spring-cloud/src/main/java/io/seata/config/springcloud/SpringApplicationContextProvider.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/SeataAutoConfiguration.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/provider/SpringApplicationContextProvider.java
  seata-spring-boot-starter/src/test/java/io/seata/spring/boot/autoconfigure/RedisAutoInjectionTypeConvertTest.java
Labels: module/seata-spring-boot-starter, type: optimize

#3459 optimize: remove duplicate validAddress code
  discovery/seata-discovery-nacos/src/main/java/io/seata/discovery/registry/nacos/NacosRegistryServiceImpl.java
Labels: first-time contributor, module/discovery, type: optimize

#3371 optimize: add applicationId for metric
  core/src/main/java/io/seata/core/event/GlobalTransactionEvent.java
  metrics/seata-metrics-api/src/main/java/io/seata/metrics/IdConstants.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/java/io/seata/server/metrics/MetricsSubscriber.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoordinatorMetricsTest.java
Labels: first-time contributor

#3318 optimize: make CLIENT_TABLE_META_CHECKER_INTERVAL configurable
  common/src/main/java/io/seata/common/DefaultValues.java
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceProxy.java
  script/client/conf/file.conf
  script/config-center/config.txt
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/properties/client/RmProperties.java
  seata-spring-boot-starter/src/test/java/io/seata/spring/boot/autoconfigure/PropertiesTest.java
Labels: module/rm-datasource

#3451 bugfix: failure to compete for a lock causes the global transaction to exit
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/ConnectionContext.java
  rm-datasource/src/main/java/io/seata/rm/datasource/ConnectionProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutor.java
Labels: first-time contributor, module/rm-datasource, type: bug

#3466 optimize: String comparison uses equalsIgnoreCase()
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/MultiExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ExecuteTemplateXA.java
Labels: first-time contributor, module/rm-datasource, type: optimize

#3156 optimize: opt the logic of SpringProxyUtils.findTargetClass(#3155)
  spring/src/main/java/io/seata/spring/util/SpringProxyUtils.java
Labels: first-time contributor, module/spring

#3441 optimize:optimize the auto-configuration processing of starter
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/SeataAutoConfiguration.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/SeataDataSourceAutoConfiguration.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/SeataPropertiesAutoConfiguration.java
  seata-spring-boot-starter/src/main/resources/META-INF/spring.factories
Labels: module/seata-spring-boot-starter, type: optimize

#3481 bugfix: seata node refresh failure because consul crash
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  discovery/seata-discovery-consul/src/main/java/io/seata/discovery/registry/consul/ConsulRegistryServiceImpl.java
Labels: first-time contributor, module/discovery

#3485 optimize: remove useless codes in ConfigurationFactory
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationFactory.java
Labels: first-time contributor, module/config, type: optimize

#3505 optimize: remove useless if judgments.
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionScanner.java
Labels: module/spring, type: optimize
