Repository apache/incubator-seata, pull requests merged in 2021-09, with the labels that each got.

#3998 bugfix:The NPE of jedis multi.exec
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
Labels: type: bug, module/server, TC/store

#3311 optimize: support to obtain multiple configurations through a single key in Consul
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  config/seata-config-consul/src/main/java/io/seata/config/consul/ConsulConfiguration.java
  script/client/conf/registry.conf
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/config/ConfigConsulProperties.java
Labels: module/config

#3886 feature: support the registry center network preferences
  README.md
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/util/NetUtil.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemoting.java
  discovery/seata-discovery-zk/src/main/java/io/seata/discovery/registry/zk/ZookeeperRegisterServiceImpl.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertOrUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/oracle/OracleInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/postgresql/PostgresqlInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/MySQLInsertOrUpdateExecutorTest.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/repo/impl/StateMachineRepositoryImpl.java
  seata-plugin/pom.xml
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/StarterConstants.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/registry/RegistryProperties.java
  server/src/main/java/io/seata/server/Server.java
  server/src/main/java/io/seata/server/env/PortHelper.java
  server/src/main/java/io/seata/server/lock/distributed/DistributedLockerFactory.java
  server/src/main/java/io/seata/server/storage/db/lock/LockStoreDataBaseDAO.java
  server/src/main/resources/application.example.yml
  tm/src/main/java/io/seata/tm/api/DefaultGlobalTransaction.java
Labels: type: feature, module/server

#4013 optimize: optimize client channel alive check
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/rpc/netty/NettyClientChannelManager.java
  core/src/main/java/io/seata/core/rpc/netty/TmNettyRemotingClient.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/registry/RegistryService.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoordinatorMetricsTest.java
Labels: module/core, type: optimize

#4017 optimize: optimize file configuration
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationFactory.java
  config/seata-config-core/src/main/java/io/seata/config/FileConfiguration.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/registry/FileRegistryProvider.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/registry/RegistryFactory.java
  discovery/seata-discovery-core/src/main/resources/META-INF/services/io.seata.discovery.loadbalance.LoadBalance
  discovery/seata-discovery-core/src/main/resources/META-INF/services/io.seata.discovery.registry.RegistryProvider
  server/src/main/java/io/seata/server/storage/redis/JedisPooledFactory.java
  server/src/test/java/io/seata/server/env/PortHelperTest.java
  server/src/test/java/io/seata/server/event/DefaultCoreForEventBusTest.java
Labels: module/config, module/discovery, type: optimize

#3939 optimize: simplify if else judgment
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
Labels: first-time contributor, module/server, TC/store

#4001 optimize: seata server startup mode support nacos yaml config ability
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/util/MapUtil.java
  config/seata-config-consul/src/main/java/io/seata/config/consul/ConsulConfiguration.java
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationKeys.java
  config/seata-config-core/src/main/java/io/seata/config/processor/ConfigDataType.java
  config/seata-config-core/src/main/java/io/seata/config/processor/ConfigProcessor.java
  config/seata-config-core/src/main/java/io/seata/config/processor/Processor.java
  config/seata-config-core/src/main/java/io/seata/config/processor/ProcessorProperties.java
  config/seata-config-core/src/main/java/io/seata/config/processor/ProcessorYaml.java
  config/seata-config-core/src/main/resources/META-INF/services/io.seata.config.processor.Processor
  config/seata-config-core/src/test/java/io/seata/config/processor/ConfigProcessorTest.java
  config/seata-config-etcd3/src/main/java/io/seata/config/etcd3/EtcdConfiguration.java
  config/seata-config-nacos/src/main/java/io/seata/config/nacos/NacosConfiguration.java
  config/seata-config-zk/src/main/java/io/seata/config/zk/ZookeeperConfiguration.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/config/ConfigProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  server/src/main/java/io/seata/server/env/PortHelper.java
Labels: first-time contributor, module/config, type: optimize

#4018 optimize: optimize Apollo configuration
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  config/seata-config-apollo/src/main/java/io/seata/config/apollo/ApolloConfiguration.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/pom.xml
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/config/ConfigApolloProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/BaseConfigPropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/CorePropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/properties/test/ConfigApolloPropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/resources/META-INF/spring.factories
Labels: module/config, type: optimize

#4005 bugfix:PK constraint name isn't the same as the unique index name which is belong to PK
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/OracleTableMetaCache.java
Labels: first-time contributor, module/rm-datasource

#4023 bugfix: remove dubbo PRC communication xid transmission.
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  integration/dubbo-alibaba/src/main/java/io/seata/integration/dubbo/alibaba/AlibabaDubboTransactionPropagationFilter.java
  integration/dubbo/src/main/java/io/seata/integration/dubbo/ApacheDubboTransactionPropagationFilter.java
Labels: type: bug, module/integration

#4034 optimize: optimize Nacos, Consul, Zookeeper and Etcd3 configuration J…
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/holder/ObjectHolder.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/BasePropertiesTest.java
  server/src/test/java/io/seata/server/session/SessionHolderTest.java
Labels: module/test, type: optimize

#4032 bugfix: fix ApplicationContext already closed problem when Seata server using ShutdownHook to destroy.
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/main/java/io/seata/server/Server.java
  server/src/main/java/io/seata/server/ServerApplication.java
  server/src/main/java/io/seata/server/ServerRunner.java
Labels: type: bug, first-time contributor, module/server

#4025 bugfix: fix potential database resource leak
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/loader/EnhancedServiceNotFoundException.java
  config/seata-config-apollo/src/main/java/io/seata/config/apollo/ApolloConfiguration.java
  config/seata-config-zk/src/main/java/io/seata/config/zk/ZookeeperConfiguration.java
  discovery/seata-discovery-consul/src/main/java/io/seata/discovery/registry/consul/ConsulRegistryServiceImpl.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/loadbalance/ConsistentHashLoadBalance.java
  discovery/seata-discovery-nacos/src/main/java/io/seata/discovery/registry/nacos/NacosRegistryServiceImpl.java
  integration/http/src/main/java/io/seata/integration/http/AbstractHttpExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertOrUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoExecutor.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/impl/DefaultStateMachineConfig.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/utils/DesignerJsonTransformer.java
  tm/src/main/java/io/seata/tm/api/DefaultGlobalTransaction.java
Labels: type: bug, module/rm-datasource

#3994 optimize: modify the deletion mechanism of the tcc_fence_log table
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/DefaultValues.java
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  script/client/conf/file.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/SeataClientEnvironmentPostProcessor.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/SeataTCCFenceAutoConfiguration.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/StarterConstants.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionScanner.java
  spring/src/main/java/io/seata/spring/util/TCCBeanParserUtils.java
  tcc/src/main/java/io/seata/rm/tcc/config/TCCFenceConfig.java
  tcc/src/main/java/io/seata/rm/tcc/constant/TCCFenceCleanMode.java
  tcc/src/main/java/io/seata/rm/tcc/constant/TCCFenceConstant.java
  tcc/src/main/java/io/seata/rm/tcc/store/db/TCCFenceStoreDataBaseDAO.java
Labels: mode: TCC, module/tcc, type: optimize

#2838 feature: Saga support auto configuration in the spring boot project
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/impl/DefaultStateMachineConfig.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/utils/ResourceUtil.java
  saga/seata-saga-statelang/src/test/java/io/seata/saga/statelang/parser/utils/ResourceUtilTests.java
  script/client/conf/file.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/SeataClientEnvironmentPostProcessor.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/properties/SagaAsyncThreadPoolProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/StarterConstants.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/SeataSagaAutoConfiguration.java
  seata-spring-boot-starter/src/main/resources/META-INF/spring.factories
Labels: module/saga, module/seata-spring-boot-starter, module/script
