Repository apache/incubator-seata, pull requests merged in 2021-06, with the labels that each got.

#3730 optimize: Refactoring the code of TCC mode
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/Constants.java
  common/src/main/java/io/seata/common/util/BeanUtils.java
  common/src/main/java/io/seata/common/util/ReflectionUtil.java
  common/src/test/java/io/seata/common/util/ReflectionUtilTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/mock/MockResultSetMetaData.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  spring/src/main/java/io/seata/spring/tcc/TccActionInterceptor.java
  tcc/src/main/java/io/seata/rm/tcc/TCCFenceHandler.java
  tcc/src/main/java/io/seata/rm/tcc/TCCResourceManager.java
  tcc/src/main/java/io/seata/rm/tcc/api/BusinessActionContext.java
  tcc/src/main/java/io/seata/rm/tcc/api/BusinessActionContextParameter.java
  tcc/src/main/java/io/seata/rm/tcc/api/BusinessActionContextUtil.java
  tcc/src/main/java/io/seata/rm/tcc/api/BusinessActivityContext.java
  tcc/src/main/java/io/seata/rm/tcc/api/TwoPhaseBusinessAction.java
  tcc/src/main/java/io/seata/rm/tcc/config/TCCFenceConfig.java
  tcc/src/main/java/io/seata/rm/tcc/interceptor/ActionContextUtil.java
  tcc/src/main/java/io/seata/rm/tcc/interceptor/ActionInterceptorHandler.java
  tcc/src/main/java/io/seata/rm/tcc/remoting/parser/DefaultRemotingParser.java
  tcc/src/main/java/io/seata/rm/tcc/store/TCCFenceStore.java
  tcc/src/main/java/io/seata/rm/tcc/store/db/TCCFenceStoreDataBaseDAO.java
  tcc/src/test/java/io/seata/rm/tcc/TccAction.java
Labels: mode: TCC

#3783 bugfix: fix the problem that 'store mode' parameter does not take effect
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/properties/server/store/StoreProperties.java
  server/src/main/java/io/seata/server/ParameterParser.java
Labels: module/server, type: bug

#3795 optimize: optimize zk registry lookup performance
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  discovery/seata-discovery-zk/src/main/java/io/seata/discovery/registry/zk/ZookeeperRegisterServiceImpl.java
Labels: first-time contributor, module/discovery, type: optimize

#3828 bugfix: fix StringUtils StackOverflowError
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/util/CollectionUtils.java
  common/src/main/java/io/seata/common/util/CycleDependencyHandler.java
  common/src/main/java/io/seata/common/util/ReflectionUtil.java
  common/src/main/java/io/seata/common/util/StringUtils.java
  common/src/test/java/io/seata/common/util/CollectionUtilsTest.java
  common/src/test/java/io/seata/common/util/StringUtilsTest.java
  tcc/src/main/java/io/seata/rm/tcc/interceptor/ActionContextUtil.java
Labels: module/core

#3794 optimize: optimize the packaging of `seata-server`
  all/pom.xml
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  distribution/Dockerfile
  distribution/bin/seata-server.sh
  distribution/release-seata.xml
  server/pom.xml
Labels: module/server

#3840 optimize: optimization `apm-skwalking` operation method to generate rules
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  ext/apm-seata-skywalking-plugin/pom.xml
  ext/apm-seata-skywalking-plugin/src/main/java/io/seata/apm/skywalking/plugin/DefaultCoreDoGlobalCommitInterceptor.java
  ext/apm-seata-skywalking-plugin/src/main/java/io/seata/apm/skywalking/plugin/NettyRemotingClientSendSyncInterceptor.java
  ext/apm-seata-skywalking-plugin/src/main/java/io/seata/apm/skywalking/plugin/RemotingProcessorProcessInterceptor.java
  ext/apm-seata-skywalking-plugin/src/main/java/io/seata/apm/skywalking/plugin/common/SWSeataConstants.java
  ext/apm-seata-skywalking-plugin/src/main/java/io/seata/apm/skywalking/plugin/common/SWSeataUtils.java
  ext/apm-seata-skywalking-plugin/src/main/java/io/seata/apm/skywalking/plugin/define/DefaultCoreInstrumentation.java
  ext/apm-seata-skywalking-plugin/src/main/java/io/seata/apm/skywalking/plugin/define/RemotingProcessorInstrumentation.java
  ext/apm-seata-skywalking-plugin/src/test/java/io/seata/apm/skywalking/plugin/common/SWSeataUtilsTest.java
Labels: apm, skywalking

#3834 optimize: seata-distribution add apm-seata-skywalking
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  distribution/bin/seata-server.bat
  distribution/bin/seata-server.sh
  distribution/release-seata.xml
  ext/apm-seata-skywalking-plugin/config/agent.config
  ext/apm-seata-skywalking-plugin/pom.xml
Labels: apm, apm/skywalking, type: optimize

#3120 optimize: optimize `Configuration` and add unit tests
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  config/seata-config-core/src/main/java/io/seata/config/AbstractConfiguration.java
  config/seata-config-core/src/main/java/io/seata/config/Configuration.java
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationCache.java
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationFactory.java
  config/seata-config-custom/src/test/java/io/seata/config/ConfigurationTest.java
  config/seata-config-custom/src/test/java/io/seata/config/CustomConfigurationTest.java
  config/seata-config-custom/src/test/resources/custom_for_test.properties
Labels: theme: config, type: optimize
