Repository apache/incubator-seata, pull requests merged in 2022-11, with the labels that each got.

#4995 optimize: repeat pk in after image sql for INSERT_ON_DUPLICATE_UPDATE
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertOnDuplicateUpdateExecutor.java
Labels: module/rm-datasource, type: optimize

#5038 bugfix: remove `@EnableConfigurationProperties({SagaAsyncThreadPoolProperties.class})`
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/SeataSagaAutoConfiguration.java
Labels: type: bug, first-time contributor, module/seata-spring-boot-starter

#4582 optimize: redis mode support sorted set by timeout
  dependencies/pom.xml
  server/pom.xml
  server/src/main/java/io/seata/server/session/SessionCondition.java
  server/src/main/java/io/seata/server/storage/db/store/DataBaseTransactionStoreManager.java
  server/src/main/java/io/seata/server/storage/redis/lock/RedisDistributedLocker.java
  server/src/main/java/io/seata/server/storage/redis/session/RedisSessionManager.java
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
  server/src/main/java/io/seata/server/store/AbstractTransactionStoreManager.java
  server/src/main/java/io/seata/server/store/TransactionStoreManager.java
  server/src/test/java/io/seata/server/lock/redis/RedisLockManagerTest.java
  server/src/test/java/io/seata/server/session/redis/MockRedisServer.java
  server/src/test/java/io/seata/server/session/redis/RedisDistributedLockerTest.java
  server/src/test/java/io/seata/server/session/redis/RedisSessionManagerTest.java
  server/src/test/java/io/seata/server/session/redis/RedisTransactionStoreManagerTest.java
Labels: module/server, TC/store, type: optimize

#5050 bugfix: global session is not change to Committed in saga mode
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
Labels: type: bug, module/server

#4874 bugfix: fix startup failure of Server1.5.2 by using OpenJDK 11
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  distribution/bin/seata-server.bat
  distribution/bin/seata-server.sh
Labels: optimize:jvm

#5047 optimize: remove useless code
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  server/src/main/java/io/seata/server/Server.java
  server/src/main/java/io/seata/server/ServerApplicationListener.java
Labels: first-time contributor, module/server, type: optimize

#4963 optimize: require ARM64 binary
  .github/workflows/build.yml
  build/pom.xml
  dependencies/pom.xml
  discovery/seata-discovery-etcd3/src/test/java/io/seata/discovery/registry/etcd/EtcdRegistryServiceImplTest.java
  integration/grpc/pom.xml
  serializer/seata-serializer-protobuf/pom.xml
Labels: first-time contributor, image

#5051 optimize: undo log dirty throw BranchRollbackFailed_Unretriable
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoLogManager.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/SQLUndoDirtyException.java
Labels: first-time contributor, module/rm-datasource, type: optimize

#5032 bugfix: error placeholder index in insert on duplicate executor
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertOnDuplicateUpdateExecutor.java
Labels: type: bug, module/rm-datasource

#4542 optimize: support oracle date types
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/oracle/OracleJdbcType.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/TableRecords.java
  rm-datasource/src/main/java/io/seata/rm/datasource/util/OffsetTimeUtils.java
Labels: module/rm-datasource, type: optimize

#5075 optimize:intercept insert on duplicate update statement which has no …
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertOnDuplicateUpdateExecutor.java
Labels: module/rm-datasource, type: optimize

#5078 bugfix: fix could not intercept the sql witch has no primary and unique
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertOnDuplicateUpdateExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/MySQLInsertOnDuplicateUpdateExecutorTest.java
Labels: module/rm-datasource

#4411 test: add AT transaction mode tests to support database data types (Oracle)
  changes/zh-cn/develop.md
  rm-datasource/src/test/java/io/seata/rm/at/readMe.md
  test/src/test/java/io/seata/at/ATModeSupportDataBaseDataTypeTest.java
  test/src/test/java/io/seata/at/DruidDataSourceUtils.java
  test/src/test/java/io/seata/at/oracle/OracleSqlConstant.java
  test/src/test/java/io/seata/at/oracle/SupportOracleDataTypeTest.java
  test/src/test/java/io/seata/at/oracle/bfile.txt
  test/src/test/java/io/seata/at/oracle/bfileUpdate.txt
  test/src/test/java/io/seata/at/oracle/support_orderle_dataType.sql
Labels: DB: Oracle, mode: AT, module/test

#5092 bugfix: fix when seata and jpa are used together, their AutoConfiguration order is incorrect
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/SeataTCCFenceAutoConfiguration.java
Labels: type: bug, module/seata-spring-boot-starter

#5101 bugfix:fix ClassNotFoundException during the ZK unit test
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  dependencies/pom.xml
  discovery/seata-discovery-zk/pom.xml
Labels: type: bug, module/discovery

#5104 optimize: remove druid dependency in ConnectionProxy
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/ConnectionProxy.java
  rm-datasource/src/test/java/io/seata/rm/datasource/ConnectionProxyTest.java
Labels: module/rm-datasource, type: optimize

#5097 bugfix: fix access key loss after server restart
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  common/src/main/java/io/seata/common/ConfigurationKeys.java
  saga/seata-saga-engine-store/src/main/java/io/seata/saga/engine/config/DbStateMachineConfig.java
  saga/seata-saga-tm/src/main/java/io/seata/saga/tm/DefaultSagaTransactionalTemplate.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionScanner.java
Labels: type: bug, module/core, module/spring
