Repository apache/incubator-seata, pull requests merged in 2022-01, with the labels that each got.

#4251 optimize: optimize partial code handling
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/properties/SpringCloudAlibabaConfiguration.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/provider/SpringBootConfigurationProvider.java
  server/src/main/java/io/seata/server/lock/AbstractLockManager.java
  server/src/main/java/io/seata/server/session/AbstractSessionManager.java
  server/src/main/java/io/seata/server/transaction/at/ATCore.java
Labels: module/server, type: optimize

#4262 optimize: optimize tcc module code handling
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/provider/SpringBootConfigurationProvider.java
  tcc/src/main/java/io/seata/rm/tcc/TCCFenceHandler.java
  tcc/src/main/java/io/seata/rm/tcc/TCCResourceManager.java
  tcc/src/main/java/io/seata/rm/tcc/constant/TCCFenceConstant.java
  tcc/src/main/java/io/seata/rm/tcc/remoting/parser/LocalTCCRemotingParser.java
  tcc/src/main/java/io/seata/rm/tcc/store/db/sql/TCCFenceStoreSqls.java
  tcc/src/test/java/io/seata/rm/tcc/remoting/parser/LocalTCCRemotingParserTest.java
Labels: code quality

#4237 optimize: skip check lock when all the before image is empty
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/Constants.java
  core/src/main/java/io/seata/core/lock/LocalDBLocker.java
  core/src/main/java/io/seata/core/lock/Locker.java
  core/src/main/java/io/seata/core/store/LockStore.java
  rm-datasource/src/main/java/io/seata/rm/datasource/ConnectionContext.java
  rm-datasource/src/main/java/io/seata/rm/datasource/ConnectionProxy.java
  server/src/main/java/io/seata/server/lock/AbstractLockManager.java
  server/src/main/java/io/seata/server/lock/LockManager.java
  server/src/main/java/io/seata/server/session/BranchSession.java
  server/src/main/java/io/seata/server/storage/db/lock/DataBaseDistributedLocker.java
  server/src/main/java/io/seata/server/storage/db/lock/DataBaseLocker.java
  server/src/main/java/io/seata/server/storage/db/lock/LockStoreDataBaseDAO.java
  server/src/main/java/io/seata/server/storage/file/lock/FileLocker.java
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLocker.java
  server/src/main/java/io/seata/server/transaction/at/ATCore.java
Labels: module/rm-datasource, module/server, type: optimize

#4266 bugfix: row size gt 1000 cause error in oracle
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/store/db/sql/lock/AbstractLockStoreSql.java
  core/src/main/java/io/seata/core/store/db/sql/lock/LockStoreSql.java
  core/src/test/java/io/seata/core/store/db/sql/lock/LockStoreSqlFactoryTest.java
  server/src/main/java/io/seata/server/storage/db/lock/LockStoreDataBaseDAO.java
Labels: first-time contributor

#4235 optimize: fix eureka always refreshCluster error
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  discovery/seata-discovery-eureka/src/main/java/io/seata/discovery/registry/eureka/EurekaRegistryServiceImpl.java
Labels: type: bug, module/discovery

#4233 bugfix: data remanence problems in lock and branch under specific circumstances.
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/lock/AbstractLocker.java
  core/src/main/java/io/seata/core/lock/Locker.java
  core/src/main/java/io/seata/core/store/LockStore.java
  core/src/main/java/io/seata/core/store/db/sql/lock/AbstractLockStoreSql.java
  core/src/main/java/io/seata/core/store/db/sql/lock/LockStoreSql.java
  core/src/test/java/io/seata/core/store/db/sql/lock/LockStoreSqlFactoryTest.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/main/java/io/seata/server/storage/db/lock/DataBaseLockManager.java
  server/src/main/java/io/seata/server/storage/db/lock/DataBaseLocker.java
  server/src/main/java/io/seata/server/storage/db/lock/LockStoreDataBaseDAO.java
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLockManager.java
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLocker.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoreTest.java
  server/src/test/java/io/seata/server/event/DefaultCoreForEventBusTest.java
Labels: type: bug, module/server

#4284 optimize: support authentication of MSE-Nacos with ak/sk
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  config/seata-config-nacos/src/main/java/io/seata/config/nacos/NacosConfiguration.java
  discovery/seata-discovery-nacos/src/main/java/io/seata/discovery/registry/nacos/NacosRegistryServiceImpl.java
  script/client/conf/registry.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/config/ConfigNacosProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/registry/RegistryNacosProperties.java
  server/src/main/resources/application.example.yml
Labels: module/config, module/discovery, type: optimize

#4277 optimize: acquire lock return fail-fast code in redis-pipeline mode.
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLocker.java
Labels: type: optimize

#4176 optimize: use expire key instead hash when using redis as registry center
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  discovery/seata-discovery-redis/src/main/java/io/seata/discovery/registry/redis/RedisRegistryServiceImpl.java
Labels: module/discovery, type: optimize

#4270 optimize: Improve the performance of global commit and global rollback
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/StarterConstants.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/SeataServerEnvironmentPostProcessor.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/properties/server/session/SessionProperties.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/java/io/seata/server/session/SessionHelper.java
  server/src/main/java/io/seata/server/transaction/saga/SagaCore.java
  server/src/main/resources/application.example.yml
Labels: module/server, type: optimize

#4308 bugfix:Fix fetch PostgresqlTableMetaCache fail when the same table exists in different schemas
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/PostgresqlTableMetaCache.java
  rm-datasource/src/test/java/io/seata/rm/datasource/mock/MockConnection.java
Labels: type: bug, module/rm-datasource

#4268 feature：Realize the interface of console get global session in the file mode
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/exception/InvalidParamException.java
  core/src/main/java/io/seata/core/console/result/PageResult.java
  core/src/main/java/io/seata/core/console/vo/BranchSessionVO.java
  core/src/main/java/io/seata/core/console/vo/GlobalSessionVO.java
  server/src/main/java/io/seata/server/console/controller/GlobalLockController.java
  server/src/main/java/io/seata/server/console/controller/GlobalSessionController.java
  server/src/main/java/io/seata/server/console/impl/file/GlobalSessionFileServiceImpl.java
  server/src/main/java/io/seata/server/storage/SessionConverter.java
  server/src/test/java/io/seata/server/session/FileSessionManagerTest.java
Labels: type: feature, first-time contributor, module/server

#4326 bugfix: fixed inability to build Executor when using mariadb driver
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/ExecuteTemplate.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/MariadbInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/MySQLInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/mock/MockMariadbDataSource.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
Labels: type: bug, module/rm-datasource

#4299 optimize: optimize exceptions to make them friendly
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/exception/DataAccessException.java
  common/src/main/java/io/seata/common/exception/EurekaRegistryException.java
  common/src/main/java/io/seata/common/exception/NotSupportYetException.java
  common/src/main/java/io/seata/common/exception/RedisException.java
  common/src/main/java/io/seata/common/exception/ShouldNeverHappenException.java
  common/src/main/java/io/seata/common/exception/StoreException.java
  common/src/test/java/io/seata/common/exception/DataAccessExceptionTest.java
  common/src/test/java/io/seata/common/exception/EurekaRegistryExceptionTest.java
  common/src/test/java/io/seata/common/exception/ShouldNeverHappenExceptionTest.java
  common/src/test/java/io/seata/common/exception/StoreExceptionTest.java
  core/src/main/java/io/seata/core/context/RootContext.java
  rm-datasource/src/main/java/io/seata/rm/datasource/ConnectionContext.java
  rm-datasource/src/main/java/io/seata/rm/datasource/ConnectionProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceManager.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/LockConflictException.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/TableRecords.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/UndoExecutorFactory.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutorTest.java
  tcc/src/main/java/io/seata/rm/tcc/exception/TCCFenceException.java
Labels: module/rm-datasource, module/common, type: optimize

#3968 feature: support brpc-java rpc XID propagation
  all/pom.xml
  bom/pom.xml
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  dependencies/pom.xml
  integration/brpc/pom.xml
  integration/brpc/src/main/java/io/seata/integration/brpc/TransactionPropagationClientInterceptor.java
  integration/brpc/src/main/java/io/seata/integration/brpc/TransactionPropagationServerInterceptor.java
  integration/brpc/src/test/java/io/seata/integration/brpc/TransactionInterceptorTest.java
  integration/brpc/src/test/java/io/seata/integration/brpc/dto/Echo.java
  integration/brpc/src/test/java/io/seata/integration/brpc/server/EchoService.java
  integration/brpc/src/test/java/io/seata/integration/brpc/server/impl/EchoServiceImpl.java
  integration/brpc/src/test/proto/Echo.proto
  pom.xml
Labels: type: feature, first-time contributor, module/integration

#4302 bugfix:fix other orm could not get generated keys
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/AbstractStatementProxy.java
Labels: type: bug, module/rm-datasource

#4331 bugfix:fix dirty write check exception that may occur when using ONLY_CARE_UPDATE_COLUMNS
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
Labels: type: bug, module/rm-datasource

#4335 optimize: optimize upload configuration script with interaction (nacos, etcd3)
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  script/config-center/etcd3/etcd3-config-interactive.sh
  script/config-center/nacos/nacos-confg-interactive.py
  script/config-center/nacos/nacos-confg-interactive.sh
Labels: first-time contributor, module/script

#4352 bugfix: fix some problem of the sql parser
  config/seata-config-custom/pom.xml
  config/seata-config-etcd3/pom.xml
  config/seata-config-nacos/pom.xml
  config/seata-config-spring-cloud/pom.xml
  config/seata-config-zk/pom.xml
  discovery/seata-discovery-consul/pom.xml
  discovery/seata-discovery-custom/pom.xml
  discovery/seata-discovery-etcd3/pom.xml
  discovery/seata-discovery-eureka/pom.xml
  discovery/seata-discovery-nacos/pom.xml
  discovery/seata-discovery-redis/pom.xml
  discovery/seata-discovery-sofa/pom.xml
  discovery/seata-discovery-zk/pom.xml
  integration/grpc/pom.xml
  metrics/seata-metrics-core/pom.xml
  metrics/seata-metrics-exporter-prometheus/pom.xml
  metrics/seata-metrics-registry-compact/pom.xml
  rm-datasource/src/main/java/io/seata/rm/datasource/util/JdbcUtils.java
  saga/pom.xml
  script/client/conf/file.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/properties/client/RmProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: module/sqlparser, type: optimize

#4303 optimize: optimization after a unique index conflict occurs in tcc fence log
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  tcc/src/main/java/io/seata/rm/tcc/TCCFenceHandler.java
  tcc/src/main/java/io/seata/rm/tcc/store/db/TCCFenceStoreDataBaseDAO.java
  tcc/src/main/java/io/seata/rm/tcc/store/db/sql/TCCFenceStoreSqls.java
Labels: first-time contributor, module/tcc, type: optimize

#4336 optimize:add SQL exception of not supported by AT mode
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/SQLRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/BaseRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/DruidSQLRecognizerFactoryImpl.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLDeleteRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLInsertRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLSelectForUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/BaseOracleRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/OracleDeleteRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/OracleInsertRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/OracleSelectForUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/OracleUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/PostgresqlDeleteRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/PostgresqlInsertRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/PostgresqlSelectForUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/PostgresqlUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/DruidSQLRecognizerFactoryTest.java
Labels: mode: AT, module/sqlparser, type: optimize
