Repository apache/incubator-seata, pull requests merged in 2022-03, with the labels that each got.

#4436 optimize: global session query in file mode
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/main/java/io/seata/server/console/impl/file/GlobalSessionFileServiceImpl.java
  server/src/test/java/io/seata/server/session/FileSessionManagerTest.java
Labels: module/server, type: optimize

#4431 optimize: limit redis mode all sessions
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/constants/RedisKeyConstants.java
  server/src/main/java/io/seata/server/storage/db/store/DataBaseTransactionStoreManager.java
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
  server/src/test/java/io/seata/server/session/redis/RedisTransactionStoreManagerTest.java
Labels: module/server, TC/store, type: optimize

#4320 feature: Realize the interface of console: get global session and global lock in the db mode
  changes/1.5.0.md
  changes/2.0.0.md
  changes/en-us/1.5.0.md
  changes/en-us/2.0.0.md
  common/src/main/java/io/seata/common/util/PageUtil.java
  common/src/test/java/io/seata/common/util/PageUtilTest.java
  core/src/main/java/io/seata/core/console/result/PageResult.java
  core/src/main/java/io/seata/core/store/db/sql/lock/AbstractLockStoreSql.java
  core/src/main/java/io/seata/core/store/db/sql/lock/LockStoreSql.java
  core/src/main/java/io/seata/core/store/db/sql/log/AbstractLogStoreSqls.java
  core/src/main/java/io/seata/core/store/db/sql/log/LogStoreSqls.java
  server/src/main/java/io/seata/server/console/controller/GlobalLockController.java
  server/src/main/java/io/seata/server/console/controller/GlobalSessionController.java
  server/src/main/java/io/seata/server/console/impl/db/BranchSessionDBServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/db/GlobalLockDBServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/db/GlobalSessionDBServiceImpl.java
Labels: module/server, module/console

#4438 bugfix: fix GlobalSession cannot be cleared normally when delayed deletion is enabled
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoreTest.java
  server/src/test/java/io/seata/server/event/DefaultCoreForEventBusTest.java
Labels: type: bug, module/server

#4253 bugfix: update executor store the actually modified columns but not only the columns in `set` condition
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/UpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/ColumnMeta.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/TableMeta.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/MysqlTableMetaCache.java
  rm-datasource/src/test/java/io/seata/rm/datasource/mock/MockDatabaseMetaData.java
  rm-datasource/src/test/java/io/seata/rm/datasource/mock/MockDriver.java
Labels: module/rm-datasource, type: optimize

#4432 bugfix: fixed the inability to get some remote configurations
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/Constants.java
  common/src/main/java/io/seata/common/util/StringUtils.java
  common/src/test/java/io/seata/common/util/StringUtilsTest.java
  config/seata-config-spring-cloud/src/main/java/io/seata/config/springcloud/SpringApplicationContextProvider.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/SeataClientEnvironmentPostProcessor.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/SeataCoreEnvironmentPostProcessor.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/StarterConstants.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/provider/SpringBootConfigurationProvider.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/BasePropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/resources/application-test.properties
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/SeataServerEnvironmentPostProcessor.java
  seata-spring-boot-starter/src/test/java/io/seata/spring/boot/autoconfigure/RedisAutoInjectionTypeConvertTest.java
  server/src/main/java/io/seata/server/ServerApplicationListener.java
Labels: type: bug, module/config, module/server, module/seata-spring-boot-starter

#4393 optimize: skip reload for redis & db mode
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/model/GlobalStatus.java
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceProxy.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/session/SessionCondition.java
  server/src/main/java/io/seata/server/session/SessionHelper.java
  server/src/main/java/io/seata/server/session/SessionHolder.java
  server/src/main/java/io/seata/server/storage/file/session/FileSessionManager.java
  server/src/test/java/io/seata/server/session/FileSessionManagerTest.java
  server/src/test/java/io/seata/server/store/SessionStoreTest.java
Labels: module/server, type: optimize

#4307 optimize: when in TCC mode there is no need to delete global locks
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/java/io/seata/server/session/AbstractSessionManager.java
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/main/java/io/seata/server/session/SessionHelper.java
  server/src/main/java/io/seata/server/session/SessionLifecycle.java
  server/src/main/java/io/seata/server/session/SessionLifecycleListener.java
  server/src/main/java/io/seata/server/transaction/saga/SagaCore.java
  server/src/test/java/WriteStoreMultithreadTest.java
  server/src/test/java/WriteStoreTest.java
  server/src/test/java/io/seata/server/lock/LockManagerTest.java
  server/src/test/java/io/seata/server/session/FileSessionManagerTest.java
  server/src/test/java/io/seata/server/session/GlobalSessionTest.java
  server/src/test/java/io/seata/server/store/SessionStoreTest.java
Labels: module/server, type: optimize

#4474 bugfix:fix type conversion error for mysql BIT(M) type
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoExecutor.java
Labels: type: bug, module/rm-datasource

#4465 optimize: optimize client version transfer.
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemoting.java
  core/src/main/java/io/seata/core/rpc/processor/server/ServerOnRequestProcessor.java
Labels: module/core

#4471 bugfix: fix the error when service.vgroupMapping change
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/rpc/netty/NettyClientChannelManager.java
Labels: type: bug, module/core

#4469 optimize: optimize the way to get configuration in DB mode of console
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/main/java/io/seata/server/console/impl/db/BranchSessionDBServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/db/GlobalLockDBServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/db/GlobalSessionDBServiceImpl.java
Labels: module/server, type: optimize

#4459 bugfix:fix the failure to obtain before image and after image on oracle and pgsql of the develop branch
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/util/LowerCaseLinkHashMap.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/DeleteExecutor.java
Labels: type: bug, first-time contributor, module/rm-datasource

#4487 bugfix: remove Pagination hideOnlyOnePage attribute
  console/src/main/resources/static/console-fe/src/pages/GlobalLockInfo/GlobalLockInfo.tsx
  console/src/main/resources/static/console-fe/src/pages/TransactionInfo/TransactionInfo.tsx
  console/src/main/resources/static/js/main.js
Labels: type: bug, module/console

#4449 bugfix: optimize redis limit and fix redis page bug
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  console/src/main/resources/static/console-fe/src/components/Header/Header.tsx
  console/src/main/resources/static/js/main.js
  server/src/main/java/io/seata/server/console/impl/redis/GlobalSessionRedisServiceImpl.java
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
  server/src/test/java/io/seata/server/session/redis/RedisTransactionStoreManagerTest.java
Labels: type: bug, module/server
