Repository apache/incubator-seata, pull requests merged in 2022-04, with the labels that each got.

#4482 optimize: remove duplicated word
  common/src/main/java/io/seata/common/util/CollectionUtils.java
Labels: first-time contributor

#4517 optimize : enhance fail/timeout status metric and log level
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  metrics/seata-metrics-api/src/main/java/io/seata/metrics/IdConstants.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/metrics/MeterIdConstants.java
  server/src/main/java/io/seata/server/metrics/MetricsSubscriber.java
Labels: module/metrics

#4228 bugfix: xa resource suspension
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/ConfigurationKeys.java
  common/src/main/java/io/seata/common/DefaultValues.java
  core/src/main/java/io/seata/core/context/RootContext.java
  core/src/main/java/io/seata/core/model/BranchStatus.java
  core/src/main/java/io/seata/core/protocol/transaction/BranchRegisterResponse.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemotingClient.java
  rm-datasource/src/main/java/io/seata/rm/BaseDataSourceResource.java
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ConnectionProxyXA.java
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ResourceManagerXA.java
  script/client/conf/file.conf
  script/client/spring/application.properties
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/properties/client/RmProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/properties/server/ServerProperties.java
  serializer/seata-serializer-seata/src/main/java/io/seata/serializer/seata/protocol/transaction/BranchRegisterResponseCodec.java
  server/src/main/java/io/seata/server/coordinator/AbstractCore.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/resources/application.example.yml
Labels: type: bug, module/rm-datasource, module/server

#4535 bugfix: fix test case fail
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/test/java/io/seata/server/coordinator/DefaultCoordinatorTest.java
  server/src/test/java/io/seata/server/session/FileSessionManagerTest.java
  server/src/test/java/io/seata/server/util/StoreUtil.java
Labels: type: bug, module/server

#4492 bugfix:fix the failure to update cluster list dynamically when use eureka of the develop branch
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  discovery/seata-discovery-eureka/src/main/java/io/seata/discovery/registry/eureka/EurekaRegistryServiceImpl.java
Labels: type: bug, module/discovery

#4551 optimize: optimize metrics rt statistics
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/event/GlobalTransactionEvent.java
  metrics/seata-metrics-api/src/main/java/io/seata/metrics/IdConstants.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/java/io/seata/server/metrics/MeterIdConstants.java
  server/src/main/java/io/seata/server/metrics/MetricsPublisher.java
  server/src/main/java/io/seata/server/metrics/MetricsSubscriber.java
  server/src/main/java/io/seata/server/session/SessionHelper.java
  server/src/main/java/io/seata/server/transaction/saga/SagaCore.java
  server/src/test/java/io/seata/server/event/DefaultCoreForEventBusTest.java
  server/src/test/java/io/seata/server/store/SessionStoreTest.java
Labels: module/server, type: optimize

#4451 optimize: file session manager changed to singleton and optimize task thread pool model
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/ConfigurationKeys.java
  common/src/main/java/io/seata/common/Constants.java
  core/src/main/java/io/seata/core/event/GlobalTransactionEvent.java
  script/server/db/mysql.sql
  script/server/db/oracle.sql
  script/server/db/postgresql.sql
  server/src/main/java/io/seata/server/ServerApplicationListener.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/java/io/seata/server/session/SessionHelper.java
  server/src/main/java/io/seata/server/session/SessionHolder.java
  server/src/main/java/io/seata/server/storage/file/session/FileSessionManager.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoordinatorTest.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoreTest.java
  server/src/test/java/io/seata/server/event/DefaultCoreForEventBusTest.java
  server/src/test/java/io/seata/server/session/FileSessionManagerTest.java
Labels: module/server, type: optimize

#4505 bugfix: fix fastjson serialization of time data types
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/DataCompareUtils.java
Labels: type: bug, first-time contributor, module/rm-datasource

#4561 bugfix: fix RetryRollbacking return NPE
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  script/server/db/mysql.sql
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/session/SessionHelper.java
  server/src/main/java/io/seata/server/storage/db/session/DataBaseSessionManager.java
  server/src/main/java/io/seata/server/storage/db/store/DataBaseTransactionStoreManager.java
Labels: type: bug, module/server
