Repository apache/incubator-seata, pull requests merged in 2022-07, with the labels that each got.

#4642 feature: support batch message parallel processing
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  common/src/main/java/io/seata/common/ConfigurationKeys.java
  core/src/main/java/io/seata/core/rpc/processor/server/ServerOnRequestProcessor.java
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/properties/server/ServerProperties.java
  server/src/main/resources/application.example.yml
Labels: type: feature, module/core

#4622 optimize: make EnhancedServiceLoader more readable
  common/src/main/java/io/seata/common/loader/EnhancedServiceLoader.java
  common/src/main/java/io/seata/common/loader/ExtensionDefinition.java
  common/src/test/java/io/seata/common/loader/EnhancedServiceLoaderTest.java
  common/src/test/java/io/seata/common/loader/Hello1.java
  common/src/test/resources/META-INF/seata/io.seata.common.loader.Hello1
Labels: first-time contributor, module/common, type: optimize

#4653 bugfix: fix the sql exception when pk is str
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertOrUpdateExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/MySQLInsertOrUpdateExecutorTest.java
Labels: type: bug, module/rm-datasource

#4750 optimize: unBranchLock romove xid
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  core/src/main/java/io/seata/core/store/LockStore.java
  core/src/main/java/io/seata/core/store/db/sql/lock/AbstractLockStoreSql.java
  core/src/main/java/io/seata/core/store/db/sql/lock/LockStoreSql.java
  core/src/test/java/io/seata/core/store/db/sql/lock/LockStoreSqlFactoryTest.java
  script/server/db/mysql.sql
  script/server/db/oracle.sql
  script/server/db/postgresql.sql
  server/src/main/java/io/seata/server/storage/db/lock/DataBaseLocker.java
  server/src/main/java/io/seata/server/storage/db/lock/LockStoreDataBaseDAO.java
Labels: module/server, type: optimize

#4765 optimize: mysql 8.0.29 not should be hold for connection
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  core/src/main/java/io/seata/core/protocol/Version.java
  rm-datasource/src/main/java/io/seata/rm/BaseDataSourceResource.java
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ConnectionProxyXA.java
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/DataSourceProxyXA.java
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ResourceManagerXA.java
Labels: module/rm-datasource, type: optimize

#4797 optimize: optimize the github actions
  .github/workflows/build.yml
  .github/workflows/publish-to-ossrh.yml
  .github/workflows/publishes.yml
  .github/workflows/test.yml
  build/pom.xml
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  pom.xml
  rm-datasource/src/test/java/io/seata/rm/datasource/DataSourceProxyTest.java
Labels: module/rm-datasource, type: optimize

#4817 bugfix: fix in high version springboot property not resolved
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: type: bug, first-time contributor, module/seata-spring-boot-starter
