Repository apache/incubator-seata, pull requests merged in 2022-08, with the labels that each got.

#4414 optimize: exclude log4j dependencies
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  config/seata-config-zk/pom.xml
  discovery/seata-discovery-zk/pom.xml
  seata-spring-boot-starter/pom.xml
  server/pom.xml
Labels: module/config, module/discovery, module/server, module/seata-spring-boot-starter, type: optimize

#4838 bugfix: when use Statement.executeBatch() api can not generate after …
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutorTest.java
Labels: type: bug, first-time contributor, module/rm-datasource

#4836 optimize: rename variable "filedSequence" to "rowSequence" for better understanding
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
Labels: first-time contributor, module/rm-datasource, type: optimize

#4649 feature: seata-server support multiple registry
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  common/src/main/java/io/seata/common/Constants.java
  core/src/main/java/io/seata/core/rpc/netty/NettyServerBootstrap.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/registry/MultiRegistryFactory.java
Labels: type: feature, module/core, module/discovery

#4479 feature: TCC mode supports tcc annotation marked on both interface and implementation class
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  spring/src/main/java/io/seata/spring/tcc/TccActionInterceptor.java
  spring/src/main/java/io/seata/spring/tcc/TccAnnotationProcessor.java
  spring/src/main/java/io/seata/spring/util/TCCBeanParserUtils.java
  tcc/pom.xml
  tcc/src/main/java/io/seata/rm/tcc/remoting/RemotingDesc.java
  tcc/src/main/java/io/seata/rm/tcc/remoting/parser/DefaultRemotingParser.java
  tcc/src/main/java/io/seata/rm/tcc/remoting/parser/DubboRemotingParser.java
  tcc/src/main/java/io/seata/rm/tcc/remoting/parser/HSFRemotingParser.java
  tcc/src/main/java/io/seata/rm/tcc/remoting/parser/LocalTCCRemotingParser.java
  tcc/src/main/java/io/seata/rm/tcc/remoting/parser/SofaRpcRemotingParser.java
  tcc/src/test/java/io/seata/rm/tcc/remoting/parser/LocalTCCRemotingParserTest.java
Labels: type: feature, module/tcc

#4865 security: fix some security vulnerabilities in GGEditor
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  saga/seata-saga-statemachine-designer/README.md
  saga/seata-saga-statemachine-designer/README.zh-CN.md
  saga/seata-saga-statemachine-designer/index.html
  saga/seata-saga-statemachine-designer/package-lock.json
  saga/seata-saga-statemachine-designer/package.json
Labels: mode: SAGA, Security, risk:high

#4863 feature: support oracle and postgresql multi primary key
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/oracle/OracleInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/postgresql/PostgresqlInsertExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/OracleInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/PostgresqlInsertExecutorTest.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/struct/Defaultable.java
Labels: type: feature, module/rm-datasource

#4590 optimize: auto degrade unable dynamic configure
  changes/en-us/2.0.0.md
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionalInterceptor.java
Labels: module/spring, type: optimize

#4490 optimize : tccfence log table deleted should be optimized
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  tcc/src/main/java/io/seata/rm/tcc/TCCFenceHandler.java
  tcc/src/main/java/io/seata/rm/tcc/store/TCCFenceStore.java
  tcc/src/main/java/io/seata/rm/tcc/store/db/TCCFenceStoreDataBaseDAO.java
  tcc/src/main/java/io/seata/rm/tcc/store/db/sql/TCCFenceStoreSqls.java
Labels: module/tcc, type: optimize

#4779 feature: add Apache Dubbo3 Support
  all/pom.xml
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  dependencies/pom.xml
  integration/dubbo/pom.xml
  integration/dubbo/src/main/java/io/seata/integration/dubbo/ApacheDubboTransactionPropagationFilter.java
  integration/dubbo/src/main/resources/META-INF/services/org.apache.dubbo.rpc.Filter
  integration/dubbo/src/test/java/io/seata/integration/dubbo/ApacheDubboTransactionPropagationFilterTest.java
  integration/dubbo/src/test/java/io/seata/integration/dubbo/mock/MockInvoker.java
  test/pom.xml
Labels: first-time contributor, module/integration
