Repository apache/incubator-seata, pull requests merged in 2022-05, with the labels that each got.

#4591 optimize: optimize the default value of the switch
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/DefaultValues.java
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/test/java/io/seata/spring/boot/autoconfigure/ClientPropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/properties/server/session/SessionProperties.java
  server/src/main/resources/application.example.yml
Labels: module/common, module/server, module/seata-spring-boot-starter

#4608 bugfix: fix test case
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoordinatorTest.java
  server/src/test/java/io/seata/server/event/DefaultCoreForEventBusTest.java
  server/src/test/java/io/seata/server/session/db/DataBaseSessionManagerTest.java
  server/src/test/java/io/seata/server/store/db/LogStoreDataBaseDAOTest.java
Labels: type: bug, module/server

#4567 optimize: support where method condition(find_in_set)
  changes/2.0.0.md
  changes/en-us/2.0.0.md
  server/src/main/java/io/seata/server/metrics/MetricsPublisher.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/BaseRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/SupportSqlWhereMethod.java
Labels: module/sqlparser, type: optimize

#4626 bugfix: replace `flatten-maven-plugin` with `easyj-maven-plugin` to fix the conflict between `shade` and `flatten`
  README.md
  all/pom.xml
  build/pom.xml
  changes/2.0.0.md
  changes/en-us/2.0.0.md
  core/src/main/java/io/seata/core/protocol/Version.java
Labels: type: bug
