Repository apache/incubator-seata, pull requests merged in 2022-10, with the labels that each got.

#4968 feature: support kryo 5.3.0
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  dependencies/pom.xml
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/KryoSerializerFactory.java
  serializer/seata-serializer-kryo/src/main/java/io/seata/serializer/kryo/KryoSerializerFactory.java
Labels: type: feature, first-time contributor, module/serializer

#4974 optimize: cancel redis mode queryLimit
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
Labels: module/server, type: optimize

#4981 optimize: optimize tcc fence record not exists errMessage
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  common/src/main/java/io/seata/common/exception/FrameworkErrorCode.java
  tcc/src/main/java/io/seata/rm/tcc/TCCFenceHandler.java
Labels: module/tcc, type: optimize

#4958 optimize: do not execute triggerAfterCommit() in case of timeout
  changes/en-us/1.5.2.md
  changes/zh-cn/1.5.2.md
  tm/src/main/java/io/seata/tm/api/TransactionalTemplate.java
Labels: module/tm, type: optimize

#4985 bugfix: fix undo_log id repeat
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/SqlGenerateUtils.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/DeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/MultiDeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/MultiUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/UpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/TableMeta.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/MysqlTableMetaCache.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/mysql/MySQLUndoDeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/mysql/MySQLUndoUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/mysql/keyword/MySQLKeywordChecker.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/oracle/OracleUndoDeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/oracle/OracleUndoUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/oracle/keyword/OracleKeywordChecker.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/postgresql/PostgresqlUndoDeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/postgresql/PostgresqlUndoUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/postgresql/keyword/PostgresqlKeywordChecker.java
  rm-datasource/src/main/resources/META-INF/services/io.seata.sqlparser.KeywordChecker
  rm-datasource/src/test/java/io/seata/rm/datasource/ColumnUtilsTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/KeywordCheckerFactoryTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/mysql/keyword/MySQLKeywordCheckerTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/oracle/keyword/OracleKeywordCheckerTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/postgresql/keyword/PostgresqlKeywordCheckerTest.java
  rm-datasource/src/test/resources/META-INF/services/io.seata.sqlparser.KeywordChecker
  sqlparser/seata-sqlparser-antlr/src/main/java/io/seata/sqlparser/antlr/mysql/AntlrMySQLInsertRecognizer.java
  sqlparser/seata-sqlparser-antlr/src/main/java/io/seata/sqlparser/antlr/mysql/AntlrMySQLUpdateRecognizer.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/KeywordChecker.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/KeywordCheckerFactory.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/SQLInsertRecognizer.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/SQLUpdateRecognizer.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/util/ColumnUtils.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/BaseMySQLRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLInsertRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/BaseOracleRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/OracleInsertRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/OracleUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/BasePostgresqlRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/PostgresqlInsertRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/PostgresqlUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/MySQLInsertRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/MySQLUpdateRecognizerTest.java
Labels: type: bug, first-time contributor, module/rm-datasource

#4914 feature: support mysql update join sql
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/registry/MultiRegistryFactory.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/ExecuteTemplate.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/UpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLUpdateJoinExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/UndoExecutorFactory.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/UpdateJoinExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/mock/MockDatabaseMetaData.java
  rm-datasource/src/test/java/io/seata/rm/datasource/mock/MockExecuteHandlerImpl.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/SQLType.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/SQLUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/BaseRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/mysql/MySQLUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/BaseOracleRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/BasePostgresqlRecognizer.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/DruidSQLRecognizerFactoryTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/MySQLUpdateRecognizerTest.java
  test/pom.xml
  test/src/test/java/io/seata/at/mysql/MysqlUpdateJoinTest.java
  test/src/test/resources/README.md
Labels: mode: AT, module/rm-datasource, module/sqlparser

#4780 bugfix: can't post TimeoutRollbacked event
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/session/SessionHelper.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoordinatorTest.java
Labels: type: bug, module/server

#4877 feature: seata client support jdk17
  all/pom.xml
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  config/seata-config-core/pom.xml
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationCache.java
  config/seata-config-core/src/test/java/io/seata/config/FileConfigurationTest.java
  dependencies/pom.xml
  spring/pom.xml
Labels: type: feature, module/config, optimize:jvm

#5004 bugfix: duplicate image row for update join
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  core/src/main/java/io/seata/core/protocol/Version.java
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLUpdateJoinExecutor.java
Labels: type: bug, module/rm-datasource

#5018 bugfix: fix loader path in startup scripts
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  distribution/bin/seata-server.bat
  distribution/bin/seata-server.sh
Labels: type: bug

#4783 [Summer code 2022] separate console and server module
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  console/pom.xml
  console/src/main/java/io/seata/console/ConsoleApplication.java
  console/src/main/java/io/seata/console/config/RestClientConfig.java
  console/src/main/java/io/seata/console/controller/GlobalLockServerController.java
  console/src/main/java/io/seata/console/controller/GlobalSessionServerController.java
  console/src/main/java/io/seata/console/filter/JwtAuthenticationTokenFilter.java
  console/src/main/java/io/seata/console/param/GlobalLockParam.java
  console/src/main/java/io/seata/console/param/GlobalSessionParam.java
  console/src/main/java/io/seata/console/result/BranchSessionVO.java
  console/src/main/java/io/seata/console/result/GlobalLockVO.java
  console/src/main/java/io/seata/console/result/GlobalSessionVO.java
  console/src/main/java/io/seata/console/utils/UrlUtils.java
  console/src/main/resources/application.yml
  console/src/test/java/io/seata/console/controller/GlobalLockServerControllerTest.java
  console/src/test/java/io/seata/console/controller/GlobalSessionServerControllerTest.java
  core/src/main/java/io/seata/core/protocol/Version.java
  distribution/bin/seata-server.bat
  distribution/bin/seata-server.sh
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLUpdateJoinExecutor.java
  server/pom.xml
  server/src/main/java/io/seata/server/ServerApplication.java
  server/src/main/java/io/seata/server/console/constant/Code.java
  server/src/main/java/io/seata/server/console/controller/BranchSessionController.java
  server/src/main/java/io/seata/server/console/controller/GlobalLockController.java
  server/src/main/java/io/seata/server/console/controller/GlobalSessionController.java
  server/src/main/java/io/seata/server/console/filter/JwtAuthenticationTokenFilter.java
  server/src/main/java/io/seata/server/console/filter/JwtTokenUtils.java
  server/src/main/java/io/seata/server/console/filter/WebSecurityConfig.java
  server/src/main/java/io/seata/server/console/impl/db/BranchSessionDBServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/db/GlobalLockDBServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/db/GlobalSessionDBServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/file/BranchSessionFileServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/file/GlobalLockFileServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/file/GlobalSessionFileServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/redis/BranchSessionRedisServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/redis/GlobalLockRedisServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/redis/GlobalSessionRedisServiceImpl.java
  server/src/main/java/io/seata/server/console/param/BaseParam.java
  server/src/main/java/io/seata/server/console/param/GlobalLockParam.java
  server/src/main/java/io/seata/server/console/param/GlobalSessionParam.java
  server/src/main/java/io/seata/server/console/result/PageResult.java
  server/src/main/java/io/seata/server/console/result/Result.java
  server/src/main/java/io/seata/server/console/result/SingleResult.java
  server/src/main/java/io/seata/server/console/service/BranchSessionService.java
  server/src/main/java/io/seata/server/console/service/GlobalLockService.java
  server/src/main/java/io/seata/server/console/service/GlobalSessionService.java
  server/src/test/java/io/seata/server/console/service/GlobalLockServiceTest.java
  server/src/test/java/io/seata/server/console/service/GlobalSessionServiceTest.java
  server/src/test/java/io/seata/server/lock/LockManagerTest.java
  server/src/test/java/io/seata/server/session/FileSessionManagerTest.java
  server/src/test/java/io/seata/server/session/redis/RedisQueryConsolTest.java
Labels: module/console, summer2022

#4533 bugfix: fix rollback event repeated and some event status not correct
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/session/SessionHelper.java
Labels: type: bug, module/server
