Repository apache/incubator-seata, pull requests merged in 2022-02, with the labels that each got.

#4293 feature: Realize the interface of console: get global lock in the file mode
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/exception/InvalidParamException.java
  core/src/main/java/io/seata/core/console/result/PageResult.java
  core/src/main/java/io/seata/core/console/vo/BranchSessionVO.java
  core/src/main/java/io/seata/core/console/vo/GlobalLockVO.java
  server/src/main/java/io/seata/server/console/controller/GlobalLockController.java
  server/src/main/java/io/seata/server/console/controller/GlobalSessionController.java
  server/src/main/java/io/seata/server/console/impl/file/GlobalLockFileServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/file/GlobalSessionFileServiceImpl.java
  server/src/main/java/io/seata/server/lock/AbstractLockManager.java
  server/src/main/java/io/seata/server/lock/LockManager.java
  server/src/main/java/io/seata/server/storage/SessionConverter.java
  server/src/test/java/io/seata/server/lock/LockManagerTest.java
  server/src/test/java/io/seata/server/session/FileSessionManagerTest.java
Labels: type: feature, module/server

#4353 optimize: Slimming down for the `seata-all.jar`
  all/pom.xml
  bom/pom.xml
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/ConfigurationKeys.java
  compressor/seata-compressor-all/pom.xml
  config/seata-config-all/pom.xml
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationKeys.java
  core/src/main/java/io/seata/core/constants/ConfigurationKeys.java
  core/src/main/java/io/seata/core/rpc/netty/v1/ProtocolV1Decoder.java
  core/src/main/java/io/seata/core/rpc/netty/v1/ProtocolV1Encoder.java
  core/src/main/java/io/seata/core/serializer/SerializerServiceLoader.java
  core/src/main/java/io/seata/core/serializer/SerializerType.java
  distribution/pom.xml
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/SQLVisitorFactory.java
Labels: maven

#4086 optimize: lazily load branch transactions and task scheduling
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/ConfigurationKeys.java
  common/src/main/java/io/seata/common/Constants.java
  script/server/db/mysql.sql
  script/server/db/oracle.sql
  script/server/db/postgresql.sql
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/properties/server/ServerRecoveryProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/test/java/io/seata/spring/boot/autoconfigure/ServerPropertiesTest.java
  server/src/main/java/io/seata/server/console/controller/BranchSessionController.java
  server/src/main/java/io/seata/server/console/impl/file/GlobalSessionFileServiceImpl.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/java/io/seata/server/session/BranchSession.java
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/main/java/io/seata/server/session/SessionCondition.java
  server/src/main/java/io/seata/server/session/SessionHolder.java
  server/src/main/java/io/seata/server/storage/SessionConverter.java
  server/src/main/java/io/seata/server/storage/db/lock/DataBaseDistributedLocker.java
  server/src/main/java/io/seata/server/storage/db/store/DataBaseTransactionStoreManager.java
  server/src/main/java/io/seata/server/storage/file/lock/FileLockManager.java
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLocker.java
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
  server/src/main/java/io/seata/server/store/AbstractTransactionStoreManager.java
  server/src/main/java/io/seata/server/store/TransactionStoreManager.java
  server/src/main/java/io/seata/server/transaction/saga/SagaCore.java
  server/src/main/resources/application.example.yml
  server/src/test/java/io/seata/server/coordinator/DefaultCoordinatorTest.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoreTest.java
Labels: module/server, type: optimize

#4354 optimize: optimize the tests of `SAGA`
  .github/workflows/build.yml
  config/seata-config-core/src/test/java/io/seata/config/ConfigurationCacheTests.java
  core/src/test/java/io/seata/core/rpc/netty/TmNettyClientTest.java
  ext/apm-seata-skywalking-plugin/pom.xml
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/MariadbInsertExecutorTest.java
  saga/seata-saga-statelang/src/test/java/io/seata/saga/statelang/parser/StateParserTests.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/MySQLDeleteRecognizerTest.java
  test/src/test/java/io/seata/common/LockAndCallback.java
  test/src/test/java/io/seata/saga/engine/StateMachineAsyncTests.java
  test/src/test/java/io/seata/saga/engine/StateMachineTests.java
  test/src/test/java/io/seata/saga/engine/db/StateMachineDBTests.java
  test/src/test/java/io/seata/saga/engine/db/mockserver/StateMachineAsyncDBMockServerTests.java
  test/src/test/java/io/seata/saga/engine/db/mockserver/StateMachineDBMockServerTests.java
Labels: module/saga, maven

#4359 optimize: support configuration metadata read from environment variables
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  config/seata-config-core/src/main/java/io/seata/config/Configuration.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/provider/SpringBootConfigurationProvider.java
Labels: module/config

#4227 optimize: optimize the versions of the dependencies
  build/pom.xml
  config/seata-config-etcd3/pom.xml
  console/pom.xml
  console/src/main/java/io/seata/console/config/WebSecurityConfig.java
  dependencies/pom.xml
  discovery/seata-discovery-etcd3/pom.xml
  discovery/seata-discovery-eureka/pom.xml
  integration/http/pom.xml
  integration/http/src/test/java/io/seata/integration/http/MockHttpServletRequest.java
  metrics/seata-metrics-exporter-prometheus/pom.xml
  pom.xml
  rm-datasource/pom.xml
  seata-plugin/pom.xml
  seata-plugin/seata-jackson-parser-oracle/pom.xml
  seata-spring-autoconfigure/pom.xml
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/SeataCoreAutoConfiguration.java
  seata-spring-boot-starter/pom.xml
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/HttpAutoConfiguration.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/SeataSagaAutoConfiguration.java
  seata-spring-boot-starter/src/test/java/io/seata/spring/boot/autoconfigure/PropertyBeanPostProcessorTest.java
  server/pom.xml
  spring/pom.xml
  spring/src/test/java/io/seata/spring/annotation/datasource/SeataAutoDataSourceProxyTest.java
Labels: maven

#4282 optimize: build UndoItem logic
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertOrUpdateExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutorTest.java
Labels: first-time contributor, module/rm-datasource

#4305 optimize: acquire global lock fail error log print on tc
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/exception/AbstractExceptionHandler.java
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLocker.java
  server/src/main/resources/lua/redislocker/redislock.lua
Labels: module/server, type: optimize

#4391 optimize: commit/rollback retry timeout event
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/model/GlobalStatus.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/java/io/seata/server/metrics/MetricsSubscriber.java
  server/src/main/java/io/seata/server/session/SessionHelper.java
Labels: first-time contributor, module/server

#4281 feature: Realize the interface of console: get global session and global lock in the redis mode
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  core/src/main/java/io/seata/core/console/param/GlobalLockParam.java
  core/src/main/java/io/seata/core/console/result/PageResult.java
  core/src/main/java/io/seata/core/constants/RedisKeyConstants.java
  server/src/main/java/io/seata/server/console/impl/redis/BranchSessionRedisServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/redis/GlobalLockRedisServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/redis/GlobalSessionRedisServiceImpl.java
  server/src/main/java/io/seata/server/storage/SessionConverter.java
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLocker.java
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
  server/src/test/java/io/seata/server/session/redis/RedisQueryConsolTest.java
  server/src/test/java/io/seata/server/session/redis/RedisTransactionStoreManagerTest.java
Labels: type: feature, first-time contributor, module/server

#4400 optimize: asynchronous tasks handle global transactions in parallel
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/main/java/io/seata/server/session/SessionHelper.java
Labels: module/server, type: optimize

#4407 optimize: file mode does not require lazy processing of sessions
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
Labels: module/server, type: optimize

#4408 bugfix: fix the invalid environment variable in container env
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  server/src/main/java/io/seata/server/ParameterParser.java
  server/src/main/java/io/seata/server/Server.java
  server/src/main/java/io/seata/server/env/ContainerHelper.java
  server/src/main/java/io/seata/server/env/PortHelper.java
Labels: type: bug, first-time contributor, module/server

#4409 optimize: add some copyright header for test classes
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/registry/FileRegistryProvider.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/BasePropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/properties/config/test/ApolloPropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/properties/config/test/ConfigPropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/properties/config/test/ConsulPropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/properties/config/test/CustomPropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/properties/config/test/Etcd3PropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/properties/config/test/FilePropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/properties/config/test/NacosPropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/properties/config/test/ZooKeeperPropertiesTest.java
  server/src/main/java/io/seata/server/ServerApplicationListener.java
  server/src/test/java/io/seata/server/env/PortHelperTest.java
  spring/src/main/java/io/seata/spring/kt/support/TransactionCoroutineContext.kt
  spring/src/main/java/io/seata/spring/kt/support/TransactionDsl.kt
  spring/src/test/java/io/seata/spring/kt/TransactionScopeTest.kt
Labels: module/spring, module/server, type: optimize

#4247 optimize: add tests for `java17` and `springboot` in the `github/actions`
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
  all/pom.xml
  build/pom.xml
  changes/1.5.0.md
  changes/en-us/1.5.0.md
  common/src/main/java/io/seata/common/util/ReflectionUtil.java
  common/src/test/java/io/seata/common/util/CompressUtilTest.java
  common/src/test/java/io/seata/common/util/ReflectionUtilTest.java
  dependencies/pom.xml
  pom.xml
  rm-datasource/src/test/java/io/seata/rm/datasource/ConnectionProxyTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutorTest.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoordinatorTest.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoreTest.java
  server/src/test/resources/application.properties
Labels: type: optimize
