Repository apache/incubator-seata, pull requests merged in 2022-12, with the labels that each got.

#5124 optimize: support oracle on delete tccfence logs
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  tcc/src/main/java/io/seata/rm/tcc/TCCFenceHandler.java
  tcc/src/main/java/io/seata/rm/tcc/store/TCCFenceStore.java
  tcc/src/main/java/io/seata/rm/tcc/store/db/TCCFenceStoreDataBaseDAO.java
  tcc/src/main/java/io/seata/rm/tcc/store/db/sql/TCCFenceStoreSqls.java
Labels: module/tcc, type: optimize

#5134 bugfix: hikari datasource auto proxy fail
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/SeataDataSourceAutoConfiguration.java
Labels: type: bug, module/seata-spring-boot-starter

#4434 optimize: seata-server remove cms parameters
  .gitignore
  build/pom.xml
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationCache.java
  distribution/bin/seata-server.bat
  distribution/bin/seata-server.sh
  distribution/release-seata.xml
  server/pom.xml
Labels: module/server, type: optimize

#5120 optimize:unify the format of configuration items in yml files
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  script/client/spring/application.yml
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/config/ConfigApolloProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/config/ConfigConsulProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/config/ConfigCustomProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/config/ConfigNacosProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/config/ConfigZooKeeperProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/registry/RegistryConsulProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/registry/RegistryCustomProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/registry/RegistryNacosProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/registry/RegistryRedisProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/registry/RegistryZooKeeperProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/CorePropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/properties/server/store/StoreProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/properties/server/store/StoreRedisProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/test/java/io/seata/spring/boot/autoconfigure/ServerPropertiesTest.java
  server/src/main/resources/application.example.yml
Labels: type: optimize

#5180 optimize: declare @Bean methods as static
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/SeataAutoConfiguration.java
  seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/SeataDataSourceAutoConfiguration.java
Labels: module/seata-spring-boot-starter, type: optimize

#5179 bugfix: fix ClassNotFoundException caused when server starts when using Eureka
  dependencies/pom.xml
Labels: type: bug, first-time contributor

#5201 bugfix: Use Proxy.getInvocationHandler instead of reflection
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  spring/src/main/java/io/seata/spring/util/SpringProxyUtils.java
Labels: type: bug, module/spring

#5212 optimize: log message level
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  console/src/main/java/io/seata/console/utils/JwtTokenUtils.java
  core/src/main/java/io/seata/core/exception/AbstractExceptionHandler.java
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceManager.java
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ResourceManagerXA.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/java/io/seata/server/session/SessionHolder.java
Labels: optimize:log
