Repository apache/incubator-seata, pull requests merged in 2022-06, with the labels that each got.

#4515 bugfix: fix the exception with SeataTCCFenceAutoConfiguration
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/SeataTCCFenceAutoConfiguration.java
Labels: module/tcc

#4629 optimize: check relation of before status and after status when updating global session
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/main/java/io/seata/server/session/SessionHelper.java
  server/src/main/java/io/seata/server/session/SessionStatusValidator.java
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
  server/src/test/java/io/seata/server/session/SessionStatusValidatorTest.java
Labels: module/server, type: optimize

#4678 bugfix:fix key [transport.enableRmClientBatchSendRequest ] cache penetration
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemotingClient.java
  core/src/main/java/io/seata/core/rpc/netty/RmNettyRemotingClient.java
  core/src/main/java/io/seata/core/rpc/netty/TmNettyRemotingClient.java
Labels: type: bug, module/core

#4682 bugfix: fix the exception in RedisTransactionStoreManager
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  server/src/main/java/io/seata/server/storage/redis/store/RedisTransactionStoreManager.java
Labels: type: bug, first-time contributor, module/server

#4607 bugfix: fix bug on skipping lock check
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/ConnectionContext.java
  rm-datasource/src/test/java/io/seata/rm/datasource/ConnectionProxyTest.java
Labels: type: bug, module/rm-datasource

#4713 feature: support xid load balance
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  common/src/main/java/io/seata/common/DefaultValues.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/loadbalance/LoadBalanceFactory.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/loadbalance/XIDLoadBalance.java
  discovery/seata-discovery-core/src/main/resources/META-INF/services/io.seata.discovery.loadbalance.LoadBalance
  discovery/seata-discovery-core/src/test/java/io/seata/discovery/loadbalance/LoadBalanceTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/test/java/io/seata/spring/boot/autoconfigure/ClientPropertiesTest.java
Labels: type: feature, module/discovery, module/common

#4711 optimize: separate framework and lib dependencies for deployments
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  distribution/bin/seata-server.bat
  distribution/bin/seata-server.sh
  distribution/release-seata.xml
  pom.xml
  server/pom.xml
Labels: module/server, type: optimize, module/distribution

#4728 optimize: upgrade logback dependency to 1.2.9
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  dependencies/pom.xml
  server/pom.xml
Labels: module/server, type: optimize

#4729 bugfix: set wrong value to rollbackForClassName
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionalInterceptor.java
Labels: type: bug, first-time contributor, module/spring
