Repository apache/incubator-seata, pull requests merged in 2023-06, with the labels that each got.

#5602 bugfix: fix log in participant transaction role
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  tm/src/main/java/io/seata/tm/api/DefaultGlobalTransaction.java
  tm/src/main/java/io/seata/tm/api/TransactionalTemplate.java
Labels: type: bug, module/tm

#5623 optimize: possible conflict between asyncCommitting thread and retryCommitting thread
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
Labels: first-time contributor, module/server, type: optimize

#5583 bugfix: grpc interceptor xid unbinding problem
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  integration/grpc/src/main/java/io/seata/integration/grpc/interceptor/server/ServerListenerProxy.java
Labels: type: bug, module/integration

#5600 feature: support trace the transaction link according to the XID
  build/pom.xml
  ext/apm-seata-skywalking-plugin/src/main/java/io/seata/apm/skywalking/plugin/DefaultCoreDoGlobalCommitInterceptor.java
  ext/apm-seata-skywalking-plugin/src/main/java/io/seata/apm/skywalking/plugin/NettyRemotingClientSendSyncInterceptor.java
  ext/apm-seata-skywalking-plugin/src/main/java/io/seata/apm/skywalking/plugin/RemotingProcessorProcessInterceptor.java
  ext/apm-seata-skywalking-plugin/src/main/java/io/seata/apm/skywalking/plugin/common/SWSeataConstants.java
  ext/apm-seata-skywalking-plugin/src/main/java/io/seata/apm/skywalking/plugin/common/SWSeataUtils.java
  ext/apm-seata-skywalking-plugin/src/main/java/io/seata/apm/skywalking/plugin/define/DefaultCoreInstrumentation.java
Labels: type: feature, first-time contributor, apm/skywalking

#5563 optimize: optimize channel availability thread log output
  core/src/main/java/io/seata/core/rpc/netty/NettyClientChannelManager.java
Labels: first-time contributor

#5638 optimize: set server's transaction level to READ_COMMITTED
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  server/src/main/java/io/seata/server/store/DbcpDataSourceProvider.java
  server/src/main/java/io/seata/server/store/DruidDataSourceProvider.java
  server/src/main/java/io/seata/server/store/HikariDataSourceProvider.java
Labels: first-time contributor, module/server, type: optimize

#5579 bugfix: fix RM_CHANNELS get npe when resourceId is empty
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  core/src/main/java/io/seata/core/rpc/netty/ChannelManager.java
  core/src/main/java/io/seata/core/rpc/netty/RmNettyRemotingClient.java
  tcc/src/main/java/io/seata/rm/tcc/resource/parser/TccRegisterResourceParser.java
Labels: type: bug, module/core, module/server, module/serializer

#5663 bugfix: fix the timeout is null when the connectionProxyXA connection is reused
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ConnectionProxyXA.java
Labels: type: bug, mode: XA, module/rm-datasource

#5680 optimize: optimize escape character for case of columnNames
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/handler/mysql/MySQLEscapeHandler.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/handler/oracle/OracleEscapeHandler.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/handler/postgresql/PostgresqlEscapeHandler.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/handler/sqlserver/SqlServerEscapeHandler.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/EscapeHandler.java
Labels: mode: AT, module/rm-datasource, module/sqlparser, type: optimize
