Repository apache/incubator-seata, pull requests merged in 2023-09, with the labels that each got.

#5835 bugfix: fix TC retry rollback wrongly, after the XA transaction fail and rollback
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ConnectionProxyXA.java
Labels: type: bug, mode: XA, module/rm-datasource

#5881 bugfix:fix delete branch table unlock failed
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/session/BranchSession.java
Labels: type: bug, first-time contributor, module/server

#5885 optimize: optimize log in ConnectionProxyXA
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ConnectionProxyXA.java
Labels: module/rm-datasource, type: optimize

#5884 bugfix: dm escaped characters for upper and lower case column names
  changes/en-us/1.4.2.md
  changes/en-us/1.5.0.md
  changes/en-us/1.5.2.md
  changes/en-us/1.6.0.md
  changes/en-us/1.7.0.md
  changes/en-us/1.7.1.md
  changes/en-us/develop.md
  changes/zh-cn/1.4.2.md
  changes/zh-cn/1.5.0.md
  changes/zh-cn/1.5.2.md
  changes/zh-cn/1.6.0.md
  changes/zh-cn/1.7.0.md
  changes/zh-cn/1.7.1.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/handler/dm/DmEscapeHandler.java
Labels: type: bug, module/rm-datasource
