Repository apache/incubator-seata, pull requests merged in 2023-01, with the labels that each got.

#5224 bugfix: oracle initialize script index_name is duplicate
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  script/server/db/oracle.sql
Labels: type: bug, first-time contributor, module/script

#5237 optimize: print Stack Trace in EnhancedServiceLoader.loadFile#catch
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  common/src/main/java/io/seata/common/loader/EnhancedServiceLoader.java
Labels: first-time contributor, module/common

#5208 optimize: Throwable#getCause once more
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  server/src/main/java/io/seata/server/transaction/at/ATCore.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionalInterceptor.java
Labels: module/spring, module/server, type: optimize

#5233 bugfix: fix the inconsistent configuration item names related to LoadBalance
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  common/src/main/java/io/seata/common/DefaultValues.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/loadbalance/ConsistentHashLoadBalance.java
  discovery/seata-discovery-core/src/test/java/io/seata/config/ConfigurationFactoryTest.java
  discovery/seata-discovery-core/src/test/resources/file.conf
  script/client/conf/file.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/test/java/io/seata/spring/boot/autoconfigure/properties/client/LoadBalancePropertiesTest.java
  test/src/test/resources/file.conf
Labels: type: bug, module/seata-spring-boot-starter

#5153 optimize: Only AT mode try to get channel with other app
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  core/src/main/java/io/seata/core/rpc/RemotingServer.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemotingServer.java
  core/src/main/java/io/seata/core/rpc/netty/ChannelManager.java
  server/src/main/java/io/seata/server/coordinator/AbstractCore.java
  server/src/main/java/io/seata/server/session/BranchSession.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoordinatorTest.java
Labels: module/server, type: optimize

#5177 optimize: unlock branch synchronously.
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/main/java/io/seata/server/session/SessionHelper.java
  server/src/main/java/io/seata/server/session/SessionLifecycle.java
  server/src/test/java/io/seata/server/session/GlobalSessionTest.java
Labels: module/server, type: optimize

#5239 bugfix: fix `getConfig` throw `ClassCastException` when use JDK proxy
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  common/src/main/java/io/seata/common/DefaultValues.java
  common/src/main/java/io/seata/common/loader/EnhancedServiceLoader.java
  common/src/main/java/io/seata/common/util/ReflectionUtil.java
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationCache.java
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationFactory.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/AbstractTableMetaCache.java
  rm-datasource/src/main/java/io/seata/rm/datasource/util/JdbcUtils.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/ShutdownProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/config/ConfigZooKeeperProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/registry/RegistryZooKeeperProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/provider/SpringBootConfigurationProvider.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/BasePropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/properties/config/test/ZooKeeperPropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/properties/server/ServerProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/properties/server/ServerRecoveryProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/properties/server/ServerUndoProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/properties/server/store/StoreDBProperties.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoordinatorTest.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionScanner.java
  spring/src/main/java/io/seata/spring/annotation/datasource/SeataAutoDataSourceProxyCreator.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/DefaultDruidLoader.java
Labels: type: bug, module/config

#4858 optimize : reorganize the usage of task session manager(add/remove/find/update)
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/session/AbstractSessionManager.java
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/main/java/io/seata/server/session/SessionHolder.java
  server/src/main/java/io/seata/server/transaction/saga/SagaCore.java
Labels: module/server, TC/store, type: optimize
