Repository apache/incubator-seata, pull requests merged in 2023-03, with the labels that each got.

#5428 bugfix: FileTransactionStoreManagerTest NPE
  server/src/test/java/io/seata/server/session/GlobalSessionTest.java
  server/src/test/java/io/seata/server/store/file/FileTransactionStoreManagerTest.java
Labels: type: bug, module/server, type: test

#5426 bugfix: the GlobalTransactional annotation npe issue.
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  integration-tx-api/src/main/java/io/seata/integration/tx/api/interceptor/handler/GlobalTransactionalInterceptorHandler.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/util/ClassUtils.java
Labels: type: bug, intergration-tx-api

#5447 bugfix: oracle xa mode cannnot be used By same database
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/util/SeataXAResource.java
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ConnectionProxyXA.java
Labels: type: bug, mode: XA, module/rm-datasource

#5449 bugfix: oracle xa mode cannnot be used By same database
  rm-datasource/src/main/java/io/seata/rm/datasource/util/SeataXAResource.java
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ConnectionProxyXA.java
Labels: type: bug, mode: XA, module/rm-datasource

#5145 bugfix: global session is always begin in saga mode
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  server/src/main/java/io/seata/server/session/SessionHelper.java
  server/src/main/java/io/seata/server/transaction/saga/SagaCore.java
Labels: type: bug, module/server
