Repository apache/incubator-seata, pull requests merged in 2023-02, with the labels that each got.

#5273 optimize:fix the problem that protobuf compilation fails
  build/pom.xml
Labels: type: optimize

#5274 optimize: fix the problem that protobuf compilation fails（for dev）
  build/pom.xml
  changes/en-us/develop.md
  changes/zh-cn/develop.md
Labels: type: optimize

#4881 optimize : reorganize the usage of Sessionmanager and SessionLifecycleListener
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/coordinator/AbstractCore.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/java/io/seata/server/session/AbstractSessionManager.java
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/main/java/io/seata/server/session/SessionHolder.java
  server/src/main/java/io/seata/server/session/SessionManager.java
  server/src/main/java/io/seata/server/storage/db/session/DataBaseSessionManager.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoordinatorTest.java
  server/src/test/java/io/seata/server/coordinator/DefaultCoreTest.java
  server/src/test/java/io/seata/server/session/FileSessionManagerTest.java
  server/src/test/java/io/seata/server/session/GlobalSessionTest.java
  server/src/test/java/io/seata/server/store/SessionStoreTest.java
  server/src/test/java/io/seata/server/store/file/FileTransactionStoreManagerTest.java
Labels: module/server, TC/store, type: optimize

#5277 bugfix: the console has queried the released lock
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/console/impl/file/GlobalLockFileServiceImpl.java
  server/src/test/java/io/seata/server/lock/LockManagerTest.java
Labels: type: bug, module/server

#5266 bugfix: the console has queried the released lock
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  server/src/main/java/io/seata/server/console/impl/file/GlobalLockFileServiceImpl.java
  server/src/test/java/io/seata/server/lock/LockManagerTest.java
Labels: type: bug, module/server

#5281 bugfix: parallel request handle throw IndexOutOfBoundsException
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  core/src/main/java/io/seata/core/rpc/processor/server/ServerOnRequestProcessor.java
Labels: type: bug, module/core

#5282 bugfix: parallel request handle throw IndexOutOfBoundsException
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  core/src/main/java/io/seata/core/rpc/processor/server/ServerOnRequestProcessor.java
Labels: type: bug, module/server

#5278 optimize: clean multi-sessionmanager-instance pattern
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/session/SessionHolder.java
  server/src/main/java/io/seata/server/storage/db/session/DataBaseSessionManager.java
  server/src/main/java/io/seata/server/storage/redis/session/RedisSessionManager.java
Labels: module/server, type: optimize

#5287 bugfix: After 1.6.0, auto-increment of pgsql pk columns are no longer supported
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/postgresql/PostgresqlInsertExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/PostgresqlInsertExecutorTest.java
Labels: type: bug, first-time contributor, module/rm-datasource

#5288 bugfix: After 1.6.0, auto-increment of oracle pk columns are no longer supported
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/oracle/OracleInsertExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/OracleInsertExecutorTest.java
Labels: type: bug, module/rm-datasource

#5294 bugfix: After 1.6.0, auto-increment of pgsql/oracle pk columns are no longer supported
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/oracle/OracleInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/postgresql/PostgresqlInsertExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/OracleInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/PostgresqlInsertExecutorTest.java
Labels: type: bug, module/rm-datasource

#5303 optimize: remove startup script the -Xmn configuration
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  distribution/bin/seata-server.bat
  distribution/bin/seata-server.sh
Labels: first-time contributor, type: optimize, module/distribution

#4880 optimize : optimize logs when global commit/rollback catch an exception
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
Labels: module/server, optimize:log

#5308 test: add unit test[FileLoader, ObjectHolder, StringUtils]
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  common/src/test/java/io/seata/common/holder/ObjectHolderTest.java
  common/src/test/java/io/seata/common/io/FileLoaderTest.java
  common/src/test/java/io/seata/common/util/StringUtilsTest.java
  common/src/test/resources/io/TestFile.txt
Labels: module/common

#5307 bugfix: that keywords don't add escaped characters
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/UpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLUpdateJoinExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/UpdateExecutorTest.java
Labels: type: bug, mode: AT, module/rm-datasource

#5304 bugfix: remove RollbackRetryTimeout sessions during in file storage recover
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/storage/file/session/FileSessionManager.java
Labels: type: bug, module/server

#5299 bugfix: don't remove GlobalSession when retry rollback or retry commit timeout
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/mysql/MySQLUndoUpdateExecutor.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
Labels: type: bug, module/server

#5311 bugfix: remove RollbackRetryTimeout sessions during in file storage recover
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/UpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/mysql/MySQLUndoUpdateExecutor.java
  server/src/main/java/io/seata/server/storage/file/session/FileSessionManager.java
Labels: type: bug, module/rm-datasource, module/server

#5309 test: add unit test[ArrayUtils,ConfigTools,MapUtil]
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  common/src/test/java/io/seata/common/util/ArrayUtilsTest.java
  common/src/test/java/io/seata/common/util/ConfigToolsTest.java
  common/src/test/java/io/seata/common/util/MapUtilTest.java
Labels: module/common, type: test

#5323 optimize: add time info for global transaction timeout log
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
Labels: module/server, type: optimize

#5315 optimize: optimize EnhancedServiceLoader log
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  common/src/main/java/io/seata/common/loader/EnhancedServiceLoader.java
Labels: module/common, type: optimize

#5322 optimize: optimize EnhancedServiceLoader log
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  common/src/main/java/io/seata/common/loader/EnhancedServiceLoader.java
Labels: module/common, type: optimize

#5326 optimize: add time info in global transaction timeout log for 2.x branch
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
Labels: module/server, type: optimize

#5330 bugfix: fix some tiny bugs
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  common/src/main/java/io/seata/common/loader/ExtensionDefinition.java
  common/src/main/java/io/seata/common/util/LowerCaseLinkHashMap.java
Labels: type: bug, module/common

#5089 optimize: add tcc fence log clean task delay check
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  tcc/src/main/java/io/seata/rm/tcc/config/TCCFenceConfig.java
Labels: mode: TCC, module/tcc, type: optimize

#5325 optimize: add store mode,config type and registry type log info
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  config/seata-config-core/src/main/java/io/seata/config/ConfigurationFactory.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/registry/MultiRegistryFactory.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/registry/RegistryFactory.java
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/lock/LockerManagerFactory.java
  server/src/main/java/io/seata/server/session/SessionHolder.java
Labels: module/config, module/discovery, module/server, optimize:log

#5321 bugfix: fix when TC returns RollbackFailed FailureHandler not executed
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  tm/src/main/java/io/seata/tm/api/TransactionalTemplate.java
Labels: type: bug, module/tm

#5347 bugfix: fix console jwt log error
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  console/src/main/resources/static/index.html
  server/src/main/resources/application.yml
Labels: type: bug, first-time contributor, module/server, module/console

#5362 bugfix: fix when TC returns RollbackFailed FailureHandler not executed
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  tm/src/main/java/io/seata/tm/api/TransactionalTemplate.java
Labels: type: bug, module/tm

#4734 bugfix : check if table meta cache should be refreshed in AT mode
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exception/TableMetaException.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/AbstractDMLBaseExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLUpdateJoinExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/TableMetaCacheFactory.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/TableRecords.java
  rm-datasource/src/test/java/io/seata/rm/datasource/DataSourceProxyTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/struct/TableRecordsTest.java
Labels: type: bug, module/rm-datasource
