Repository apache/incubator-seata, pull requests merged in 2023-05, with the labels that each got.

#5556 bugfix: fix oracle insert undolog failed
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  script/client/at/db/oracle.sql
  script/client/at/db/postgresql.sql
Labels: mode: AT, module/script

#5558 bugfix: fix mariadb rollback failed
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoLogManager.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/BaseH2Test.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/UndoExecutorTest.java
Labels: type: bug, mode: AT, module/rm-datasource

#5552 bugfix: fix mariadb rollback failed
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoLogManager.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/BaseH2Test.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/UndoExecutorTest.java
Labels: type: bug, mode: AT, module/rm-datasource

#5576 optimize: The common fence clean task is only initiated when useTCCFence is set to true
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  common/src/main/java/io/seata/common/Constants.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/fence/config/CommonFenceConfig.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/io/seata/spring/boot/autoconfigure/SeataSpringFenceAutoConfiguration.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/resources/META-INF/spring.factories
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  spring/src/main/java/io/seata/rm/fence/SpringFenceConfig.java
  tcc/src/main/java/io/seata/rm/tcc/interceptor/TccActionInterceptorHandler.java
Labels: mode: TCC, type: optimize, intergration-tx-api

#5577 bugfix: grpc interceptor xid unbinding problem
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  integration/grpc/src/main/java/io/seata/integration/grpc/interceptor/server/ServerListenerProxy.java
Labels: type: bug, module/integration

#4033 feature：support MS SqlServer on the server side of AT mode
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  core/src/main/java/io/seata/core/store/db/sql/lock/SqlServerLockStoreSql.java
  core/src/main/java/io/seata/core/store/db/sql/log/SqlServerLogStoreSqls.java
  core/src/main/resources/META-INF/services/io.seata.core.store.db.sql.lock.LockStoreSql
  core/src/main/resources/META-INF/services/io.seata.core.store.db.sql.log.LogStoreSqls
  script/server/db/sqlserver.sql
  server/src/main/java/io/seata/server/storage/db/store/LogStoreDataBaseDAO.java
Labels: type: feature, module/server, DB: SQLServer, Summer2021

#3887 feature: support sqlserver in AT mode
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/AbstractDataSourceProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/AbstractStatementProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/DeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/ExecuteTemplate.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/MultiExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/MultiUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/SelectForUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/UpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/sqlserver/SqlServerDeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/sqlserver/SqlServerInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/sqlserver/SqlServerMultiDeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/sqlserver/SqlServerMultiUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/sqlserver/SqlServerSelectForUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/sqlserver/SqlServerUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/handler/mysql/MySQLEscapeHandler.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/handler/sqlserver/SqlServerEscapeHandler.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/SqlServerTableMetaCache.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/AbstractUndoLogManager.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/sqlserver/BaseSqlServerUndoExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/sqlserver/SqlServerUndoDeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/sqlserver/SqlServerUndoExecutorHolder.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/sqlserver/SqlServerUndoInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/sqlserver/SqlServerUndoLogManager.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/sqlserver/SqlServerUndoUpdateExecutor.java
  rm-datasource/src/main/resources/META-INF/services/io.seata.rm.datasource.exec.InsertExecutor
  rm-datasource/src/main/resources/META-INF/services/io.seata.rm.datasource.sql.struct.TableMetaCache
  rm-datasource/src/main/resources/META-INF/services/io.seata.rm.datasource.undo.UndoExecutorHolder
  rm-datasource/src/main/resources/META-INF/services/io.seata.rm.datasource.undo.UndoLogManager
  rm-datasource/src/main/resources/META-INF/services/io.seata.sqlparser.EscapeHandler
  rm-datasource/src/test/java/io/seata/rm/datasource/ColumnUtilsTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/DataSourceProxyTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/SqlServerInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/SQLVisitorFactoryTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/handler/EscapeHandlerTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/struct/cache/SqlServerTableMetaCacheTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/sqlserver/SqlServerUndoDeleteExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/sqlserver/SqlServerUndoInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/sqlserver/SqlServerUndoUpdateExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/sqlserver/keyword/SqlServerKeywordCheckerTest.java
  script/client/at/db/sqlserver.sql
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/EscapeHandler.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/EscapeSymbol.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/util/JdbcConstants.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/sqlserver/BaseSqlServerRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/sqlserver/SqlServerDeleteRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/sqlserver/SqlServerInsertRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/sqlserver/SqlServerOperateRecognizerHolder.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/sqlserver/SqlServerSelectForUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/sqlserver/SqlServerUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/resources/META-INF/services/io.seata.sqlparser.druid.SQLOperateRecognizerHolder
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/DruidSQLRecognizerFactoryTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/sqlserver/SqlServerDeleteRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/sqlserver/SqlServerInsertRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/sqlserver/SqlServerOperateRecognizerHolderTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/sqlserver/SqlServerSelectForUpdateRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/sqlserver/SqlServerUpdateRecognizerTest.java
Labels: mode: AT, module/rm-datasource, module/sqlparser, DB: SQLServer, Summer2021

#5594 bugfix: fix log in participant transaction role
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  tm/src/main/java/io/seata/tm/api/DefaultGlobalTransaction.java
  tm/src/main/java/io/seata/tm/api/TransactionalTemplate.java
Labels: type: bug, module/tm

#5604 bugfix: fix the `asyncCommit` and `queueToRetryCommit` always failed in db mode
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/main/java/io/seata/server/storage/db/store/LogStoreDataBaseDAO.java
Labels: type: bug, module/server
