Repository apache/incubator-seata, pull requests merged in 2023-11, with the labels that each got.

#5954 bugfix: fix the issue of saved branch session status does not match the actual branch session status
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/main/java/io/seata/server/session/SessionHelper.java
Labels: type: bug, module/server

#5987 security: upgrade some dependencies version
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  console/src/main/resources/static/console-fe/package-lock.json
  console/src/main/resources/static/console-fe/package.json
  saga/seata-saga-statemachine-designer/package-lock.json
  saga/seata-saga-statemachine-designer/package.json
Labels: Security

#5977 bugfix: fix that rpcServer is not closed when raftServer is closed
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/cluster/raft/RaftServer.java
  server/src/main/java/io/seata/server/cluster/raft/RaftServerFactory.java
  server/src/main/java/io/seata/server/session/SessionHolder.java
Labels: type: bug, module/server

#5995 test: Adding test cases for RaftClusterMetadataMsg
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/test/java/io/seata/server/raft/RaftSyncMessageTest.java
Labels: first-time contributor, module/server, type: test

#6003 test: add test cases for RaftMsgExecute under lock package
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/cluster/raft/RaftServerFactory.java
  server/src/main/java/io/seata/server/lock/LockerManagerFactory.java
  server/src/main/java/io/seata/server/session/SessionHolder.java
  server/src/test/java/io/seata/server/raft/execute/LockExecuteTest.java
Labels: module/server, type: test

#5997 bugfix: fix global transaction hook repeat execute
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  saga/seata-saga-engine-store/src/main/java/io/seata/saga/engine/store/db/DbAndReportTcStateLogStore.java
  saga/seata-saga-tm/src/main/java/io/seata/saga/tm/DefaultSagaTransactionalTemplate.java
  saga/seata-saga-tm/src/main/java/io/seata/saga/tm/SagaTransactionalTemplate.java
  test/src/test/java/io/seata/saga/engine/mock/MockSagaTransactionTemplate.java
  tm/src/main/java/io/seata/tm/api/TransactionalTemplate.java
Labels: type: bug, module/tm

#5990 bugfix: fix the issue that the Lua script is not synchronized when the redis sentinel master node is down
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/storage/redis/JedisPooledFactory.java
  server/src/main/java/io/seata/server/storage/redis/LuaParser.java
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLuaLocker.java
  server/src/main/java/io/seata/server/storage/redis/store/RedisLuaTransactionStoreManager.java
Labels: type: bug, module/server

#5996 test: add test cases for RaftMsgExecute under global package
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/test/java/io/seata/server/raft/execute/GlobalSessionExecuteTest.java
Labels: module/server, type: test

#6001 test: add test cases for RaftMsgExecute under branch package
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/test/java/io/seata/server/raft/execute/BranchSessionExecuteTest.java
Labels: module/server, type: test

#5991 bugfix: fix the issue that the Lua script is not synchronized when the redis sentinel master node is down
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  server/src/main/java/io/seata/server/storage/redis/JedisPooledFactory.java
  server/src/main/java/io/seata/server/storage/redis/lock/RedisLocker.java
Labels: type: bug, module/server

#6005 test: fix saga async tests undefined behavior
  test/src/test/java/io/seata/common/LockAndCallback.java
  test/src/test/java/io/seata/saga/engine/StateMachineAsyncTests.java
  test/src/test/java/io/seata/saga/engine/db/StateMachineDBTests.java
  test/src/test/java/io/seata/saga/engine/db/mockserver/StateMachineAsyncDBMockServerTests.java
Labels: module/saga, type: test

#6009 test: add test cases for RaftServerFactory
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/cluster/raft/RaftServerFactory.java
  server/src/main/java/io/seata/server/cluster/raft/RaftStateMachine.java
  server/src/test/java/io/seata/server/raft/RaftServerTest.java
Labels: module/server, type: test

#6013 security: upgrade seata-server spring version
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  console/pom.xml
  server/pom.xml
Labels: module/server, module/console, Security

#5887 bugfix: global transaction hook repeat execute
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  saga/seata-saga-engine-store/src/main/java/io/seata/saga/engine/store/db/DbAndReportTcStateLogStore.java
  saga/seata-saga-tm/src/main/java/io/seata/saga/tm/DefaultSagaTransactionalTemplate.java
  saga/seata-saga-tm/src/main/java/io/seata/saga/tm/SagaTransactionalTemplate.java
  test/src/test/java/io/seata/saga/engine/mock/MockSagaTransactionTemplate.java
  tm/src/main/java/io/seata/tm/api/TransactionalTemplate.java
Labels: type: bug, module/tm

#6018 bugfix: fix incorrect metric report
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/session/SessionHelper.java
Labels: type: bug, module/server

#6024 bugfix: fix the white screen after click the "View Global Lock" button on the transaction info page in the console
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  console/src/main/resources/static/console-fe/src/pages/TransactionInfo/TransactionInfo.tsx
Labels: type: bug, module/console

#6002 optimize: remove fst serialization
  all/pom.xml
  bom/pom.xml
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  core/src/main/java/io/seata/core/serializer/SerializerType.java
  dependencies/pom.xml
  rm-datasource/pom.xml
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/UndoLogParserFactory.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/FstSerializerFactory.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/FstUndoLogParser.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/spi/FstSerializer.java
  rm-datasource/src/main/resources/META-INF/services/io.seata.rm.datasource.undo.UndoLogParser
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/UndoLogParserFactoryTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/UndoLogParserProviderTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/parser/FstUndoLogParserTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  serializer/pom.xml
  serializer/seata-serializer-all/pom.xml
  serializer/seata-serializer-fst/pom.xml
  serializer/seata-serializer-fst/src/main/java/io/seata/serializer/fst/FstSerializer.java
  serializer/seata-serializer-fst/src/main/java/io/seata/serializer/fst/FstSerializerFactory.java
  serializer/seata-serializer-fst/src/main/resources/META-INF/services/io.seata.core.serializer.Serializer
  serializer/seata-serializer-fst/src/test/java/io/seata/serializer/fst/FstSerializerTest.java
Labels: module/core, module/rm-datasource, module/serializer, type: optimize, module/bom, module/all, module/seata-spring-autoconfigure-client

#6026 bugfix: fix incorrect metric report
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  server/src/main/java/io/seata/server/session/SessionHelper.java
Labels: type: bug, module/server

#6015 bugfix: can't integrate dubbo with spring
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  integration-tx-api/src/main/java/io/seata/integration/tx/api/interceptor/parser/DefaultInterfaceParser.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/interceptor/parser/DefaultResourceRegisterParser.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/interceptor/parser/GlobalTransactionalInterceptorParser.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/interceptor/parser/InterfaceParser.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/interceptor/parser/RegisterResourceParser.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/remoting/parser/DefaultRemotingParser.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/util/ProxyUtil.java
  integration-tx-api/src/test/java/io/seata/integration/tx/api/interceptor/parser/GlobalTransactionalInterceptorParserTest.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionScanner.java
  spring/src/main/java/io/seata/spring/remoting/parser/RemotingFactoryBeanParser.java
  spring/src/main/java/io/seata/spring/tcc/TccAnnotationProcessor.java
  spring/src/main/resources/META-INF/services/io.seata.integration.tx.api.remoting.RemotingParser
  tcc/src/main/java/io/seata/rm/tcc/interceptor/parser/TccActionInterceptorParser.java
  tcc/src/main/java/io/seata/rm/tcc/resource/parser/TccRegisterResourceParser.java
  tcc/src/test/java/io/seata/rm/tcc/interceptor/parser/TccActionInterceptorParserTest.java
Labels: type: bug, first-time contributor, module/spring

#6033 bugfix: fix hsf isReference bug
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  integration-tx-api/src/main/java/io/seata/integration/tx/api/remoting/parser/HSFRemotingParser.java
Labels: type: bug, intergration-tx-api

#6044 optimize: optimize derivative product check base on mysql
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLUpdateJoinExecutor.java
Labels: module/rm-datasource, type: optimize

#6045 optimize: optimize derivative product check base on mysql
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLUpdateJoinExecutor.java
Labels: module/rm-datasource, type: optimize

#6050 bugfix: change RaftServer#destroy to wait all shutdown procedures done
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/cluster/raft/RaftServer.java
Labels: type: bug, module/server

#6049 bugfix: fix the issue of Raft registry exception without waiting for retries
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  common/pom.xml
  common/src/main/java/io/seata/common/util/HttpClientUtil.java
  discovery/seata-discovery-raft/src/main/java/io/seata/discovery/registry/raft/RaftRegistryServiceImpl.java
Labels: type: bug, module/discovery

#6069 security: upgrade com.google.guava:guava to 32.0.0-jre
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  dependencies/pom.xml
Labels: first-time contributor, Security

#6031 optimize: undo_log table check optimize
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  config/seata-config-core/src/test/java/io/seata/config/ConfigFutureTest.java
  core/src/main/java/io/seata/core/constants/DBType.java
  dependencies/pom.xml
  pom.xml
  rm-datasource/src/main/java/io/seata/rm/RMHandlerAT.java
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceProxy.java
  rm-datasource/src/test/java/io/seata/rm/RMHandlerATTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/DataSourceProxyTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/PreparedStatementProxyTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/StatementProxyTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/DeleteExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/MultiExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/PlainExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/SelectForUpdateExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/UpdateExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/UpdateJoinExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/struct/TableRecordsTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/struct/cache/DmTableMetaCacheTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/struct/cache/MariadbTableMetaCacheTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/struct/cache/MysqlTableMetaCacheTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/struct/cache/OracleTableMetaCacheTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/struct/cache/PostgresqlTableMetaCacheTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/struct/cache/SqlServerTableMetaCacheTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/BaseH2Test.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/mariadb/MariadbUndoLogManagerTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/mysql/MySQLUndoLogManagerTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/polardbx/PolarDBXUndoLogManagerTest.java
Labels: first-time contributor, mode: AT, module/rm-datasource

#6075 bugfix: fix missing table alias for on update column of image SQL
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/UpdateExecutorTest.java
Labels: type: bug, mode: AT, module/rm-datasource

#4410 bugfix: support jdk9+ compile code
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  common/src/main/java/io/seata/common/util/BufferUtils.java
  integration/http/src/test/java/io/seata/integration/http/HttpTest.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/ProtostuffUndoLogParser.java
  serializer/seata-serializer-protobuf/src/main/java/io/seata/serializer/protobuf/ProtobufSerializer.java
  serializer/seata-serializer-seata/src/main/java/io/seata/serializer/seata/SeataSerializer.java
  server/src/main/java/io/seata/server/session/BranchSession.java
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/main/java/io/seata/server/storage/file/store/FileTransactionStoreManager.java
  server/src/test/java/io/seata/server/store/file/FileTransactionStoreManagerTest.java
Labels: type: bug, module/rm-datasource, module/integration, module/server, module/serializer

#6061 optimize: the high CPU usage issue of the rpcMergeMessageSend thread
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemoting.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemotingClient.java
Labels: first-time contributor, module/core, type: optimize

#6085 bugfix: support jdk9+ compile code
  common/src/main/java/io/seata/common/util/BufferUtils.java
  integration/http/src/test/java/io/seata/integration/http/HttpTest.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/parser/ProtostuffUndoLogParser.java
  serializer/seata-serializer-protobuf/src/main/java/io/seata/serializer/protobuf/ProtobufSerializer.java
  serializer/seata-serializer-seata/src/main/java/io/seata/serializer/seata/SeataSerializer.java
  server/src/main/java/io/seata/server/session/BranchSession.java
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/main/java/io/seata/server/storage/file/store/FileTransactionStoreManager.java
  server/src/test/java/io/seata/server/store/file/FileTransactionStoreManagerTest.java
Labels: type: bug, module/core, module/common, module/server

#6086 bugfix: fix oracle column alias cannot find
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/test/java/io/seata/rm/datasource/ColumnUtilsTest.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/EscapeHandler.java
Labels: type: bug, mode: AT, module/rm-datasource

#6089 optimize: modify the semantics of RaftServerFactory and remove unnecessary singleton
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/io/seata/server/cluster/raft/RaftServerManager.java
  server/src/main/java/io/seata/server/cluster/raft/RaftStateMachine.java
  server/src/main/java/io/seata/server/cluster/raft/snapshot/metadata/LeaderMetadataSnapshotFile.java
  server/src/main/java/io/seata/server/cluster/raft/util/RaftTaskUtil.java
  server/src/main/java/io/seata/server/controller/ClusterController.java
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/main/java/io/seata/server/session/SessionHolder.java
  server/src/main/java/io/seata/server/storage/raft/lock/RaftDistributedLocker.java
  server/src/test/java/io/seata/server/raft/RaftServerTest.java
Labels: module/server, type: optimize

#6042 optimize: add secure authentication to interfaces in ClusterController
  common/pom.xml
  common/src/main/java/io/seata/common/exception/AuthenticationFailedException.java
  common/src/main/java/io/seata/common/exception/RetryableException.java
  common/src/main/java/io/seata/common/util/HttpClientUtil.java
  discovery/seata-discovery-raft/src/main/java/io/seata/discovery/registry/raft/RaftRegistryServiceImpl.java
  discovery/seata-discovery-raft/src/test/java/io/seata/discovery/registry/raft/RaftRegistryServiceImplTest.java
  discovery/seata-discovery-raft/src/test/resources/file.conf
  discovery/seata-discovery-raft/src/test/resources/registry.conf
  script/client/conf/registry.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/registry/RegistryRaftProperties.java
  server/src/main/resources/application.yml
Labels: module/discovery, type: optimize

#6095 optimize：Optimizing the method of obtaining the tc address during raft authentication
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  discovery/seata-discovery-raft/src/main/java/io/seata/discovery/registry/raft/RaftRegistryServiceImpl.java
  discovery/seata-discovery-raft/src/test/java/io/seata/discovery/registry/raft/RaftRegistryServiceImplTest.java
Labels: module/discovery, type: optimize
