Repository apache/incubator-seata, pull requests merged in 2023-08, with the labels that each got.

#5762 bugfix: change some fields type of TableMetaCache to avoid integer overflow
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/MysqlTableMetaCache.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/OracleTableMetaCache.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/PostgresqlTableMetaCache.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/struct/cache/MysqlTableMetaCacheTest.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/struct/IndexMeta.java
Labels: type: bug, mode: AT, module/rm-datasource, module/sqlparser

#5769 bugfix: fix the key parameter problem of sofa-rpc setAttachment method(develop)
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  common/src/main/java/io/seata/common/Constants.java
  core/src/main/java/io/seata/core/context/RootContext.java
  integration/sofa-rpc/src/main/java/io/seata/integration/sofa/rpc/TransactionContextConsumerFilter.java
  integration/sofa-rpc/src/main/java/io/seata/integration/sofa/rpc/TransactionContextProviderFilter.java
  integration/sofa-rpc/src/test/java/io/seata/integration/sofa/rpc/TransactionContextFilterTest.java
Labels: type: bug, module/integration

#5766 security: fix some serializer vulnerabilities
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  core/src/main/java/io/seata/core/protocol/MergeMessage.java
  core/src/main/java/io/seata/core/protocol/RpcMessage.java
  core/src/main/java/io/seata/core/serializer/SerializerClassRegistry.java
  core/src/main/java/io/seata/core/serializer/SerializerSecurityRegistry.java
  core/src/test/java/io/seata/core/serializer/SerializerSecurityRegistryTest.java
  serializer/seata-serializer-fst/src/main/java/io/seata/serializer/fst/FstSerializerFactory.java
  serializer/seata-serializer-hessian/src/main/java/io/seata/serializer/hessian/HessianSerializerFactory.java
  serializer/seata-serializer-kryo/src/main/java/io/seata/serializer/kryo/KryoSerializerFactory.java
Labels: module/core, module/serializer, Security

#5810 bugfix: fix XA transaction start exception and rollback failure
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  core/src/main/java/io/seata/core/constants/DBType.java
  rm-datasource/src/main/java/io/seata/rm/datasource/util/JdbcUtils.java
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ConnectionProxyXA.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/util/JdbcConstants.java
Labels: type: bug, mode: XA, module/core, module/rm-datasource, module/sqlparser

#5815 optimize: support the nacos application name property
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  discovery/seata-discovery-nacos/src/main/java/io/seata/discovery/registry/nacos/NacosRegistryServiceImpl.java
  script/client/spring/application.properties
  script/client/spring/application.yml
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/properties/registry/RegistryNacosProperties.java
Labels: module/discovery

#5779 optimize: remove unnecessary log outputs and unify the log output path
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  distribution/bin/seata-server.sh
  distribution/bin/seata-setup.sh
  server/src/main/resources/application.example.yml
  server/src/main/resources/application.yml
Labels: module/server, type: optimize, module/distribution

#5819 bugfix: fix oracle column alias cannot find
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/test/java/io/seata/rm/datasource/ColumnUtilsTest.java
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/EscapeHandler.java
Labels: DB: Oracle, mode: AT

#5820 optimize: unified log output directory
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  distribution/bin/seata-server.sh
  distribution/bin/seata-setup.sh
  server/src/main/resources/application.example.yml
  server/src/main/resources/application.yml
Labels: apm, optimize:log
