Repository apache/incubator-seata, pull requests merged in 2023-10, with the labels that each got.

#5898 security: upgrade nodejs dependency
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  console/src/main/resources/static/console-fe/package-lock.json
  console/src/main/resources/static/console-fe/package.json
  saga/seata-saga-statemachine-designer/package-lock.json
  saga/seata-saga-statemachine-designer/package.json
Labels: Security

#5892 feature: support polardb-x 2.0
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  common/src/main/java/io/seata/common/util/PageUtil.java
  common/src/test/java/io/seata/common/util/PageUtilTest.java
  core/src/main/java/io/seata/core/store/db/sql/lock/PolarDBXLockStoreSql.java
  core/src/main/java/io/seata/core/store/db/sql/log/PolarDBXLogStoreSqls.java
  core/src/main/resources/META-INF/services/io.seata.core.store.db.sql.lock.LockStoreSql
  core/src/main/resources/META-INF/services/io.seata.core.store.db.sql.log.LogStoreSqls
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceProxy.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/ExecuteTemplate.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/polardbx/PolarDBXInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/polardbx/PolarDBXInsertOnDuplicateUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/polardbx/PolarDBXUpdateJoinExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/handler/polardbx/PolarDBXEscapeHandler.java
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/cache/PolarDBXTableMetaCache.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/polardbx/PolarDBXUndoDeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/polardbx/PolarDBXUndoExecutorHolder.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/polardbx/PolarDBXUndoInsertExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/polardbx/PolarDBXUndoLogManager.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/polardbx/PolarDBXUndoUpdateExecutor.java
  rm-datasource/src/main/resources/META-INF/services/io.seata.rm.datasource.exec.InsertExecutor
  rm-datasource/src/main/resources/META-INF/services/io.seata.rm.datasource.undo.UndoExecutorHolder
  rm-datasource/src/main/resources/META-INF/services/io.seata.rm.datasource.undo.UndoLogManager
  rm-datasource/src/main/resources/META-INF/services/io.seata.sqlparser.EscapeHandler
  rm-datasource/src/main/resources/META-INF/services/io.seata.sqlparser.struct.TableMetaCache
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/PolarDBXInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/exec/PolarDBXInsertOnDuplicateUpdateExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/mock/MockDriver.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/SQLVisitorFactoryTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/sql/struct/TableMetaCacheFactoryTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/AbstractUndoExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/polardbx/PolarDBXUndoDeleteExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/polardbx/PolarDBXUndoInsertExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/polardbx/PolarDBXUndoLogManagerTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/polardbx/PolarDBXUndoUpdateExecutorTest.java
  rm-datasource/src/test/java/io/seata/rm/datasource/undo/polardbx/keyword/PolarDBXEscapeHandlerTest.java
  rm-datasource/src/test/resources/META-INF/services/io.seata.sqlparser.druid.SQLOperateRecognizerHolder
  sqlparser/seata-sqlparser-core/src/main/java/io/seata/sqlparser/util/JdbcConstants.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/DruidDbTypeAdapter.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/DruidSQLRecognizerFactoryImpl.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/polardbx/PolarDBXDeleteRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/polardbx/PolarDBXInsertRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/polardbx/PolarDBXOperateRecognizerHolder.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/polardbx/PolarDBXSelectForUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/polardbx/PolarDBXUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/resources/META-INF/services/io.seata.sqlparser.druid.SQLOperateRecognizerHolder
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/DruidSQLRecognizerFactoryTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/polardbx/AbstractPolarDBXRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/polardbx/PolarDBXDeleteRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/polardbx/PolarDBXInsertRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/polardbx/PolarDBXOperateRecognizerHolderTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/polardbx/PolarDBXSelectForUpdateRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/io/seata/sqlparser/druid/polardbx/PolarDBXUpdateRecognizerTest.java
Labels: summer2023

#5833 bugfix: fix TC retry rollback wrongly, after the XA transaction fail and rollback
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/xa/ConnectionProxyXA.java
Labels: type: bug, mode: XA, module/rm-datasource

#5938 optimize: support jmx port in seata
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  distribution/bin/seata-server.bat
  distribution/bin/seata-setup.sh
Labels: type: optimize, module/distribution

#5930 bugfix: fix the issue of missing sentinel password in store redis mode
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  common/src/main/java/io/seata/common/ConfigurationKeys.java
  dependencies/pom.xml
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/io/seata/spring/boot/autoconfigure/properties/server/store/StoreRedisProperties.java
  server/src/main/java/io/seata/server/storage/redis/JedisPooledFactory.java
  server/src/main/resources/application.example.yml
Labels: type: bug, module/server, TC/store

#5939 optimize: support jmx port in seata
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  distribution/bin/seata-server.bat
  distribution/bin/seata-setup.sh
Labels: type: optimize, module/distribution

#5946 feature: add sqlserver's adaptation to the console paging interface
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  common/src/main/java/io/seata/common/util/PageUtil.java
  common/src/test/java/io/seata/common/util/PageUtilTest.java
Labels: type: feature, module/server

#5959 optimize: modify code style and remove unused import
  server/src/main/java/io/seata/server/cluster/raft/sync/msg/dto/BranchTransactionDTO.java
  server/src/main/java/io/seata/server/cluster/raft/sync/msg/dto/GlobalTransactionDTO.java
  server/src/main/java/io/seata/server/storage/SessionConverter.java
Labels: module/server, type: optimize

#5850 optimize: decouple saga expression handling and remove evaluator package
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/StateMachineConfig.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/evaluation/EvaluatorFactoryManager.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/evaluation/exception/ExceptionMatchEvaluator.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/evaluation/exception/ExceptionMatchEvaluatorFactory.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/evaluation/expression/ExpressionEvaluator.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/evaluation/expression/ExpressionEvaluatorFactory.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/expression/ExpressionResolver.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/expression/exception/ExceptionMatchExpression.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/expression/exception/ExceptionMatchExpressionFactory.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/expression/impl/DefaultExpressionResolver.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/impl/DefaultStateMachineConfig.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/impl/ProcessCtrlStateMachineEngine.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/handlers/ChoiceStateHandler.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/interceptors/ScriptTaskHandlerInterceptor.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/interceptors/ServiceTaskHandlerInterceptor.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/utils/LoopTaskUtils.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/utils/ParameterUtils.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/domain/DomainConstants.java
Labels: summer2023

#5958 bugfix: required to be unlocked when a re-election occurs in a commit state
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/session/SessionHolder.java
Labels: type: bug, module/server

#5847 feature: add saga parallel execution support
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/impl/ProcessCtrlStateMachineEngine.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/StateMachineProcessHandler.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/StateMachineProcessRouter.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/handlers/ForkStateHandler.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/handlers/JoinStateHandler.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/interceptors/ServiceTaskHandlerInterceptor.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/routers/ForkStateRouter.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/routers/JoinStateRouter.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/routers/TaskStateRouter.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/utils/EngineUtils.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/utils/LoopTaskUtils.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/utils/ParallelContextHolder.java
  saga/seata-saga-engine/src/main/java/io/seata/saga/engine/pcext/utils/ParallelTaskUtils.java
  saga/seata-saga-processctrl/src/main/java/io/seata/saga/proctrl/impl/SideEffectFreeProcessContextImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/domain/DomainConstants.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/domain/ForkState.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/domain/JoinState.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/domain/TaskState.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/domain/impl/AbstractTaskState.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/domain/impl/ForkStateImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/domain/impl/JoinStateImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/ParserException.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/StateParserFactory.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/impl/AbstractTaskStateParser.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/impl/ForkStateParser.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/impl/JoinStateParser.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/impl/StateMachineParserImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/utils/DesignerJsonTransformer.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/utils/StateMachineUtils.java
  saga/seata-saga-statelang/src/test/resources/statelang/simple_statemachine_with_layout.json
  saga/seata-saga-statemachine-designer/src/Flow/WorkSpace.js
  saga/seata-saga-statemachine-designer/src/components/EditorItemPanel/FlowItemPanel.js
  test/src/test/java/io/seata/saga/engine/StateMachineTests.java
  test/src/test/java/io/seata/saga/engine/db/StateMachineDBTests.java
  test/src/test/resources/saga/statelang/simple_statelang_with_fork.json
Labels: summer2023

#5849 feature: add saga state machine Java stream builder support
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/BuildException.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/ChoiceStateBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/CompensateSubStateMachineStateBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/CompensationTriggerStateBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/FailEndStateBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/ForkStateBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/JoinStateBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/ScriptTaskStateBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/ServiceTaskStateBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/StateBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/StateBuilderFactory.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/StateMachineBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/StatesConfigurer.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/SubStateMachineBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/SuccessEndStateBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/impl/AbstractServiceTaskStateBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/impl/AbstractTaskStateBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/impl/BaseStateBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/impl/ChoiceStateBuilderImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/impl/CompensateSubStateMachineStateBuilderImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/impl/CompensationTriggerStateBuilderImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/impl/FailEndStateBuilderImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/impl/ForkStateBuilderImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/impl/JoinStateBuilderImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/impl/ScriptTaskStateBuilderImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/impl/ServiceTaskStateBuilderImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/impl/StateMachineBuilderImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/impl/StatesConfigurerImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/impl/SubStateMachineBuilderImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/impl/SuccessEndStateBuilderImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/prop/BasicPropertyBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/prop/ChoicePropertyBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/prop/FailEndPropertyBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/prop/ForkPropertyBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/prop/ScriptTaskPropertyBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/prop/ServiceTaskPropertyBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/prop/SubStateMachinePropertyBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/builder/prop/TaskPropertyBuilder.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/impl/StateMachineParserImpl.java
  saga/seata-saga-statelang/src/main/java/io/seata/saga/statelang/parser/utils/StateMachineUtils.java
  saga/seata-saga-statelang/src/test/java/io/seata/saga/statelang/builder/StateBuilderTests.java
  saga/seata-saga-statelang/src/test/resources/statelang/simple_statemachine.json
Labels: summer2023

#5971 bugfix: fix some configurations that are not deprecated show "Deprecated"
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: type: bug, module/seata-spring-boot-starter
