Repository apache/incubator-seata, pull requests merged in 2023-04, with the labels that each got.

#4907 optimize: thread scheduling and code
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  core/src/main/java/io/seata/core/rpc/netty/NettyBaseConfig.java
  core/src/main/java/io/seata/core/rpc/netty/NettyServerConfig.java
  server/src/main/java/io/seata/server/lock/LockerManagerFactory.java
  server/src/main/java/io/seata/server/session/BranchSession.java
  server/src/main/java/io/seata/server/storage/file/lock/FileLocker.java
  server/src/main/resources/logback-spring.xml
Labels: theme: performance, module/core, module/rm-datasource, module/server, type: optimize

#5523 bugfix: fix GlobalStatus=9 can't be cleared in DB storage mode
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/main/java/io/seata/server/session/SessionHelper.java
Labels: module/server

#5531 bugfix: the log file path was loaded incorrectly
  changes/en-us/2.0.0.md
  changes/zh-cn/2.0.0.md
  dependencies/pom.xml
  distribution/bin/seata-server.bat
  distribution/bin/seata-server.sh
  server/pom.xml
  server/src/main/resources/logback-spring.xml
Labels: type: bug, module/server

#5535 bugfix: fix log file path was loaded incorrectly
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  dependencies/pom.xml
  distribution/bin/seata-server.bat
  distribution/bin/seata-server.sh
  server/pom.xml
  server/src/main/resources/logback-spring.xml
Labels: type: bug, module/server

#5540 bugfix: fix GlobalStatus=9 can't be cleared in DB storage mode
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
Labels: type: bug, module/server
