Repository apache/incubator-seata, pull requests merged in 2024-08, with the labels that each got.

#6711 bugfix: fix dameng rollback info un compress fail
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/dm/DmUndoLogManager.java
Labels: type: bug, module/rm-datasource

#6714 bugfix: fix dameng delete undo fail
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/dm/DmUndoDeleteExecutor.java
Labels: type: bug, module/rm-datasource

#6715 bugfix: fix dameng rollback info un compress fail
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/dm/DmUndoLogManager.java
Labels: type: bug, module/rm-datasource

#6716 bugfix: fix dameng delete undo fail
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/dm/DmUndoDeleteExecutor.java
Labels: type: bug, module/rm-datasource

#6727 optimize: deserialize performance optimize
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  serializer/seata-serializer-seata/src/main/java/org/apache/seata/serializer/seata/MessageCodecFactory.java
  serializer/seata-serializer-seata/src/main/java/org/apache/seata/serializer/seata/SeataSerializer.java
Labels: module/core, type: optimize

#6732 optimize: add the default console and security config on application.examle.yml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/resources/application.example.yml
  server/src/main/resources/application.raft.example.yml
Labels: first-time contributor, module/server, type: optimize

#6728 bugfix: Support serialization for dm.jdbc.driver.DmdbTimestamp (#6701)
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/pom.xml
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/parser/JacksonUndoLogParser.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/undo/parser/JacksonUndoLogParserTest.java
Labels: type: bug, first-time contributor, module/rm-datasource

#6745 optimize: fix node-gyp build error on arm64 and macos
  .github/workflows/build.yml
  .github/workflows/test.yml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
Labels: type: optimize

#6746 optimize: optimize compatible dependencies
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  compatible/pom.xml
Labels: type: optimize, module/compatible

#6747 optimize: optimize fastjson deserialization
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  integration/http/src/main/java/org/apache/seata/integration/http/AbstractHttpExecutor.java
Labels: module/integration, type: optimize

#6748 optimize: optimize ConsistentHashLoadBalance Algorithm
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  discovery/seata-discovery-core/src/main/java/org/apache/seata/discovery/loadbalance/ConsistentHashLoadBalance.java
Labels: module/discovery, type: optimize

#6755 optimize: optimize namingserver
  common/src/main/java/org/apache/seata/common/ConfigurationKeys.java
  common/src/main/java/org/apache/seata/common/metadata/namingserver/Instance.java
  namingserver/src/main/java/org/apache/seata/namingserver/controller/NamingController.java
  namingserver/src/main/java/org/apache/seata/namingserver/entity/pojo/ClusterData.java
  namingserver/src/main/java/org/apache/seata/namingserver/manager/ClusterWatcherManager.java
  namingserver/src/main/java/org/apache/seata/namingserver/manager/NamingManager.java
  namingserver/src/test/java/org/apache/seata/namingserver/NamingControllerTest.java
  server/src/main/java/org/apache/seata/server/controller/NamingController.java
  server/src/main/java/org/apache/seata/server/session/SessionHolder.java
  server/src/main/java/org/apache/seata/server/storage/file/store/FileVGroupMappingStoreManager.java
  server/src/main/java/org/apache/seata/server/storage/redis/store/RedisVGroupMappingStoreManager.java
  server/src/main/java/org/apache/seata/server/store/VGroupMappingStoreManager.java
  server/src/main/resources/application.example.yml
Labels: module/server, type: optimize, module/namingserver

#6757 bugfix: the bug where multiple nodes cannot be retrieved from the naming server
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/ConfigurationKeys.java
  common/src/main/java/org/apache/seata/common/metadata/Cluster.java
  discovery/seata-discovery-namingserver/src/main/java/org/apache/seata/discovery/registry/namingserver/NamingserverRegistryServiceImpl.java
  namingserver/src/main/java/org/apache/seata/namingserver/controller/NamingController.java
  namingserver/src/main/java/org/apache/seata/namingserver/entity/pojo/ClusterData.java
  namingserver/src/main/java/org/apache/seata/namingserver/manager/NamingManager.java
  namingserver/src/test/java/org/apache/seata/namingserver/NamingControllerTest.java
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/server/store/StoreDBProperties.java
  server/src/main/java/org/apache/seata/server/storage/db/store/VGroupMappingDataBaseDAO.java
  server/src/main/java/org/apache/seata/server/storage/redis/store/RedisVGroupMappingStoreManager.java
  server/src/main/resources/application.example.yml
Labels: type: bug, module/server, module/namingserver

#6761 optimize: the namingserver code to improve readability
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/metadata/Cluster.java
  namingserver/src/main/java/org/apache/seata/namingserver/entity/bo/ClusterBO.java
  namingserver/src/main/java/org/apache/seata/namingserver/entity/bo/NamespaceBO.java
  namingserver/src/main/java/org/apache/seata/namingserver/manager/NamingManager.java
  namingserver/src/test/java/org/apache/seata/namingserver/NamingControllerTest.java
Labels: type: optimize, module/namingserver

#6768 optimize: report the tcc fence transaction isolation level
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/Constants.java
  tcc/src/main/java/org/apache/seata/rm/tcc/interceptor/TccActionInterceptorHandler.java
  tcc/src/main/java/org/apache/seata/rm/tcc/utils/MethodUtils.java
Labels: mode: TCC, module/common, module/tcc, type: optimize

#6769 bugfix: fix tcc dead lock
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/Constants.java
  spring/src/main/java/org/apache/seata/rm/fence/SpringFenceHandler.java
  tcc/src/main/java/org/apache/seata/rm/tcc/TCCResourceManager.java
Labels: type: bug, mode: TCC, module/tcc

#6770 optimize: automatic deletion of namingserver vgroup through Caffeine map
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/metadata/namingserver/NamingServerNode.java
  dependencies/pom.xml
  discovery/seata-discovery-namingserver/src/main/java/org/apache/seata/discovery/registry/namingserver/NamingserverRegistryServiceImpl.java
  namingserver/pom.xml
  namingserver/src/main/java/org/apache/seata/namingserver/entity/bo/NamespaceBO.java
  namingserver/src/main/java/org/apache/seata/namingserver/manager/NamingManager.java
  namingserver/src/test/java/org/apache/seata/namingserver/NamingControllerTest.java
  server/src/main/java/org/apache/seata/server/Server.java
  server/src/main/java/org/apache/seata/server/storage/db/store/VGroupMappingDataBaseDAO.java
Labels: type: optimize, module/namingserver

#6773 test: fix the wrong code coverage from codecov icon in default branch
  README.md
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
Labels: type: test

#6778 bugfix: fix the naming server node having a term of 0
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  discovery/seata-discovery-namingserver/src/main/java/org/apache/seata/discovery/registry/namingserver/NamingserverRegistryServiceImpl.java
  namingserver/src/main/java/org/apache/seata/namingserver/controller/HealthController.java
  namingserver/src/main/java/org/apache/seata/namingserver/controller/NamingController.java
  namingserver/src/main/java/org/apache/seata/namingserver/manager/NamingManager.java
  script/server/db/mysql.sql
  server/src/main/java/org/apache/seata/server/Server.java
Labels: type: bug, module/namingserver

#6765 bugfix: Resolve MySQL Driver Loading Issue (#6760)
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/store/db/AbstractDataSourceProvider.java
  server/src/test/java/org/apache/seata/server/store/db/AbstractDataSourceProviderTest.java
Labels: type: bug, module/server

#6780 optimize: optimize the reflection operation in class `SerializerServiceLoader`
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/util/ReflectionUtil.java
  common/src/test/java/org/apache/seata/common/util/ReflectionUtilTest.java
  core/src/main/java/org/apache/seata/core/serializer/SerializerServiceLoader.java
Labels: module/serializer, type: optimize

#6781 bugfix: the issue where the TC occasionally fails to go offline from the NamingServer
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  namingserver/src/main/java/org/apache/seata/namingserver/entity/pojo/ClusterData.java
  namingserver/src/main/java/org/apache/seata/namingserver/manager/NamingManager.java
  script/client/conf/registry.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/SeataCoreEnvironmentPostProcessor.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/StarterConstants.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/registry/RegistryNamingServerProperties.java
  server/src/main/java/org/apache/seata/server/Server.java
  server/src/main/java/org/apache/seata/server/ServerRunner.java
  server/src/main/java/org/apache/seata/server/storage/db/store/DataBaseVGroupMappingStoreManager.java
  server/src/main/java/org/apache/seata/server/storage/db/store/VGroupMappingDataBaseDAO.java
  server/src/main/java/org/apache/seata/server/storage/redis/store/RedisVGroupMappingStoreManager.java
  server/src/main/java/org/apache/seata/server/store/VGroupMappingStoreManager.java
  server/src/main/resources/application.example.yml
Labels: type: bug, module/namingserver

#6784 optimize: upgrade axios to 1.7.4
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/src/main/resources/static/console-fe/package-lock.json
  console/src/main/resources/static/console-fe/package.json
Labels: type: optimize

#6787 optimize: upgrade elliptic to 6.5.7
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/src/main/resources/static/console-fe/package-lock.json
  console/src/main/resources/static/console-fe/package.json
Labels: type: optimize, module/console

#6783 optimize: rename the server naming/v1 api to vgroup/v1
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/NamingServerConstants.java
  discovery/seata-discovery-namingserver/src/main/java/org/apache/seata/discovery/registry/namingserver/NamingserverRegistryServiceImpl.java
  script/client/spring/application.properties
  server/pom.xml
  server/src/main/java/org/apache/seata/server/controller/VGroupMappingController.java
  server/src/main/resources/application.yml
  server/src/test/java/org/apache/seata/server/controller/VGroupMappingControllerTest.java
  server/src/test/resources/application.properties
Labels: module/server, type: optimize

#6793 optimize: fix npmjs conflicts
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/src/main/resources/static/console-fe/package-lock.json
  console/src/main/resources/static/console-fe/package.json
Labels: type: optimize, module/console

#6794 optimize: optimize NacosMockTest UT case
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  config/seata-config-nacos/src/test/java/org/apache/seata/config/nacos/NacosMockTest.java
Labels: module/config, type: optimize

#6797 optimize: fall back to any of available cluster address when query cluster address is empty
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  discovery/seata-discovery-consul/src/main/java/org/apache/seata/discovery/registry/consul/ConsulRegistryServiceImpl.java
  discovery/seata-discovery-core/src/main/java/org/apache/seata/discovery/registry/RegistryService.java
  discovery/seata-discovery-etcd3/src/main/java/org/apache/seata/discovery/registry/etcd3/EtcdRegistryServiceImpl.java
  discovery/seata-discovery-eureka/src/main/java/org/apache/seata/discovery/registry/eureka/EurekaRegistryServiceImpl.java
  discovery/seata-discovery-nacos/src/main/java/org/apache/seata/discovery/registry/nacos/NacosRegistryServiceImpl.java
  discovery/seata-discovery-namingserver/src/main/java/org/apache/seata/discovery/registry/namingserver/NamingserverRegistryServiceImpl.java
  discovery/seata-discovery-redis/src/main/java/org/apache/seata/discovery/registry/redis/RedisRegistryServiceImpl.java
  discovery/seata-discovery-sofa/src/main/java/org/apache/seata/discovery/registry/sofa/SofaRegistryServiceImpl.java
  discovery/seata-discovery-zk/src/main/java/org/apache/seata/discovery/registry/zk/ZookeeperRegisterServiceImpl.java
  discovery/seata-discovery-zk/src/test/java/org/apache/seata/discovery/registry/zk/ZookeeperRegisterServiceImplTest.java
Labels: type: bug, module/discovery
