Repository apache/incubator-seata, pull requests merged in 2024-10, with the labels that each got.

#6881 feature: support grpc protocol
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/ConfigurationKeys.java
  common/src/main/java/org/apache/seata/common/DefaultValues.java
  core/pom.xml
  core/src/main/java/org/apache/seata/core/protocol/Protocol.java
  core/src/main/java/org/apache/seata/core/protocol/detector/Http2Detector.java
  core/src/main/java/org/apache/seata/core/protocol/detector/ProtocolDetector.java
  core/src/main/java/org/apache/seata/core/protocol/detector/SeataDetector.java
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyClientBootstrap.java
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyClientConfig.java
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyServerBootstrap.java
  core/src/main/java/org/apache/seata/core/rpc/netty/ProtocolDetectHandler.java
  core/src/main/java/org/apache/seata/core/rpc/netty/grpc/GrpcDecoder.java
  core/src/main/java/org/apache/seata/core/rpc/netty/grpc/GrpcEncoder.java
  core/src/main/java/org/apache/seata/core/rpc/netty/grpc/GrpcHeaderEnum.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v1/ProtocolEncoderV1.java
  core/src/main/java/org/apache/seata/core/serializer/SerializerServiceLoader.java
  core/src/main/resources/protobuf/org/apache/seata/protocol/transcation/grpcMessage.proto
  dependencies/pom.xml
  script/client/conf/file.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/TransportProperties.java
  test/pom.xml
  test/src/test/java/org/apache/seata/core/rpc/netty/mockserver/GrpcTest.java
  test/src/test/java/org/apache/seata/core/rpc/netty/mockserver/MockGrpcServerTest.java
  test/src/test/resources/protobuf/org/apache/seata/protocol/transcation/grpcMessage.proto
Labels: type: feature, module/core, module/common, module/test, protocol

#6899 bugfix: fix file.conf read failed after package
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  config/seata-config-core/src/main/java/org/apache/seata/config/FileConfiguration.java
Labels: type: bug, module/server

#6902 optimize: optimize readme docs
  README.md
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
Labels: type: optimize

#6890 bugfix: DesignerJson to StandardJson: SubStateMachine CompensateState cannot be recognized
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  saga/seata-saga-statelang/src/main/java/org/apache/seata/saga/statelang/parser/utils/DesignerJsonTransformer.java
Labels: type: bug, mode: SAGA, module/saga

#6903 optimize: avoid dead loop logging during cache plan refresh exceptions.
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/TableMetaCacheFactory.java
Labels: mode: AT, module/rm-datasource, type: optimize

#6879 optimize: Log args mismatch
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyClientChannelManager.java
Labels: module/core, type: optimize

#6907 bugfix: fix the issue of Codecov not generating reports
  build/pom.xml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
Labels: type: bug

#6906 optimize: h2 dependency adds test scope
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/pom.xml
Labels: module/server, type: optimize

#6911 optimize: fix some typos in project
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  compatible/src/main/java/io/seata/tm/api/GlobalTransaction.java
  config/seata-config-core/src/main/java/org/apache/seata/config/ConfigurationFactory.java
  console/src/main/java/org/apache/seata/console/security/CustomUserDetails.java
  console/src/main/java/org/apache/seata/console/security/CustomUserDetailsServiceImpl.java
  core/src/main/java/org/apache/seata/core/exception/TransactionExceptionCode.java
  core/src/main/java/org/apache/seata/core/protocol/Protocol.java
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyClientBootstrap.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/oracle/OracleUndoInsertExecutor.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/MySQLInsertExecutorTest.java
  saga/seata-saga-processctrl/src/main/java/org/apache/seata/saga/proctrl/eventing/impl/ProcessCtrlEventPublisher.java
  saga/seata-saga-statelang/src/main/java/org/apache/seata/saga/statelang/parser/impl/ServiceTaskStateParser.java
  server/src/main/java/org/apache/seata/server/session/GlobalSession.java
  server/src/main/java/org/apache/seata/server/storage/SessionConverter.java
  sqlparser/seata-sqlparser-core/src/test/java/org/apache/seata/sqlparser/struct/ColumnMetaTest.java
  test-mock-server/src/main/java/org/apache/seata/mockserver/MockCoordinator.java
  test-mock-server/src/main/java/org/apache/seata/mockserver/controller/MockHelpController.java
  test/src/test/java/org/apache/seata/core/rpc/netty/TmNettyClientTest.java
  test/src/test/java/org/apache/seata/core/rpc/netty/mockserver/MockGrpcServerTest.java
  test/src/test/java/org/apache/seata/core/rpc/netty/mockserver/TmClientTest.java
  tm/src/main/java/org/apache/seata/tm/api/GlobalTransaction.java
Labels: first-time contributor, type: optimize

#6918 optimize:Use the openjdk image of eclipse-temurin as the base image
  .github/workflows/publish-docker.yml
  .travis.yml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  distribution/docker/namingserver/Dockerfile
  distribution/docker/server/Dockerfile
  distribution/release-seata.xml
  pom.xml
Labels: type: optimize

#6925 bugfix: resolve issue in Raft model a follower's crash may lead to the continued use of expired tokens
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  discovery/seata-discovery-raft/src/main/java/org/apache/seata/discovery/registry/raft/RaftRegistryServiceImpl.java
Labels: type: bug, first-time contributor, module/discovery

#6923 bugfix: Enhance 401 Error Handling by Refreshing Token in acquireClusterMetaData Method
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  discovery/seata-discovery-raft/src/main/java/org/apache/seata/discovery/registry/raft/RaftRegistryServiceImpl.java
Labels: type: bug, first-time contributor, module/discovery

#6801 feature: seata-server support http protocol
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/pom.xml
  common/src/main/java/org/apache/seata/common/DefaultValues.java
  core/pom.xml
  core/src/main/java/org/apache/seata/core/protocol/detector/Http2Detector.java
  core/src/main/java/org/apache/seata/core/protocol/detector/HttpDetector.java
  core/src/main/java/org/apache/seata/core/rpc/netty/ProtocolDetectHandler.java
  core/src/main/java/org/apache/seata/core/rpc/netty/http/ControllerManager.java
  core/src/main/java/org/apache/seata/core/rpc/netty/http/HttpDispatchHandler.java
  core/src/main/java/org/apache/seata/core/rpc/netty/http/HttpInvocation.java
  core/src/main/java/org/apache/seata/core/rpc/netty/http/ParamMetaData.java
  core/src/main/java/org/apache/seata/core/rpc/netty/http/ParameterParser.java
  core/src/main/java/org/apache/seata/core/rpc/netty/http2/Http2DetectHandler.java
  core/src/main/java/org/apache/seata/core/rpc/netty/http2/Http2DispatchHandler.java
  discovery/seata-discovery-raft/pom.xml
  discovery/seata-discovery-raft/src/main/java/org/apache/seata/discovery/registry/enums/HttpVersion.java
  discovery/seata-discovery-raft/src/main/java/org/apache/seata/discovery/registry/raft/RaftRegistryServiceImpl.java
  discovery/seata-discovery-raft/src/main/java/org/apache/seata/discovery/registry/utils/OkHttpClientUtil.java
  discovery/seata-discovery-raft/src/test/java/org/apache/seata/discovery/registry/raft/RaftRegistryServiceImplTest.java
  discovery/seata-discovery-raft/src/test/resources/file.conf
  discovery/seata-discovery-raft/src/test/resources/registry.conf
  namingserver/src/main/java/org/apache/seata/namingserver/controller/NamingController.java
  script/client/spring/application.properties
  script/client/spring/application.yml
  server/src/main/java/org/apache/seata/server/cluster/manager/ClusterWatcherManager.java
  server/src/main/java/org/apache/seata/server/controller/ClusterV2Controller.java
  server/src/main/java/org/apache/seata/server/spring/web/RestControllerBeanPostProcessor.java
Labels: type: feature, module/core, module/server

#6959 optimize: modify seata-http-jakarta's name and description in pom.xml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  integration/http-jakarta/pom.xml
Labels: module/integration, type: optimize

#6861 feature: Namingserver watch support http2
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyServerBootstrap.java
  core/src/main/java/org/apache/seata/core/rpc/netty/ProtocolDetectHandler.java
  discovery/seata-discovery-raft/src/main/test/java/org/apache/seata/discovery/registry/raft/RaftRegistryServiceImplTest.java
  discovery/seata-discovery-raft/src/main/test/resources/file.conf
  discovery/seata-discovery-raft/src/main/test/resources/registry.conf
  namingserver/pom.xml
  namingserver/src/main/java/org/apache/seata/namingserver/NamingserverApplication.java
  namingserver/src/main/java/org/apache/seata/namingserver/controller/NamingController.java
  namingserver/src/main/java/org/apache/seata/namingserver/manager/ClusterWatcherManager.java
  namingserver/src/main/java/org/apache/seata/namingserver/netty/NamingServerHttp2Detector.java
  namingserver/src/main/java/org/apache/seata/namingserver/netty/NettyNamingServer.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/http/RestControllerBeanPostProcessor.java
  server/src/main/java/org/apache/seata/server/cluster/manager/ClusterWatcherManager.java
Labels: type: feature, module/discovery, module/namingserver

#6807 optimize: splitting MergedWarpMessage enhances the server parallel processing capability
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/protocol/Version.java
  core/src/main/java/org/apache/seata/core/rpc/netty/AbstractNettyRemotingClient.java
  core/src/main/java/org/apache/seata/core/rpc/netty/AbstractNettyRemotingServer.java
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyRemotingServer.java
  core/src/main/java/org/apache/seata/core/rpc/netty/RmNettyRemotingClient.java
  core/src/main/java/org/apache/seata/core/rpc/netty/TmNettyRemotingClient.java
  core/src/main/java/org/apache/seata/core/rpc/processor/client/ClientOnResponseProcessor.java
  server/src/test/java/org/apache/seata/server/storage/redis/store/RedisVGroupMappingStoreManagerTest.java
  test/src/test/java/org/apache/seata/core/rpc/netty/RmNettyClientTest.java
  test/src/test/java/org/apache/seata/core/rpc/netty/TmNettyClientTest.java
Labels: module/core, type: optimize
