Repository apache/incubator-seata, pull requests merged in 2024-01, with the labels that each got.

#6004 optimize: RM TM startup connect server fail fast
  changes/en-us/2.0.0.md
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/io/seata/common/ConfigurationKeys.java
  common/src/main/java/io/seata/common/DefaultValues.java
  common/src/main/java/io/seata/common/util/StringUtils.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemoting.java
  core/src/main/java/io/seata/core/rpc/netty/AbstractNettyRemotingClient.java
  core/src/main/java/io/seata/core/rpc/netty/NettyClientChannelManager.java
  core/src/main/java/io/seata/core/rpc/netty/NettyClientConfig.java
  core/src/main/java/io/seata/core/rpc/netty/RmNettyRemotingClient.java
  core/src/main/java/io/seata/core/rpc/netty/TmNettyRemotingClient.java
  core/src/test/java/io/seata/core/rpc/netty/RmNettyClientTest.java
  core/src/test/java/io/seata/core/rpc/netty/TmNettyClientTest.java
  core/src/test/resources/file.conf
  test/src/test/resources/file.conf
  tm/src/test/resources/file.conf
Labels: module/core, type: optimize

#5399 optimize: branch register resource only at RM server end
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  integration-tx-api/src/main/java/io/seata/integration/tx/api/interceptor/parser/DefaultInterfaceParser.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/interceptor/parser/GlobalTransactionalInterceptorParser.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/interceptor/parser/IfNeedEnhanceBean.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/interceptor/parser/InterfaceParser.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/interceptor/parser/NeedEnhanceEnum.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/remoting/RemotingParser.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/remoting/parser/DefaultRemotingParser.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/remoting/parser/DubboRemotingParser.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/remoting/parser/HSFRemotingParser.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/remoting/parser/SofaRpcRemotingParser.java
  integration-tx-api/src/main/java/io/seata/integration/tx/api/util/ProxyUtil.java
  spring/src/main/java/io/seata/rm/fence/SpringFenceHandler.java
  spring/src/main/java/io/seata/spring/annotation/GlobalTransactionScanner.java
  spring/src/main/java/io/seata/spring/remoting/parser/RemotingFactoryBeanParser.java
  tcc/src/main/java/io/seata/rm/tcc/interceptor/TccActionInterceptorHandler.java
  tcc/src/main/java/io/seata/rm/tcc/interceptor/parser/TccActionInterceptorParser.java
  tcc/src/main/java/io/seata/rm/tcc/remoting/parser/LocalTCCRemotingParser.java
  tcc/src/main/java/io/seata/rm/tcc/resource/parser/TccRegisterResourceParser.java
Labels: mode: TCC, module/spring

#6247 optimize: optimize asf.yml
  .asf.yaml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
Labels: type: optimize

#6245 optimize: get real-time configuration according to Environment under file
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/io/seata/spring/boot/autoconfigure/provider/SpringApplicationContextProvider.java
Labels: module/seata-spring-boot-starter, type: optimize

#6238 optimize: optimize some files
  README.md
  build/pom.xml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/src/main/resources/static/console-fe/package.json
  core/src/main/java/io/seata/core/rpc/netty/v1/ProtocolV1Encoder.java
  distribution/Dockerfile
  mvnw.cmd
  saga/seata-saga-statemachine-designer/README.md
  saga/seata-saga-statemachine-designer/README.zh-CN.md
  saga/seata-saga-statemachine-designer/package.json
  saga/seata-saga-statemachine-designer/src/components/EditorDetailPanel/DetailForm.js
  script/config-center/README.md
  script/config-center/config.txt
  server/src/main/resources/README-zh.md
  server/src/main/resources/README.md
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/BaseRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/oracle/BaseOracleRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/postgresql/BasePostgresqlRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/io/seata/sqlparser/druid/sqlserver/BaseSqlServerRecognizer.java
Labels: module/sqlparser, module/server, type: optimize, module/distribution, module/console

#6248 bugfix: JDBC resultSet, statement and connection closing order
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/BaseTransactionalExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/MultiUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/UpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLInsertOnDuplicateUpdateExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/exec/mysql/MySQLUpdateJoinExecutor.java
  server/src/main/java/io/seata/server/console/impl/db/BranchSessionDBServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/db/GlobalLockDBServiceImpl.java
  server/src/main/java/io/seata/server/console/impl/db/GlobalSessionDBServiceImpl.java
  server/src/test/java/io/seata/server/lock/db/DataBaseLockManagerImplTest.java
  server/src/test/java/io/seata/server/lock/db/DataBaseLockStoreDAOTest.java
  server/src/test/java/io/seata/server/session/db/DataBaseSessionManagerTest.java
  server/src/test/java/io/seata/server/store/db/LogStoreDataBaseDAOTest.java
Labels: type: bug, module/rm-datasource

#6143 bugfix: gracefully shut down the server
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/io/seata/common/DefaultValues.java
  core/src/test/java/io/seata/core/rpc/netty/NettyRemotingServerTest.java
  discovery/seata-discovery-consul/src/main/java/io/seata/discovery/registry/consul/ConsulRegistryServiceImpl.java
  discovery/seata-discovery-core/src/main/java/io/seata/discovery/registry/RegistryService.java
  discovery/seata-discovery-etcd3/src/main/java/io/seata/discovery/registry/etcd3/EtcdRegistryServiceImpl.java
  discovery/seata-discovery-eureka/src/main/java/io/seata/discovery/registry/eureka/EurekaRegistryServiceImpl.java
  discovery/seata-discovery-nacos/src/main/java/io/seata/discovery/registry/nacos/NacosRegistryServiceImpl.java
  discovery/seata-discovery-redis/src/main/java/io/seata/discovery/registry/redis/RedisRegistryServiceImpl.java
  discovery/seata-discovery-sofa/src/main/java/io/seata/discovery/registry/sofa/SofaRegistryServiceImpl.java
  discovery/seata-discovery-zk/src/main/java/io/seata/discovery/registry/zk/ZookeeperRegisterServiceImpl.java
  discovery/seata-discovery-zk/src/test/java/io/seata/discovery/registry/zk/ZookeeperRegisterServiceImplTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/io/seata/spring/boot/autoconfigure/CorePropertiesTest.java
Labels: type: bug, module/core, module/discovery, module/common

#6256 bugfix: raft-discovery cannot read registry configuration for seata-all sdk
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  discovery/seata-discovery-raft/src/main/java/io/seata/discovery/registry/raft/RaftRegistryServiceImpl.java
Labels: type: bug, module/discovery

#6259 optimize:modify error message which is global session size more than config.
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/io/seata/server/session/GlobalSession.java
Labels: module/server, type: optimize

#6232 bugfix: convert to utf8mb4 if mysql column is json type
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/mysql/MySQLJsonHelper.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/mysql/MySQLUndoDeleteExecutor.java
  rm-datasource/src/main/java/io/seata/rm/datasource/undo/mysql/MySQLUndoUpdateExecutor.java
Labels: type: bug, mode: AT, module/rm-datasource

#6261 bugfix: AT mode support the URL of a PGSQL cluster
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/io/seata/rm/datasource/DataSourceProxy.java
  rm-datasource/src/test/java/io/seata/rm/datasource/DataSourceProxyTest.java
Labels: type: bug, module/rm-datasource

#6278 bugfix: fix ProtocolV1SerializerTest failed
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/io/seata/core/rpc/netty/v1/ProtocolV1Decoder.java
Labels: type: bug, module/serializer

#6291 optimize: seata-server is developed in idea and console support output logs
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  distribution/bin/seata-server.sh
  server/src/main/java/io/seata/server/spring/listener/ServerApplicationListener.java
Labels: module/server, type: optimize

#6297 optimize: fix problem of `maven-pmd-plugin`
  .github/workflows/build.yml
  build/pom.xml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  pom.xml
  test-mock-server/src/main/java/io/seata/mockserver/processor/MockRegisterProcessor.java
Labels: type: optimize, module/mock-server
