Repository apache/incubator-seata, pull requests merged in 2024-04, with the labels that each got.

#6442 optimize: clarify if conditions
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/AbstractUndoLogManager.java
  server/src/main/java/org/apache/seata/server/session/SessionHolder.java
  server/src/main/java/org/apache/seata/server/storage/db/lock/LockStoreDataBaseDAO.java
  server/src/main/java/org/apache/seata/server/storage/redis/lock/RedisDistributedLocker.java
Labels: first-time contributor

#6469 bugfix: sqlserver lock_table missing status placeholder
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/store/db/sql/lock/AbstractLockStoreSql.java
  core/src/main/java/org/apache/seata/core/store/db/sql/lock/SqlServerLockStoreSql.java
  script/client/at/db/sqlserver.sql
  script/server/db/sqlserver.sql
Labels: good first issue, type: bug, first-time contributor, module/core, module/server

#6456 test: adjust the test cases related to dynamic configuration
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  config/seata-config-core/src/main/java/org/apache/seata/config/CachedConfigurationChangeListener.java
  config/seata-config-core/src/main/java/org/apache/seata/config/ConfigurationCache.java
  config/seata-config-core/src/main/java/org/apache/seata/config/ConfigurationChangeListener.java
  config/seata-config-core/src/test/java/org/apache/seata/config/FileConfigurationTest.java
  core/src/test/java/org/apache/seata/core/rpc/netty/RmNettyClientTest.java
  core/src/test/java/org/apache/seata/core/rpc/netty/TmNettyClientTest.java
Labels: module/config, type: test

#6466 test: support Redis integration testing
  .github/workflows/build.yml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  config/seata-config-core/src/test/java/org/apache/seata/config/FileConfigurationTest.java
  dependencies/pom.xml
  discovery/seata-discovery-redis/pom.xml
  discovery/seata-discovery-redis/src/test/java/org/apache/seata/discovery/registry/redis/RedisRegisterServiceImplTest.java
  server/pom.xml
  server/src/test/java/org/apache/seata/server/lock/redis/RedisLockManagerTest.java
  server/src/test/java/org/apache/seata/server/lock/redis/RedisLuaLockManagerTest.java
  server/src/test/java/org/apache/seata/server/session/redis/MockRedisServer.java
  server/src/test/java/org/apache/seata/server/session/redis/RedisDistributedLockerTest.java
  server/src/test/java/org/apache/seata/server/session/redis/RedisLuaTransactionStoreManagerTest.java
  server/src/test/java/org/apache/seata/server/session/redis/RedisQueryConsolTest.java
  server/src/test/java/org/apache/seata/server/session/redis/RedisSessionManagerTest.java
  server/src/test/java/org/apache/seata/server/session/redis/RedisTransactionStoreManagerTest.java
Labels: module/config, module/server, type: test

#6487 optimize: seata plugin jackson parser package name
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  seata-plugin/seata-jackson-parser-oracle/src/main/java/org/apache/seata/plugin/jackson/parser/oracle/OracleTimestampJacksonSerializer.java
Labels: type: optimize

#6458 optimize: add null value check for MAC address
  common/src/main/java/org/apache/seata/common/util/IdWorker.java
Labels: module/common, type: optimize

#6497 fix(6495): [seata.tcc] should not be null
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/org/apache/seata/spring/boot/autoconfigure/SeataClientEnvironmentPostProcessor.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/SeataTccProperties.java
Labels: type: bug, mode: TCC, module/seata-spring-boot-starter

#6496 bugfix: fix XA rollback on commit failure (#6492)
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/xa/ConnectionProxyXA.java
Labels: type: bug, first-time contributor, mode: XA, module/rm-datasource

#6357 optimize: optimize serialization/deserialization of protocol codec
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/protocol/ProtocolConstants.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v1/ProtocolV1Decoder.java
  core/src/main/java/org/apache/seata/core/serializer/SerializerServiceLoader.java
Labels: module/serializer, type: optimize

#6493 bugfix: fix SQLServer-related SQL error when using database of SQLServer
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/util/PageUtil.java
  common/src/test/java/org/apache/seata/common/util/PageUtilTest.java
  core/src/main/java/org/apache/seata/core/store/db/sql/distributed/lock/BaseDistributedLockSql.java
  core/src/main/java/org/apache/seata/core/store/db/sql/distributed/lock/BaseDistributedLockSqlServer.java
  core/src/main/java/org/apache/seata/core/store/db/sql/distributed/lock/DistributedLockSqlFactory.java
  core/src/main/java/org/apache/seata/core/store/db/sql/lock/SqlServerLockStoreSql.java
  core/src/main/java/org/apache/seata/core/store/db/sql/log/SqlServerLogStoreSqls.java
  core/src/main/resources/META-INF/services/org.apache.seata.core.store.db.sql.distributed.lock.DistributedLockSql
  script/server/db/sqlserver.sql
Labels: type: bug, first-time contributor, module/server
