Repository apache/incubator-seata, pull requests merged in 2024-09, with the labels that each got.

#6749 optimize: optimize WebSecurityConfig csrf
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/src/main/java/org/apache/seata/console/config/WebSecurityConfig.java
Labels: type: optimize, module/console

#6795 optimize: optimize the initialization logic for server meta
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/metadata/Node.java
  common/src/main/java/org/apache/seata/common/metadata/namingserver/Instance.java
  common/src/main/java/org/apache/seata/common/metadata/namingserver/NamingServerNode.java
  common/src/test/java/org/apache/seata/common/metadata/namingserver/InstanceTest.java
  common/src/test/java/org/apache/seata/common/metadata/namingserver/NamingServerNodeTest.java
  discovery/seata-discovery-namingserver/src/main/java/org/apache/seata/discovery/registry/namingserver/NamingserverRegistryServiceImpl.java
  namingserver/src/main/java/org/apache/seata/namingserver/entity/pojo/ClusterData.java
  namingserver/src/main/java/org/apache/seata/namingserver/manager/NamingManager.java
  server/src/main/java/org/apache/seata/server/Server.java
  server/src/main/java/org/apache/seata/server/instance/ServerInstance.java
Labels: module/server, type: optimize, module/namingserver

#6766 feature: add TCC three-phase hooks
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  integration-tx-api/src/main/java/org/apache/seata/integration/tx/api/fence/hook/TccHook.java
  integration-tx-api/src/main/java/org/apache/seata/integration/tx/api/fence/hook/TccHookManager.java
  integration-tx-api/src/main/java/org/apache/seata/integration/tx/api/interceptor/ActionInterceptorHandler.java
  integration-tx-api/src/test/java/org/apache/seata/integration/tx/api/fence/hook/TccHookManagerTest.java
  tcc/src/main/java/org/apache/seata/rm/tcc/TCCResourceManager.java
  tcc/src/test/java/org/apache/seata/rm/tcc/TccHookTest.java
Labels: type: feature, mode: TCC, module/tcc

#6759 bugfix: fix the error of active refresh failure of cross-database table metadata
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/cache/AbstractTableMetaCache.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/cache/DmTableMetaCache.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/cache/MariadbTableMetaCache.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/cache/MysqlTableMetaCache.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/cache/OracleTableMetaCache.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/cache/PolarDBXTableMetaCache.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/cache/PostgresqlTableMetaCache.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/cache/SqlServerTableMetaCache.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/MariadbInsertExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/MySQLInsertExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/PolarDBXInsertExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/UpdateExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/mock/MockDatabaseMetaData.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/mock/MockDriver.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/sql/struct/cache/DmTableMetaCacheTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/sql/struct/cache/MysqlTableMetaCacheTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/sql/struct/cache/OracleTableMetaCacheTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/sql/struct/cache/PostgresqlTableMetaCacheTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/sql/struct/cache/SqlServerTableMetaCacheTest.java
  sqlparser/seata-sqlparser-core/src/main/java/org/apache/seata/sqlparser/struct/TableMeta.java
Labels: type: bug, module/rm-datasource, type: optimize, multilingual

#6806 optimize: avoid dead loop logging during cache plan refresh exceptions
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/TableMetaCacheFactory.java
Labels: module/rm-datasource, type: optimize

#6808 optimize: change version to 2.2.0-SNAPSHOT
  .github/workflows/codeql-analysis.yml
  build/pom.xml
  changes/en-us/1.7.0.md
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  distribution/LICENSE
  distribution/NOTICE.md
  namingserver/src/test/java/org/apache/seata/namingserver/NamingControllerTest.java
  rocketmq/pom.xml
Labels: module/distribution, module/build

#6812 bugfix: change group and node offline status are not pushed in real time
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  discovery/seata-discovery-namingserver/src/main/java/org/apache/seata/discovery/registry/namingserver/NamingserverRegistryServiceImpl.java
  namingserver/src/main/java/org/apache/seata/namingserver/manager/NamingManager.java
Labels: type: bug, module/namingserver

#6816 bugfix:Fix NPE when getting branchType in a non-global transaction context
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  compatible/src/main/java/io/seata/core/context/RootContext.java
Labels: type: bug, module/core

#6820 bugfix:Fix file path error in the Dockerfile
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  distribution/Dockerfile
Labels: type: bug, module/distribution

#6821 test: Improve the test case
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  metrics/seata-metrics-registry-compact/src/test/java/org/apache/seata/metrics/exporter/prometheus/CompactSummaryTest.java
Labels: module/metrics, type: test

#6817 bugfix: fix namingserver changVgroup failed
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  namingserver/src/main/java/org/apache/seata/namingserver/entity/bo/NamespaceBO.java
  namingserver/src/main/java/org/apache/seata/namingserver/manager/NamingManager.java
  server/src/main/java/org/apache/seata/server/controller/VGroupMappingController.java
Labels: type: bug, module/server, module/namingserver

#6827 optimize: rename namingserver registry type
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/ConfigurationKeys.java
  discovery/seata-discovery-core/src/main/java/org/apache/seata/discovery/registry/RegistryType.java
  discovery/seata-discovery-namingserver/src/main/java/org/apache/seata/discovery/registry/namingserver/NamingserverRegistryProvider.java
  discovery/seata-discovery-namingserver/src/main/java/org/apache/seata/discovery/registry/namingserver/NamingserverRegistryServiceImpl.java
  script/client/conf/registry.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/StarterConstants.java
  server/src/main/resources/application.example.yml
Labels: module/discovery, module/common, type: optimize

#6819 optimize: merge the packaging processes of namingserver and seata-server
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  codecov.yml
  distribution/docker/namingserver/Dockerfile
  distribution/docker/server/Dockerfile
  distribution/pom.xml
  distribution/release-seata-namingserver.xml
  distribution/release-seata.xml
  namingserver/pom.xml
  pom.xml
Labels: type: optimize, module/distribution

#6825 bugfix: the issue where connection held during the first phase of PostgreSQL cannot be rollback
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/xa/ConnectionProxyXA.java
Labels: type: bug, first-time contributor, mode: XA, module/rm-datasource

#6835 bugfix: fix post method in HttpClientUtil
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/util/HttpClientUtil.java
Labels: first-time contributor, module/common

#6836 optimize: add independent nacos for the CI process.
  .github/workflows/build.yml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  config/seata-config-nacos/src/test/java/org/apache/seata/config/nacos/NacosMockTest.java
  config/seata-config-nacos/src/test/resources/registry-mock.conf
  config/seata-config-nacos/src/test/resources/registry-test.conf
  config/seata-config-nacos/src/test/resources/registry.conf
Labels: first-time contributor, type: optimize, type: test

#6833 bugfix: SQLIntegrityConstraintViolationException capture incorrectly when inserting a globallock
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/org/apache/seata/server/storage/db/lock/LockStoreDataBaseDAO.java
  server/src/test/java/org/apache/seata/server/lock/db/DataBaseLockStoreDAOTest.java
Labels: type: bug, first-time contributor, mode: AT, module/server

#6786 bugfix: fix prometheus fail to return seata metrics data when using Nacos
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/DefaultValues.java
  metrics/seata-metrics-exporter-prometheus/src/main/java/org/apache/seata/metrics/exporter/prometheus/PrometheusExporter.java
  script/config-center/config.txt
Labels: type: bug, module/server

#6511 bugfix: the failure of rollbacking back of the delete SQL at AT mode when using SQLServer
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/cache/SqlServerTableMetaCache.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/sqlserver/SqlServerUndoDeleteExecutor.java
  sqlparser/seata-sqlparser-core/src/main/java/org/apache/seata/sqlparser/struct/SqlServerTableMeta.java
Labels: type: bug, module/rm-datasource, DB: SQLServer

#6840 bugfix: Unsafe deserialization in processorYaml.java #6839
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  config/seata-config-core/src/main/java/org/apache/seata/config/processor/ProcessorYaml.java
Labels: type: bug, module/config

#6823 optimize: fix typo
  tm/src/main/java/org/apache/seata/tm/api/DefaultGlobalTransaction.java
Labels: type: optimize

#6843 bugfix: Fix 403 error when sending a POST request from the console
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/src/main/java/org/apache/seata/console/config/WebSecurityConfig.java
Labels: type: bug, module/console

#6845 bugfix: rocksDB opens the same file multiple times
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/org/apache/seata/server/instance/ServerInstance.java
  server/src/main/java/org/apache/seata/server/session/SessionHolder.java
Labels: type: bug, module/server

#6779 optimize: use curator instead of zkclient in config model
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  config/seata-config-core/src/main/java/org/apache/seata/config/ConfigurationChangeEvent.java
  config/seata-config-zk/pom.xml
  config/seata-config-zk/src/main/java/org/apache/seata/config/zk/DefaultZkSerializer.java
  config/seata-config-zk/src/main/java/org/apache/seata/config/zk/ZookeeperConfiguration.java
  config/seata-config-zk/src/test/java/org/apache/seata/config/zk/ZkConfigurationTest.java
  dependencies/pom.xml
Labels: type: feature, module/discovery

#6831 optimize: use curator instead of zkclient in registry model
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  discovery/seata-discovery-zk/pom.xml
  discovery/seata-discovery-zk/src/main/java/org/apache/seata/discovery/registry/zk/ZookeeperRegisterServiceImpl.java
  discovery/seata-discovery-zk/src/test/java/org/apache/seata/discovery/registry/zk/ZookeeperRegisterServiceImplTest.java
Labels: module/discovery, type: optimize

#6803 optimize: compilation and packaging for the ARM64 architecture
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  dependencies/pom.xml
  integration/grpc/pom.xml
  pom.xml
  serializer/seata-serializer-protobuf/pom.xml
Labels: first-time contributor, module/integration, module/serializer, type: optimize

#6850 bugfix: raft mode is backward compatible with version 2.0
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/org/apache/seata/server/cluster/raft/serializer/CustomDeserializer.java
  server/src/main/java/org/apache/seata/server/cluster/raft/serializer/JacksonSerializer.java
Labels: type: bug, module/server

#6852 optimize: raft metadata api
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/util/HttpClientUtil.java
  console/src/main/java/org/apache/seata/console/config/WebSecurityConfig.java
  discovery/seata-discovery-raft/src/main/java/org/apache/seata/discovery/registry/raft/RaftRegistryServiceImpl.java
  server/src/main/resources/application.example.yml
  server/src/main/resources/application.raft.example.yml
  server/src/main/resources/application.yml
Labels: module/server, type: optimize, module/console

#6855 bugfix: after scaling down a Raft cluster, the metadata still contains the removed node
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/metadata/Node.java
  server/src/main/java/org/apache/seata/server/cluster/raft/RaftStateMachine.java
Labels: type: bug, module/server

#6841 optimize: update the LICENSE and NOTICE files and standardize dependency versions
  build/pom.xml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/pom.xml
  dependencies/pom.xml
  distribution/LICENSE
  distribution/NOTICE
  namingserver/pom.xml
  namingserver/src/test/java/org/apache/seata/namingserver/NamingControllerTest.java
  script/client/conf/registry.conf
  server/pom.xml
  test-mock-server/pom.xml
Labels: type: optimize, module/distribution, module/build

#6859 bugfix: duplicated dependency #6857
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  dependencies/pom.xml
Labels: type: bug, dependencies

#6872 optimize: sync 2.2.0 to 2.x branch
  .github/workflows/test-druid.yml
  .github/workflows/test-ubuntu.yml
  .github/workflows/test.yml
  build/pom.xml
  changes/en-us/2.2.0.md
  changes/en-us/2.x.md
  changes/zh-cn/2.2.0.md
  changes/zh-cn/2.x.md
  config/seata-config-nacos/src/test/java/io/seata/config/extend/TestConfigFromExtendSPI.java
  config/seata-config-nacos/src/test/java/org/apache/seata/config/nacos/NacosMockTest.java
  console/pom.xml
  distribution/LICENSE
  distribution/NOTICE.md
Labels: type: optimize

#6874 optimize: modify the version to 2.3.0-SNAPSHOT
  build/pom.xml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
Labels: type: optimize, module/build

#6892 optimize: upgrade npmjs version
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/src/main/resources/static/console-fe/package-lock.json
Labels: type: optimize, module/console

#6876 feature: support kingbase
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/util/PageUtil.java
  core/src/main/java/org/apache/seata/core/store/db/sql/lock/KingbaseLockStoreSql.java
  core/src/main/java/org/apache/seata/core/store/db/sql/log/KingbaseLogStoreSqls.java
  core/src/main/resources/META-INF/services/org.apache.seata.core.store.db.sql.lock.LockStoreSql
  core/src/main/resources/META-INF/services/org.apache.seata.core.store.db.sql.log.LogStoreSqls
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/exec/kingbase/KingbaseInsertExecutor.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/handler/kingbase/KingbaseEscapeHandler.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/cache/KingbaseTableMetaCache.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/kingbase/KingbaseUndoDeleteExecutor.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/kingbase/KingbaseUndoExecutorHolder.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/kingbase/KingbaseUndoInsertExecutor.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/kingbase/KingbaseUndoLogManager.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/kingbase/KingbaseUndoUpdateExecutor.java
  rm-datasource/src/main/resources/META-INF/services/org.apache.seata.rm.datasource.exec.InsertExecutor
  rm-datasource/src/main/resources/META-INF/services/org.apache.seata.rm.datasource.undo.UndoExecutorHolder
  rm-datasource/src/main/resources/META-INF/services/org.apache.seata.rm.datasource.undo.UndoLogManager
  rm-datasource/src/main/resources/META-INF/services/org.apache.seata.sqlparser.EscapeHandler
  rm-datasource/src/main/resources/META-INF/services/org.apache.seata.sqlparser.struct.TableMetaCache
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/KingbaseInsertExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/sql/druid/kingbase/KingbaseDeleteRecognizerTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/sql/druid/kingbase/KingbaseInsertRecognizerTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/sql/druid/kingbase/KingbaseSelectForUpdateRecognizerTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/sql/druid/kingbase/KingbaseUpdateRecognizerTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/undo/kingbase/KingbaseUndoDeleteExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/undo/kingbase/KingbaseUndoInsertExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/undo/kingbase/KingbaseUndoUpdateExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/undo/kingbase/keyword/KingbaseEscapeHandlerTest.java
  script/client/at/db/kingbase.sql
  script/server/db/kingbase.sql
  sqlparser/seata-sqlparser-druid/src/main/java/org/apache/seata/sqlparser/druid/kingbase/BaseKingbaseRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/org/apache/seata/sqlparser/druid/kingbase/KingbaseDeleteRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/org/apache/seata/sqlparser/druid/kingbase/KingbaseInsertRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/org/apache/seata/sqlparser/druid/kingbase/KingbaseOperateRecognizerHolder.java
  sqlparser/seata-sqlparser-druid/src/main/java/org/apache/seata/sqlparser/druid/kingbase/KingbaseSelectForUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/org/apache/seata/sqlparser/druid/kingbase/KingbaseUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/resources/META-INF/services/org.apache.seata.sqlparser.druid.SQLOperateRecognizerHolder
Labels: first-time contributor, module/rm-datasource, module/sqlparser

#6896 optimize: optimize raftsnapshot read
  server/src/main/java/org/apache/seata/server/cluster/raft/snapshot/RaftSnapshotSerializer.java
  server/src/test/java/org/apache/seata/server/raft/RaftSyncMessageTest.java
Labels: first-time contributor, module/server, type: optimize

#6889 optimize: Correct word spelling errors
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  saga/seata-saga-engine/src/main/java/org/apache/seata/saga/engine/impl/ProcessCtrlStateMachineEngine.java
Labels: first-time contributor, mode: SAGA, module/saga, type: optimize

#6883 optimize: removed write only object
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  spring/src/main/java/org/apache/seata/spring/tcc/TccAnnotationProcessor.java
Labels: first-time contributor, mode: TCC, module/tcc

#6898 optimize: upgrade npmjs version in saga module
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  saga/seata-saga-statemachine-designer/package-lock.json
Labels: module/saga
