Repository apache/incubator-seata, pull requests merged in 2024-06, with the labels that each got.

#6592 bugfix:fix @Async annotation not working.
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/org/apache/seata/server/config/AsyncConfig.java
Labels: type: bug, module/server

#6534 optimize: send async response
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/rpc/netty/AbstractNettyRemotingServer.java
Labels: module/core, type: optimize

#6499 optimize: split the task thread pool for committing and rollbacking statuses
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/Constants.java
  server/src/main/java/org/apache/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/org/apache/seata/server/session/GlobalSession.java
Labels: module/server, type: optimize

#6621 optimize: archive 2.1 version change log
  changes/en-us/2.1.0.md
  changes/en-us/2.x.md
  changes/zh-cn/2.1.0.md
  changes/zh-cn/2.x.md
Labels: type: optimize

#6208 optimize: load SeataSerializer by version
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/protocol/ProtocolConstants.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v1/ProtocolV1Decoder.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v1/ProtocolV1Encoder.java
  core/src/main/java/org/apache/seata/core/serializer/SerializerServiceLoader.java
  serializer/seata-serializer-seata/src/main/java/org/apache/seata/serializer/seata/MessageCodecFactory.java
  serializer/seata-serializer-seata/src/main/java/org/apache/seata/serializer/seata/SeataSerializer.java
  serializer/seata-serializer-seata/src/main/java/org/apache/seata/serializer/seata/protocol/BatchResultMessageCodec.java
  serializer/seata-serializer-seata/src/main/java/org/apache/seata/serializer/seata/protocol/MergeResultMessageCodec.java
  serializer/seata-serializer-seata/src/main/java/org/apache/seata/serializer/seata/protocol/MergedWarpMessageCodec.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/BatchResultMessageSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/MergeResultMessageSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/MergedWarpMessageSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/RegisterRMRequestSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/RegisterRMResponseSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/RegisterTMRequestSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/RegisterTMResponseSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/BranchCommitRequestSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/BranchCommitResponseSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/BranchRegisterRequestSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/BranchRegisterResponseSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/BranchReportRequestSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/BranchReportResponseSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/BranchRollbackRequestSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/BranchRollbackResponseSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/GlobalBeginRequestSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/GlobalBeginResponseSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/GlobalCommitRequestCodecTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/GlobalCommitResponseSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/GlobalLockQueryRequestSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/GlobalLockQueryResponseSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/GlobalRollbackRequestCodecTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/GlobalRollbackResponseSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/GlobalStatusRequestCodecTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/GlobalStatusResponseSerializerTest.java
  serializer/seata-serializer-seata/src/test/java/org/apache/seata/serializer/seata/protocol/transaction/UndoLogDeleteRequestSerializerTest.java
Labels: module/core, module/serializer

#6624 bugfix: fix Alibaba Dubbo convert error
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  integration/dubbo-alibaba/src/main/java/org/apache/seata/integration/dubbo/alibaba/AlibabaDubboTransactionConsumerFilter.java
  integration/dubbo-alibaba/src/main/java/org/apache/seata/integration/dubbo/alibaba/AlibabaDubboTransactionProviderFilter.java
  integration/dubbo-alibaba/src/main/resources/META-INF/services/com.alibaba.dubbo.rpc.Filter
  integration/dubbo-alibaba/src/test/java/org/apache/seata/integration/dubbo/alibaba/AlibabaDubboTransactionPropagationFilterTest.java
Labels: type: bug, module/integration

#6209 optimize : Eliminate RpcMessage and Encoder/Decoder dependencies
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/rpc/netty/AbstractNettyRemotingClient.java
  core/src/main/java/org/apache/seata/core/rpc/netty/AbstractNettyRemotingServer.java
  core/src/main/java/org/apache/seata/core/rpc/netty/ProtocolRpcMessage.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v0/ProtocolRpcMessageV0.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v1/ProtocolRpcMessageV1.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v1/ProtocolV1Decoder.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v1/ProtocolV1Encoder.java
  test/src/test/java/org/apache/seata/core/rpc/netty/v1/ClientChannelHandler.java
  test/src/test/java/org/apache/seata/core/rpc/netty/v1/ProtocolV1SerializerTest.java
  test/src/test/java/org/apache/seata/core/rpc/netty/v1/ServerChannelHandler.java
Labels: module/core, type: optimize

#6628 bugfix: fix Alibaba Dubbo convert error
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  integration/dubbo-alibaba/src/main/java/io/seata/integration/dubbo/alibaba/AlibabaDubboTransactionConsumerFilter.java
  integration/dubbo-alibaba/src/main/java/io/seata/integration/dubbo/alibaba/AlibabaDubboTransactionProviderFilter.java
  integration/dubbo-alibaba/src/main/resources/META-INF/native-image/io.seata/seata-dubbo-alibaba/reflect-config.json
  integration/dubbo-alibaba/src/main/resources/META-INF/services/com.alibaba.dubbo.rpc.Filter
  integration/dubbo-alibaba/src/test/java/io/seata/integration/dubbo/alibaba/AlibabaDubboTransactionPropagationFilterTest.java
Labels: type: bug, module/integration

#6626 bugfix: fix hsf ConsumerModel convert error
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  integration/hsf/src/main/java/org/apache/seata/integration/hsf/HsfTransactionConsumerFilter.java
  integration/hsf/src/main/java/org/apache/seata/integration/hsf/HsfTransactionProviderFilter.java
  integration/hsf/src/main/resources/META-INF/services/com.taobao.hsf.invocation.filter.RPCFilter
Labels: type: bug, module/integration

#6627 bugfix: fix the issue of xaEnded not being reset
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/xa/ConnectionProxyXA.java
Labels: type: bug, mode: XA, module/rm-datasource

#6551 bug: setting up a Raft cluster using domain, the listening request port is error
  discovery/seata-discovery-raft/src/main/java/org/apache/seata/discovery/registry/raft/RaftRegistryServiceImpl.java
Labels: type: bug, first-time contributor, module/discovery

#6523 optimize: upgrade alibaba/druid version to 1.2.20
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  compatible/pom.xml
  dependencies/pom.xml
Labels: first-time contributor, type: optimize, dependencies

#6226 feature: multi-version seata protocol support
  core/src/main/java/org/apache/seata/core/protocol/RpcMessage.java
  core/src/main/java/org/apache/seata/core/protocol/Version.java
  core/src/main/java/org/apache/seata/core/rpc/netty/AbstractNettyRemotingServer.java
  core/src/main/java/org/apache/seata/core/rpc/netty/CompatibleProtocolDecoder.java
  core/src/main/java/org/apache/seata/core/rpc/netty/CompatibleProtocolEncoder.java
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyClientBootstrap.java
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyServerBootstrap.java
  core/src/main/java/org/apache/seata/core/rpc/netty/ProtocolDecoder.java
  core/src/main/java/org/apache/seata/core/rpc/netty/ProtocolEncoder.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v0/MessageCodecV0.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v0/ProtocolConstantsV0.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v0/ProtocolDecoderV0.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v0/ProtocolEncoderV0.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v1/ProtocolDecoderV1.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v1/ProtocolEncoderV1.java
  core/src/main/java/org/apache/seata/core/rpc/processor/server/RegTmProcessor.java
  test/src/test/java/org/apache/seata/core/rpc/netty/mockserver/RmClientTest.java
  test/src/test/java/org/apache/seata/core/rpc/netty/mockserver/TmClientTest.java
  test/src/test/java/org/apache/seata/core/rpc/netty/v1/ProtocolV1Client.java
  test/src/test/java/org/apache/seata/core/rpc/netty/v1/ProtocolV1Server.java
Labels: type: feature, module/core, protocol
