Repository apache/incubator-seata, pull requests merged in 2024-02, with the labels that each got.

#6324 bugfix: Parse protocol file failed
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  dependencies/pom.xml
Labels: type: bug, first-time contributor, module/server

#6339 security: upgrade spring mvc and tomcat.embed
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/pom.xml
  dependencies/pom.xml
  server/pom.xml
  test-mock-server/pom.xml
  test/pom.xml
Labels: Security

#6354 bugfix: fix dynamic degradation does not work properly
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  integration-tx-api/src/main/java/org/apache/seata/integration/tx/api/interceptor/handler/GlobalTransactionalInterceptorHandler.java
Labels: type: bug, module/intergration-tx-api

#6356 optimize: remove authentication from the health check page
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/resources/application.yml
Labels: module/server, type: optimize

#6360 optimize: optimize 401 issues for some links
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/src/main/resources/static/favicon.ico
  server/src/main/resources/application.yml
Labels: module/server, type: optimize

#6361 optimize: optimize 401 issues for some links
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  console/src/main/resources/static/favicon.ico
  server/src/main/resources/application.yml
Labels: module/server, type: optimize

#6269 refactor: standardize Seata Exception
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/exception/AbstractRemoteResourceBundle.java
  common/src/main/java/org/apache/seata/common/exception/ErrorCode.java
  common/src/main/java/org/apache/seata/common/exception/FrameworkErrorCode.java
  common/src/main/java/org/apache/seata/common/exception/ResourceBundleUtil.java
  common/src/main/java/org/apache/seata/common/exception/SeataRuntimeException.java
  common/src/main/resources/error/ErrorCode_en.properties
  common/src/test/java/org/apache/seata/common/exception/ResourceBundleUtilTest.java
  common/src/test/resources/error/ErrorCode_en.properties
Labels: module/common

#6380 bugfix: fix sql exception when checking for the existence of the UNDO_LOG table on SQL server
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/sqlserver/SqlServerUndoLogManager.java
Labels: type: bug, module/rm-datasource
