Repository apache/incubator-seata, pull requests merged in 2024-03, with the labels that each got.

#6386 optimize: replace `byte-buddy` to JDK proxy in `ConfigurationCache`
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  config/seata-config-core/pom.xml
  config/seata-config-core/src/main/java/org/apache/seata/config/ConfigurationCache.java
Labels: module/config, type: optimize

#6325 test : fix mockserverTest fail cause using same port with seata-server
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  test-mock-server/pom.xml
  test-mock-server/src/main/java/org/apache/seata/mockserver/MockCoordinator.java
  test-mock-server/src/main/java/org/apache/seata/mockserver/MockServer.java
  test-mock-server/src/main/java/org/apache/seata/mockserver/call/CallRm.java
  test-mock-server/src/main/resources/application.yml
  test/src/test/java/org/apache/seata/common/ConfigurationTestHelper.java
  test/src/test/java/org/apache/seata/core/rpc/netty/ChannelManagerTestHelper.java
  test/src/test/java/org/apache/seata/core/rpc/netty/TmNettyClientTest.java
  test/src/test/java/org/apache/seata/core/rpc/netty/mockserver/Action1Impl.java
  test/src/test/java/org/apache/seata/core/rpc/netty/mockserver/MockServerTest.java
  test/src/test/java/org/apache/seata/core/rpc/netty/mockserver/ProtocolTestConstants.java
  test/src/test/java/org/apache/seata/core/rpc/netty/mockserver/RmClientTest.java
  test/src/test/java/org/apache/seata/core/rpc/netty/mockserver/TmClientTest.java
  test/src/test/resources/file.conf
Labels: module/test, module/mock-server

#6302 optimize: add io.seata package shade
  all/pom.xml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  compatible/pom.xml
Labels: type: optimize, module/compatible

#6326 feature: support node metadata sync
  common/src/main/java/org/apache/seata/common/metadata/Node.java
  dependencies/pom.xml
  server/pom.xml
  server/src/main/java/org/apache/seata/server/cluster/raft/RaftServer.java
  server/src/main/java/org/apache/seata/server/cluster/raft/RaftServerManager.java
  server/src/main/java/org/apache/seata/server/cluster/raft/RaftStateMachine.java
  server/src/main/java/org/apache/seata/server/cluster/raft/processor/PutNodeInfoRequestProcessor.java
  server/src/main/java/org/apache/seata/server/cluster/raft/processor/request/PutNodeMetadataRequest.java
  server/src/main/java/org/apache/seata/server/cluster/raft/processor/response/PutNodeMetadataResponse.java
  server/src/main/java/org/apache/seata/server/cluster/raft/serializer/JacksonBoltSerializer.java
  server/src/main/java/org/apache/seata/server/cluster/raft/sync/msg/dto/RaftClusterMetadata.java
Labels: type: feature, module/server

#6385 bugfix: fix the bug where Role.participant does not execute hooks but clears them.
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  saga/seata-saga-engine-store/src/main/java/org/apache/seata/saga/engine/store/StateLogStore.java
  saga/seata-saga-engine/src/main/java/org/apache/seata/saga/engine/impl/ProcessCtrlStateMachineEngine.java
  saga/seata-saga-spring/src/main/java/org/apache/seata/saga/engine/store/db/DbAndReportTcStateLogStore.java
  saga/seata-saga-spring/src/main/java/org/apache/seata/saga/engine/tm/DefaultSagaTransactionalTemplate.java
  saga/seata-saga-spring/src/main/java/org/apache/seata/saga/engine/tm/SagaTransactionalTemplate.java
  test/src/test/java/org/apache/seata/saga/engine/mock/MockSagaTransactionTemplate.java
  tm/src/main/java/org/apache/seata/tm/api/TransactionalTemplate.java
Labels: good first issue, type: bug, TM, first-time contributor, module/tm

#6391 optimize: Prohibit registration of TCC resources with the same name
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/exception/RepeatRegistrationException.java
  spring/src/test/java/org/apache/seata/spring/annotation/AdapterSpringSeataInterceptorTest.java
  tcc/src/main/java/org/apache/seata/rm/tcc/TCCResourceManager.java
  tcc/src/test/java/org/apache/seata/rm/tcc/NestTccAction.java
  tcc/src/test/java/org/apache/seata/rm/tcc/NormalTccAction.java
  tcc/src/test/java/org/apache/seata/rm/tcc/interceptor/ProxyUtilsTccTest.java
  tcc/src/test/java/org/apache/seata/rm/tcc/interceptor/parser/TccActionInterceptorParserTest.java
  test/src/test/java/org/apache/seata/core/rpc/netty/mockserver/RmClientTest.java
Labels: mode: TCC, module/tcc, type: optimize

#6393 optimize: determine the version before sync metadata and add retry mechanism
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/org/apache/seata/server/cluster/raft/RaftStateMachine.java
  server/src/main/java/org/apache/seata/server/cluster/raft/processor/PutNodeInfoRequestProcessor.java
Labels: module/server, type: optimize

#6419 optimize: optimize integration-tx-api compatible
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  compatible/src/main/java/io/seata/integration/tx/api/util/ProxyUtil.java
  compatible/src/main/java/io/seata/rm/datasource/DataSourceProxy.java
  compatible/src/main/java/io/seata/rm/datasource/xa/DataSourceProxyXA.java
  compatible/src/test/java/io/seata/integration/tx/api/interceptor/parser/GlobalTransactionalInterceptorParserTest.java
  compatible/src/test/java/io/seata/rm/tcc/interceptor/ProxyUtilsTccTest.java
  compatible/src/test/java/io/seata/rm/tcc/interceptor/parser/TccActionInterceptorParserTest.java
Labels: type: optimize, module/compatible

#6415 feature: support autolayout in seata-statemachine-designer
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  saga/seata-saga-statemachine-designer/.eslintrc.json
  saga/seata-saga-statemachine-designer/src/modeling/SagaImporter.js
  saga/seata-saga-statemachine-designer/src/spec/style/Node.js
  saga/seata-saga-statemachine-designer/src/utils/index.js
Labels: first-time contributor, module/designer

#6405 optimize: fix kotlin compile failure
  dependencies/pom.xml
  spring/pom.xml
Labels: type: optimize

#6430 test: enhance test coverage of seata common
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/test/java/org/apache/seata/common/exception/RepeatRegistrationExceptionTest.java
  common/src/test/java/org/apache/seata/common/exception/SkipCallbackWrapperExceptionTest.java
  common/src/test/java/org/apache/seata/common/util/LambdaUtilsTest.java
Labels: first-time contributor

#6429 optimize: remove repetitive words
  compatible/src/test/java/io/seata/rm/datasource/DataSourceProxyTest.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/DataSourceProxy.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/DataSourceProxyTest.java
Labels: first-time contributor, module/rm-datasource, type: test, changelog, module/compatible
