Repository apache/incubator-seata, pull requests merged in 2024-05, with the labels that each got.

#6518 optimize: optimize ConfigurationCache proxy method
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  config/seata-config-core/src/main/java/org/apache/seata/config/ConfigurationCache.java
  config/seata-config-nacos/src/test/java/io/seata/config/nacos/TestConfigCustomSPI.java
Labels: module/config, type: optimize

#6540 optimize: exclude com.google.guava:listenablefuture
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  dependencies/pom.xml
Labels: license

#6548 optimize: upgrade the byte-buddy version to 1.14.15
  .github/workflows/test.yml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  config/seata-config-core/src/main/java/org/apache/seata/config/ConfigurationFactory.java
  config/seata-config-nacos/src/test/java/io/seata/config/nacos/NacosConfiguration.java
  config/seata-config-nacos/src/test/java/io/seata/config/nacos/TestConfigCustomSPI.java
  config/seata-config-nacos/src/test/resources/registry-test.conf
  dependencies/pom.xml
Labels: module/config, type: optimize

#6554 bugfix: unfixed serializer
  build/pom.xml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/protocol/ProtocolConstants.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v1/ProtocolV1Decoder.java
  core/src/main/java/org/apache/seata/core/serializer/SerializerServiceLoader.java
  dependencies/pom.xml
  discovery/seata-discovery-etcd3/pom.xml
  integration/grpc/pom.xml
Labels: module/core, type: optimize

#6555 bugfix: fix businessActionContext not compatible with io.seata
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  compatible/src/main/java/io/seata/rm/tcc/TCCResourceManager.java
  compatible/src/main/resources/META-INF/services/io.seata.core.model.ResourceManager
  integration-tx-api/src/main/java/org/apache/seata/rm/tcc/api/BusinessActionContextUtil.java
  tcc/src/main/java/org/apache/seata/rm/tcc/TCCResourceManager.java
Labels: type: bug, module/tcc, module/compatible

#6560 test : fix mock-server test, do not shutdown in Runtime.getRuntime().addShutdownHook
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  test-mock-server/src/main/java/org/apache/seata/mockserver/MockServer.java
  test/src/test/java/org/apache/seata/core/rpc/netty/mockserver/ProtocolTestConstants.java
Labels: module/test, type: optimize

#6565 test: fix testCompensationStateMachine fail
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  test/src/test/java/org/apache/seata/core/rpc/netty/mockserver/MockServerTest.java
  test/src/test/java/org/apache/seata/saga/engine/db/StateMachineDBTests.java
Labels: module/test, type: test

#6578 optimize: registry.conf supplemented raft configuration
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  script/client/conf/registry.conf
Labels: module/script, type: optimize
