Repository apache/incubator-seata, pull requests merged in 2024-11, with the labels that each got.

#6974 feature: add fastjson2 undolog parser
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/pom.xml
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/parser/Fastjson2UndoLogParser.java
  rm-datasource/src/main/resources/META-INF/services/org.apache.seata.rm.datasource.undo.UndoLogParser
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/undo/parser/Fastjson2UndoLogParserTest.java
Labels: type: feature, module/rm-datasource

#6984 bugfix: support building docker image on openjdk23
  build/pom.xml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
Labels: type: bug

#6991 optimize: gRPC serialization default to Protobuf
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/rpc/netty/grpc/GrpcDecoder.java
Labels: module/core, type: optimize

#6994 bugfix: fix the problem of building undoLog exception when update join does not update data
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/exec/mysql/MySQLUpdateJoinExecutor.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/UpdateJoinExecutorTest.java
Labels: type: bug, mode: AT, module/rm-datasource

#6993 optimize: optimize transaction metrics
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/org/apache/seata/server/metrics/MeterIdConstants.java
  server/src/main/java/org/apache/seata/server/metrics/MetricsSubscriber.java
  server/src/main/java/org/apache/seata/server/session/GlobalSession.java
  server/src/main/java/org/apache/seata/server/session/SessionHelper.java
  server/src/main/java/org/apache/seata/server/session/SessionStatusValidator.java
Labels: module/server, type: optimize

#7002 optimize: optimize lock release logic in AT transaction mode
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  common/src/main/java/io/seata/common/ConfigurationKeys.java
  common/src/main/java/io/seata/common/DefaultValues.java
  script/config-center/config.txt
  server/src/main/java/io/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/io/seata/server/coordinator/DefaultCore.java
  server/src/main/java/io/seata/server/session/AbstractSessionManager.java
  server/src/main/resources/application.example.yml
Labels: mode: AT, module/server, type: optimize

#7001 optimize: optimize transaction metrics
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  server/src/main/java/io/seata/server/metrics/MeterIdConstants.java
  server/src/main/java/io/seata/server/metrics/MetricsSubscriber.java
  server/src/main/java/io/seata/server/session/GlobalSession.java
  server/src/main/java/io/seata/server/session/SessionHelper.java
  server/src/main/java/io/seata/server/session/SessionStatusValidator.java
Labels: module/server, type: optimize

#7005 bugfix: fix the Raft NPE issue caused by two-phase concurrency
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/org/apache/seata/server/cluster/raft/execute/branch/AddBranchSessionExecute.java
  server/src/main/java/org/apache/seata/server/cluster/raft/execute/branch/UpdateBranchSessionExecute.java
  server/src/main/java/org/apache/seata/server/cluster/raft/execute/lock/BranchReleaseLockExecute.java
  server/src/main/java/org/apache/seata/server/session/SessionStatusValidator.java
Labels: type: bug, module/server, store: raft

#7010 bugfix:fix error while the "context" is key word in DM8 when delete undolog
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/dm/DmUndoLogManager.java
Labels: type: bug, first-time contributor, mode: AT, module/rm-datasource

#7022 bugfix: modify the properties in the raft application file
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/resources/application.raft.example.yml
Labels: type: bug, module/server

#7025 bugfix: fix vGroupMappingManager is NOT init
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/org/apache/seata/server/controller/VGroupMappingController.java
Labels: type: bug, module/server

#7023 optimize: fail fast, when all server channel not available
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyClientChannelManager.java
  server/src/main/java/org/apache/seata/server/controller/VGroupMappingController.java
Labels: module/core, type: optimize

#7027 optimize: raft mode maintains the reload logic consistent with the file
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/org/apache/seata/server/session/SessionHolder.java
  server/src/main/java/org/apache/seata/server/storage/file/session/FileSessionManager.java
  server/src/main/java/org/apache/seata/server/storage/raft/session/RaftSessionManager.java
  server/src/test/java/org/apache/seata/server/raft/execute/BranchSessionExecuteTest.java
  server/src/test/java/org/apache/seata/server/raft/execute/LockExecuteTest.java
Labels: module/server, type: optimize, store: raft

#7028 optimize: add mysql to docker image
  build/pom.xml
  pom.xml
  server/pom.xml
Labels: module/server, type: optimize, store: db

#7017 reactor: remove dependency on seata-server module
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  dependencies/pom.xml
  integration/grpc/pom.xml
  mock-server/pom.xml
  mock-server/src/main/java/org/apache/seata/mockserver/MockCoordinator.java
  mock-server/src/main/java/org/apache/seata/mockserver/MockNettyRemotingServer.java
  mock-server/src/main/java/org/apache/seata/mockserver/MockServer.java
  mock-server/src/main/java/org/apache/seata/mockserver/call/CallRm.java
  mock-server/src/main/java/org/apache/seata/mockserver/controller/MockHelpController.java
  mock-server/src/main/java/org/apache/seata/mockserver/model/MockBranchSession.java
  mock-server/src/main/java/org/apache/seata/mockserver/model/MockGlobalSession.java
  mock-server/src/main/java/org/apache/seata/mockserver/processor/MockHeartbeatProcessor.java
  mock-server/src/main/java/org/apache/seata/mockserver/processor/MockOnReqProcessor.java
  mock-server/src/main/java/org/apache/seata/mockserver/processor/MockOnRespProcessor.java
  mock-server/src/main/java/org/apache/seata/mockserver/processor/MockRegisterProcessor.java
  mock-server/src/main/java/org/apache/seata/mockserver/processor/MockRemotingProcessor.java
  pom.xml
  test-mock-server/src/main/resources/application.yml
  test-mock-server/src/main/resources/logback-spring.xml
  test-old-version/src/test/java/io/seata/MockTest.java
  test-old-version/src/test/java/io/seata/core/rpc/netty/Action1Impl.java
  test-old-version/src/test/java/io/seata/core/rpc/netty/TmClientTest.java
  test-old-version/src/test/resources/registry.conf
  test/pom.xml
Labels: type: refactor

#7031 optimize: optimize Raft SSL configuration items
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/ConfigurationKeys.java
  common/src/main/java/org/apache/seata/common/DefaultValues.java
  mock-server/pom.xml
  server/src/main/java/org/apache/seata/server/cluster/raft/RaftServer.java
  server/src/main/resources/application.raft.example.yml
Labels: module/server, type: optimize, module/mock-server

#7032 optimize: add jdbc class isolation loader for different versions
  core/src/main/java/org/apache/seata/core/store/db/AbstractDataSourceProvider.java
Labels: DB: MySQL, module/server, type: optimize, store: db

#7033 optimize: add the decompression size limit
  compressor/seata-compressor-zstd/src/main/java/org/apache/seata/compressor/zstd/ZstdUtil.java
  compressor/seata-compressor-zstd/src/test/java/org/apache/seata/compressor/zstd/ZstdUtilTest.java
Labels: module/compressor, type: optimize
