Repository apache/incubator-seata, pull requests merged in 2024-12, with the labels that each got.

#7044 bugfix: fix tablemeta refresh after closed
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/TableMetaCacheFactory.java
Labels: type: bug, mode: AT, module/rm-datasource, multilingual

#7046 optimize: remove the dependency conflict for spring-webmvc
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  dependencies/pom.xml
Labels: type: optimize, dependencies

#7043 optimize: finish rollback if sendResult/msg not found
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rocketmq/src/main/java/org/apache/seata/integration/rocketmq/TCCRocketMQ.java
  rocketmq/src/main/java/org/apache/seata/integration/rocketmq/TCCRocketMQImpl.java
  rocketmq/src/test/java/org/apache/seata/integration/rocketmq/TCCRocketMQImplTest.java
Labels: MQ: RocketMQ, type: optimize, module/rocketmq

#7049 optimize: optimize deserialization efficiency
  server/src/main/java/org/apache/seata/server/cluster/raft/serializer/CustomDeserializer.java
  server/src/main/java/org/apache/seata/server/cluster/raft/snapshot/RaftSnapshotSerializer.java
  server/src/main/java/org/apache/seata/server/cluster/raft/sync/RaftSyncMessageSerializer.java
  server/src/test/java/org/apache/seata/server/raft/RaftSyncMessageTest.java
Labels: module/server, type: optimize

#7054 optimize: In file mode when the lock cannot be acquired output the holder's xid.
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/org/apache/seata/server/storage/file/lock/FileLocker.java
Labels: module/server, type: optimize, store: file, store: raft

#7065 optimize: modify the version to 2.4.0-SNAPSHOT
  build/pom.xml
  changes/en-us/2.3.0.md
  changes/en-us/2.x.md
  changes/zh-cn/2.3.0.md
  changes/zh-cn/2.x.md
Labels: type: optimize

#7070 optimize: fix changes
  changes/zh-cn/2.3.0.md
Labels: type: optimize

#7012 optimize: When the number of primary keys exceeds 1000, use union to concatenate the SQL #6957
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  compatible/src/test/java/io/seata/rm/datasource/mock/MockExecuteHandlerImpl.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/SqlGenerateUtils.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/exec/BaseTransactionalExecutor.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/exec/MultiUpdateExecutor.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/exec/UpdateExecutor.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/exec/mysql/MySQLUpdateJoinExecutor.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/AbstractUndoExecutor.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/SqlGenerateUtilsTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/UpdateJoinExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/mock/MockExecuteHandlerImpl.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/undo/AbstractUndoExecutorTest.java
  sqlparser/seata-sqlparser-druid/src/main/java/org/apache/seata/sqlparser/druid/dm/DmSelectForUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/org/apache/seata/sqlparser/druid/mysql/MySQLSelectForUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/org/apache/seata/sqlparser/druid/oracle/OracleSelectForUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/org/apache/seata/sqlparser/druid/postgresql/PostgresqlSelectForUpdateRecognizer.java
  sqlparser/seata-sqlparser-druid/src/main/java/org/apache/seata/sqlparser/druid/sqlserver/SqlServerOperateRecognizerHolder.java
Labels: first-time contributor, mode: AT, module/rm-datasource, type: optimize

#7075 optimize: fast fail when channel is null
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/rpc/netty/AbstractNettyRemotingClient.java
  core/src/test/java/org/apache/seata/core/rpc/netty/RmNettyClientTest.java
Labels: module/core, type: optimize

#7069 feature: Raft cluster mode supports address translation
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/ConfigurationKeys.java
  common/src/main/java/org/apache/seata/common/exception/ParseEndpointException.java
  common/src/main/java/org/apache/seata/common/metadata/Node.java
  common/src/main/java/org/apache/seata/common/util/NetUtil.java
  discovery/seata-discovery-raft/src/main/java/org/apache/seata/discovery/registry/raft/RaftRegistryServiceImpl.java
  discovery/seata-discovery-raft/src/test/java/org/apache/seata/discovery/registry/raft/RaftRegistryServiceImplTest.java
  script/client/conf/registry.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/SeataCoreEnvironmentPostProcessor.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/StarterConstants.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/registry/RegistryMetadataProperties.java
  server/src/main/java/org/apache/seata/server/cluster/raft/sync/msg/dto/RaftClusterMetadata.java
Labels: type: feature, module/discovery, module/server, store: raft
