Repository apache/incubator-seata, pull requests merged in 2024-07, with the labels that each got.

#6634 optimize: select channel handles based on protocol versions
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/rpc/netty/AbstractNettyRemotingClient.java
  core/src/main/java/org/apache/seata/core/rpc/netty/AbstractNettyRemotingServer.java
  core/src/main/java/org/apache/seata/core/rpc/netty/CompatibleProtocolEncoder.java
  core/src/main/java/org/apache/seata/core/rpc/netty/MultiProtocolDecoder.java
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyClientBootstrap.java
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyServerBootstrap.java
  core/src/main/java/org/apache/seata/core/rpc/netty/ProtocolDecoder.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v0/ProtocolDecoderV0.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v0/ProtocolEncoderV0.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v1/ProtocolDecoderV1.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v1/ProtocolEncoderV1.java
  test/src/test/java/org/apache/seata/core/rpc/netty/v1/ClientChannelHandler.java
  test/src/test/java/org/apache/seata/core/rpc/netty/v1/ProtocolV1Client.java
  test/src/test/java/org/apache/seata/core/rpc/netty/v1/ProtocolV1SerializerTest.java
  test/src/test/java/org/apache/seata/core/rpc/netty/v1/ProtocolV1Server.java
  test/src/test/java/org/apache/seata/core/rpc/netty/v1/ServerChannelHandler.java
Labels: module/core, type: optimize, protocol

#6566 optimize: add support for configuring exposeProxy in GlobalTransactionScanner
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  compatible/src/main/java/io/seata/spring/annotation/GlobalTransactionScanner.java
  script/client/spring/application.properties
  script/client/spring/application.yml
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/SeataProperties.java
  seata-spring-boot-starter/src/main/java/org/apache/seata/spring/boot/autoconfigure/SeataAutoConfiguration.java
  spring/src/main/java/org/apache/seata/spring/annotation/GlobalTransactionScanner.java
Labels: first-time contributor, module/spring, type: optimize

#6642 bugfix: codecov token not found
  .github/workflows/build.yml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
Labels: type: bug

#6537 feature: init Namingserver
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/Constants.java
  common/src/main/java/org/apache/seata/common/metadata/Cluster.java
  common/src/main/java/org/apache/seata/common/metadata/Node.java
  common/src/main/java/org/apache/seata/common/metadata/namingserver/Instance.java
  common/src/main/java/org/apache/seata/common/metadata/namingserver/MetaResponse.java
  common/src/main/java/org/apache/seata/common/metadata/namingserver/NamingServerNode.java
  common/src/main/java/org/apache/seata/common/metadata/namingserver/Unit.java
  common/src/main/java/org/apache/seata/common/result/BaseParam.java
  common/src/main/java/org/apache/seata/common/result/Code.java
  common/src/main/java/org/apache/seata/common/result/PageResult.java
  common/src/main/java/org/apache/seata/common/result/Result.java
  common/src/main/java/org/apache/seata/common/result/SingleResult.java
  common/src/main/java/org/apache/seata/common/util/CollectionUtils.java
  common/src/test/java/org/apache/seata/common/metadata/namingserver/InstanceTest.java
  common/src/test/java/org/apache/seata/common/metadata/namingserver/NamingServerNodeTest.java
  console/pom.xml
  console/src/main/java/org/apache/seata/console/controller/AuthController.java
  console/src/main/java/org/apache/seata/console/controller/OverviewController.java
  namingserver/pom.xml
  namingserver/src/main/java/org/apache/seata/namingserver/NamingserverApplication.java
  namingserver/src/main/java/org/apache/seata/namingserver/controller/NamingController.java
  namingserver/src/main/java/org/apache/seata/namingserver/exception/ClusterNotFoundException.java
  namingserver/src/main/java/org/apache/seata/namingserver/listener/ClusterChangeEvent.java
  namingserver/src/main/java/org/apache/seata/namingserver/listener/ClusterChangeListener.java
  namingserver/src/main/java/org/apache/seata/namingserver/listener/Watcher.java
  namingserver/src/main/java/org/apache/seata/namingserver/manager/ClusterWatcherManager.java
  namingserver/src/main/java/org/apache/seata/namingserver/manager/NamingManager.java
  namingserver/src/main/java/org/apache/seata/namingserver/pojo/AbstractClusterData.java
  namingserver/src/main/java/org/apache/seata/namingserver/pojo/ClusterData.java
  namingserver/src/main/java/org/apache/seata/namingserver/vo/monitor/ClusterVO.java
  namingserver/src/main/java/org/apache/seata/namingserver/vo/monitor/WatcherVO.java
  namingserver/src/main/resources/application.yml
  namingserver/src/test/java/org/apache/seata/namingserver/NamingControllerTest.java
  namingserver/src/test/java/org/apache/seata/namingserver/NamingserverApplicationTests.java
  server/src/main/java/org/apache/seata/server/console/controller/GlobalLockController.java
  server/src/main/java/org/apache/seata/server/console/controller/GlobalSessionController.java
  server/src/main/java/org/apache/seata/server/console/impl/db/BranchSessionDBServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/db/GlobalLockDBServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/db/GlobalSessionDBServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/file/BranchSessionFileServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/file/GlobalLockFileServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/file/GlobalSessionFileServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/redis/BranchSessionRedisServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/redis/GlobalLockRedisServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/redis/GlobalSessionRedisServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/param/GlobalLockParam.java
  server/src/main/java/org/apache/seata/server/console/param/GlobalSessionParam.java
  server/src/main/java/org/apache/seata/server/console/service/BranchSessionService.java
  server/src/main/java/org/apache/seata/server/console/service/GlobalLockService.java
  server/src/main/java/org/apache/seata/server/console/service/GlobalSessionService.java
  server/src/main/java/org/apache/seata/server/controller/ClusterController.java
  server/src/test/java/org/apache/seata/server/lock/LockManagerTest.java
  server/src/test/java/org/apache/seata/server/session/FileSessionManagerTest.java
  server/src/test/java/org/apache/seata/server/session/redis/RedisQueryConsolTest.java
Labels: type: feature, module/common, module/server, module/namingserver

#6647 test: improve the test case coverage of saga module to 70%
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  saga/seata-saga-engine-store/src/main/java/org/apache/seata/saga/engine/store/db/AbstractStore.java
  saga/seata-saga-engine/src/main/java/org/apache/seata/saga/engine/pcext/utils/LoopTaskUtils.java
  saga/seata-saga-processctrl/src/test/java/org/apache/seata/saga/proctrl/handler/DefaultRouterHandlerTest.java
  saga/seata-saga-processctrl/src/test/java/org/apache/seata/saga/proctrl/impl/ProcessContextImplTest.java
  saga/seata-saga-processctrl/src/test/java/org/apache/seata/saga/proctrl/mock/MockProcessRouter.java
  saga/seata-saga-processctrl/src/test/java/org/apache/seata/saga/proctrl/process/impl/CustomizeBusinessProcessorTest.java
  saga/seata-saga-spring/src/test/java/org/apache/seata/saga/engine/config/DbStateMachineConfigTest.java
  saga/seata-saga-spring/src/test/java/org/apache/seata/saga/engine/config/MockDataSource.java
  saga/seata-saga-spring/src/test/java/org/apache/seata/saga/engine/expression/spel/SpringELExpressionFactoryTest.java
  saga/seata-saga-spring/src/test/java/org/apache/seata/saga/engine/expression/spel/SpringELExpressionObject.java
  saga/seata-saga-spring/src/test/java/org/apache/seata/saga/engine/expression/spel/SpringELExpressionTest.java
  saga/seata-saga-spring/src/test/java/org/apache/seata/saga/engine/invoker/impl/MockService.java
  saga/seata-saga-spring/src/test/java/org/apache/seata/saga/engine/invoker/impl/SpringBeanServiceInvokerTest.java
  saga/seata-saga-spring/src/test/java/org/apache/seata/saga/engine/store/db/DbAndReportTcStateLogStoreTest.java
  saga/seata-saga-spring/src/test/java/org/apache/seata/saga/engine/store/db/MockSagaTransactionTemplate.java
  saga/seata-saga-spring/src/test/java/org/apache/seata/saga/engine/tm/DefaultSagaTransactionalTemplateTest.java
  saga/seata-saga-spring/src/test/java/org/apache/seata/saga/engine/tm/MockGlobalTransaction.java
  saga/seata-saga-spring/src/test/java/org/apache/seata/saga/engine/tm/MockTransactionHook.java
  saga/seata-saga-spring/src/test/resources/file.conf
  saga/seata-saga-spring/src/test/resources/registry.conf
  saga/seata-saga-statelang/src/test/java/org/apache/seata/saga/statelang/parser/StateParserTests.java
Labels: module/saga, type: test

#6653 optimize: optimize multiple licenses and remove license urls
  distribution/LICENSE
Labels: type: optimize

#6655 optimize: update front-end license
  console/src/main/resources/static/console-fe/test/package.json
  distribution/LICENSE
Labels: type: optimize

#6652 optimize: add license header for spring config file
  .licenserc.yaml
  integration/brpc/src/test/proto/Echo.proto
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/resources/META-INF/spring.factories
  seata-spring-autoconfigure/seata-spring-autoconfigure-client/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/resources/META-INF/spring.factories
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/resources/META-INF/spring.factories
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/resources/META-INF/spring.factories
  seata-spring-boot-starter/src/main/resources/META-INF/spring.factories
  seata-spring-boot-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  server/src/main/resources/META-INF/spring.factories
  tcc/src/main/resources/META-INF/services/org.apache.seata.integration.tx.api.json.JsonParser
Labels: type: optimize

#6656 optimize: update source license
  LICENSE
Labels: type: optimize

#6661 bugfix: fix cache scheduled refresh issue.
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/TableMetaCacheFactory.java
Labels: type: bug, first-time contributor, module/rm-datasource

#6663 bugfix: fix cache scheduled refresh issue (#6661)
  changes/en-us/develop.md
  changes/zh-cn/develop.md
  rm-datasource/src/main/java/io/seata/rm/datasource/sql/struct/TableMetaCacheFactory.java
Labels: type: bug, module/rm-datasource

#6666 optimize: add ExceptionUtil class for unwarp error msg
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/exception/ExceptionUtil.java
  spring/src/main/java/org/apache/seata/rm/fence/SpringFenceHandler.java
  tcc/src/main/java/org/apache/seata/rm/tcc/TCCResourceManager.java
Labels: first-time contributor, module/tcc, type: optimize

#6608 test: Improve the test case coverage of [sqlparser] module to 70%
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  sqlparser/seata-sqlparser-core/src/test/java/org/apache/seata/sqlparser/EscapeSymbolTest.java
  sqlparser/seata-sqlparser-core/src/test/java/org/apache/seata/sqlparser/SQLParsingExceptionTest.java
  sqlparser/seata-sqlparser-core/src/test/java/org/apache/seata/sqlparser/SQLTypeTest.java
  sqlparser/seata-sqlparser-core/src/test/java/org/apache/seata/sqlparser/struct/ColumnMetaTest.java
  sqlparser/seata-sqlparser-core/src/test/java/org/apache/seata/sqlparser/struct/IndexMetaTest.java
  sqlparser/seata-sqlparser-core/src/test/java/org/apache/seata/sqlparser/struct/IndexTypeTest.java
  sqlparser/seata-sqlparser-core/src/test/java/org/apache/seata/sqlparser/struct/NotPlaceHolderExprTest.java
  sqlparser/seata-sqlparser-core/src/test/java/org/apache/seata/sqlparser/struct/NullTest.java
  sqlparser/seata-sqlparser-core/src/test/java/org/apache/seata/sqlparser/struct/SqlDefaultExprTest.java
  sqlparser/seata-sqlparser-core/src/test/java/org/apache/seata/sqlparser/struct/SqlMethodExprTest.java
  sqlparser/seata-sqlparser-core/src/test/java/org/apache/seata/sqlparser/struct/SqlSequenceExprTest.java
  sqlparser/seata-sqlparser-core/src/test/java/org/apache/seata/sqlparser/struct/TableMetaTest.java
Labels: first-time contributor, module/sqlparser, type: optimize

#6678 bugfix: Fixed that the same record has different lowkeys due to mixed case of table names
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/cache/DmTableMetaCache.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/cache/OracleTableMetaCache.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/cache/PostgresqlTableMetaCache.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/cache/SqlServerTableMetaCache.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/mock/MockDatabaseMetaData.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/mock/MockDriver.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/sql/struct/cache/PostgresqlTableMetaCacheTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/sql/struct/cache/SqlServerTableMetaCacheTest.java
Labels: type: bug, DB: Oracle, mode: AT, module/rm-datasource, multilingual

#6687 optimize: delete static code built on the frontend
  .gitignore
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/pom.xml
  console/src/main/resources/static/css/bootstrap.css
  console/src/main/resources/static/css/console1412.css
  console/src/main/resources/static/css/font-awesome.css
  console/src/main/resources/static/css/fonts/aliyun-console-font.eot
  console/src/main/resources/static/css/fonts/aliyun-console-font.ttf
  console/src/main/resources/static/css/fonts/aliyun-console-font.woff
  console/src/main/resources/static/css/fonts/font_515771_emcns5054x3whfr.ttf
  console/src/main/resources/static/css/fonts/font_515771_emcns5054x3whfr.woff
  console/src/main/resources/static/css/fonts/roboto-bold.ttf
  console/src/main/resources/static/css/fonts/roboto-bold.woff
  console/src/main/resources/static/css/fonts/roboto-bold.woff2
  console/src/main/resources/static/css/fonts/roboto-regular.ttf
  console/src/main/resources/static/css/fonts/roboto-regular.woff
  console/src/main/resources/static/css/fonts/roboto-regular.woff2
  console/src/main/resources/static/css/icon.css
  console/src/main/resources/static/css/main.css
  console/src/main/resources/static/img/black_dot.png
  console/src/main/resources/static/img/favicon.ico
  console/src/main/resources/static/img/seata.jpeg
  console/src/main/resources/static/img/seata_logo.png
  console/src/main/resources/static/img/seata_logo_small.jpeg
  console/src/main/resources/static/img/seata_logo_white.png
  console/src/main/resources/static/index.html
  console/src/main/resources/static/js/main.js
  console/src/main/resources/static/saga-statemachine-designer/1e08c7f04f4855050724.eot
  console/src/main/resources/static/saga-statemachine-designer/2185c437d9db32386425.ttf
  console/src/main/resources/static/saga-statemachine-designer/8809b45a3f0566911799.woff
  console/src/main/resources/static/saga-statemachine-designer/9c989372615cb2cfbaa6.woff2
  console/src/main/resources/static/saga-statemachine-designer/banner.png
  console/src/main/resources/static/saga-statemachine-designer/bundle.css
  console/src/main/resources/static/saga-statemachine-designer/bundle.css.map
  console/src/main/resources/static/saga-statemachine-designer/bundle.js
  console/src/main/resources/static/saga-statemachine-designer/bundle.js.LICENSE.txt
  console/src/main/resources/static/saga-statemachine-designer/bundle.js.map
  console/src/main/resources/static/saga-statemachine-designer/cb4be0230caf509ac475.svg
  console/src/main/resources/static/saga-statemachine-designer/designer.html
  console/src/main/resources/static/saga-statemachine-designer/favicon.ico
  console/src/main/resources/static/saga-statemachine-designer/logo.jpeg
  console/src/main/resources/static/saga-statemachine-designer/robots.txt
  console/src/main/resources/static/saga-statemachine-designer/test.json
  console/src/main/resources/static/version.json
Labels: type: optimize, module/console

#6697 bugfix: v0 ByteBuf should not decode by super class
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/protocol/Version.java
  core/src/main/java/org/apache/seata/core/rpc/netty/v0/ProtocolDecoderV0.java
Labels: module/core

#6700 optimize : remove sdk version checking
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/protocol/Version.java
  core/src/main/java/org/apache/seata/core/rpc/netty/ChannelManager.java
Labels: module/core

#6702 security: fix REC security vulnerability during Raft deserialization
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/exception/ErrorCode.java
  common/src/main/resources/error/ErrorCode_en.properties
  server/src/main/java/org/apache/seata/server/cluster/raft/sync/RaftSyncMessageSerializer.java
  server/src/test/java/org/apache/seata/server/raft/RaftSyncMessageTest.java
  server/src/test/java/org/apache/seata/server/raft/TestSecurity.java
Labels: module/server, Security

#6533 test: Increase [integration-tx-api] module test case coverage
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  integration-tx-api/src/main/java/org/apache/seata/integration/tx/api/remoting/TwoPhaseResult.java
  integration-tx-api/src/test/java/org/apache/seata/integration/tx/api/interceptor/TwoPhaseBusinessActionParamTest.java
  integration-tx-api/src/test/java/org/apache/seata/integration/tx/api/interceptor/parser/IfNeedEnhanceBeanTest.java
  integration-tx-api/src/test/java/org/apache/seata/integration/tx/api/json/JsonParserImpl.java
  integration-tx-api/src/test/java/org/apache/seata/integration/tx/api/json/JsonParserWrapTest.java
  integration-tx-api/src/test/java/org/apache/seata/integration/tx/api/remoting/TwoPhaseResultTest.java
  integration-tx-api/src/test/java/org/apache/seata/integration/tx/api/remoting/parser/DefaultRemotingParserTest.java
  integration-tx-api/src/test/java/org/apache/seata/integration/tx/api/remoting/parser/RemoteBean.java
  integration-tx-api/src/test/java/org/apache/seata/integration/tx/api/remoting/parser/SimpleBean.java
  integration-tx-api/src/test/java/org/apache/seata/integration/tx/api/remoting/parser/SimpleRemoteBean.java
  integration-tx-api/src/test/java/org/apache/seata/integration/tx/api/remoting/parser/SimpleRemotingParser.java
  integration-tx-api/src/test/java/org/apache/seata/integration/tx/api/util/ClassUtilsTest.java
  integration-tx-api/src/test/java/org/apache/seata/integration/tx/api/util/DubboUtilTest.java
  integration-tx-api/src/test/java/org/apache/seata/integration/tx/api/util/SimpleDubboProxy.java
  tcc/src/test/java/org/apache/seata/rm/tcc/json/JsonParserFactoryTest.java
Labels: first-time contributor

#6707 bugfix: fix readonly branch commit errors in Oracle XA transactions.
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/src/main/resources/static/console-fe/src/pages/TransactionInfo/TransactionInfo.tsx
  core/src/main/java/org/apache/seata/core/model/BranchStatus.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/xa/ConnectionProxyXA.java
  serializer/seata-serializer-protobuf/src/main/resources/protobuf/org/apache/seata/protocol/transcation/branchStatus.proto
  server/src/main/java/org/apache/seata/server/coordinator/DefaultCore.java
Labels: type: bug, first-time contributor, module/rm-datasource, module/server

#6538 feature：init Namingserver server
  build/pom.xml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/ConfigurationKeys.java
  common/src/main/java/org/apache/seata/common/NamingServerConstants.java
  common/src/main/java/org/apache/seata/common/exception/ErrorCode.java
  common/src/main/java/org/apache/seata/common/metadata/Cluster.java
  core/src/main/java/org/apache/seata/core/store/MappingDO.java
  namingserver/src/main/java/org/apache/seata/namingserver/manager/NamingManager.java
  namingserver/src/test/java/org/apache/seata/namingserver/NamingControllerTest.java
  script/server/db/dm.sql
  script/server/db/mysql.sql
  script/server/db/oracle.sql
  script/server/db/postgresql.sql
  script/server/db/sqlserver.sql
  server/pom.xml
  server/src/main/java/org/apache/seata/server/Server.java
  server/src/main/java/org/apache/seata/server/controller/NamingController.java
  server/src/main/java/org/apache/seata/server/session/SessionHolder.java
  server/src/main/java/org/apache/seata/server/storage/db/store/DataBaseVGroupMappingStoreManager.java
  server/src/main/java/org/apache/seata/server/storage/db/store/VGroupMappingDataBaseDAO.java
  server/src/main/java/org/apache/seata/server/storage/file/store/FileVGroupMappingStoreManager.java
  server/src/main/java/org/apache/seata/server/storage/redis/store/RedisVGroupMappingStoreManager.java
  server/src/main/java/org/apache/seata/server/store/VGroupMappingStoreManager.java
  server/src/main/resources/META-INF/services/org.apache.seata.server.store.VGroupMappingStoreManager
  server/src/main/resources/application.example.yml
  server/src/test/java/org/apache/seata/server/controller/NamingControllerTest.java
  server/src/test/java/org/apache/seata/server/storage/file/store/FileVGroupMappingStoreManagerTest.java
  server/src/test/java/org/apache/seata/server/storage/redis/store/RedisVGroupMappingStoreManagerTest.java
Labels: type: feature, module/server

#6483 bugfix: undolog rollback info more than 64MB
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/util/CollectionUtils.java
  common/src/main/java/org/apache/seata/common/util/UUIDGenerator.java
  common/src/main/resources/error/ErrorCode_en.properties
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/DataSourceProxy.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/AbstractUndoExecutor.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/AbstractUndoLogManager.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/UndoLogConstants.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/mysql/MySQLUndoLogManager.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/undo/UndoLogManagerTest.java
  server/src/main/java/org/apache/seata/server/Server.java
  server/src/main/java/org/apache/seata/server/session/GlobalSession.java
  server/src/main/java/org/apache/seata/server/session/SessionHelper.java
  server/src/test/java/ServerTest.java
  server/src/test/java/org/apache/seata/server/UUIDGeneratorOverflowTest.java
  server/src/test/java/org/apache/seata/server/lock/LockManagerTest.java
  server/src/test/java/org/apache/seata/server/lock/file/FileLockManagerImplTest.java
  server/src/test/java/org/apache/seata/server/session/BranchSessionTest.java
  server/src/test/java/org/apache/seata/server/session/db/DataBaseSessionManagerTest.java
  server/src/test/java/org/apache/seata/server/session/redis/RedisSessionManagerTest.java
  server/src/test/java/org/apache/seata/server/store/file/FileTransactionStoreManagerTest.java
  test-mock-server/src/main/java/org/apache/seata/mockserver/MockCoordinator.java
  test-mock-server/src/main/java/org/apache/seata/mockserver/MockServer.java
  test/src/test/java/org/apache/seata/at/mysql/MysqlUpdateJoinTest.java
  test/src/test/java/org/apache/seata/core/rpc/netty/TmNettyClientTest.java
  test/src/test/java/org/apache/seata/saga/engine/db/AbstractServerTest.java
  test/src/test/java/org/apache/seata/saga/engine/mock/MockSagaTransactionTemplate.java
Labels: type: bug, module/rm-datasource
