Repository apache/incubator-seata, pull requests merged in 2025-01, with the labels that each got.

#7092 test: fix the issue of NacosMockTest failing to run
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  config/seata-config-nacos/src/test/java/org/apache/seata/config/nacos/NacosMockTest.java
Labels: module/config, type: test

#7037 feature: add fury undolog parser support
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  dependencies/pom.xml
  rm-datasource/pom.xml
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/parser/FuryUndoLogParser.java
  rm-datasource/src/main/resources/META-INF/services/org.apache.seata.rm.datasource.undo.UndoLogParser
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/undo/parser/FuryUndoLogParserTest.java
Labels: type: feature, module/rm-datasource

#7089 optimize: support instance registration to the registry center
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/metadata/Instance.java
  common/src/test/java/org/apache/seata/common/metadata/namingserver/InstanceTest.java
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyServerBootstrap.java
  discovery/seata-discovery-core/src/main/java/org/apache/seata/discovery/registry/RegistryService.java
  discovery/seata-discovery-namingserver/src/main/java/org/apache/seata/discovery/registry/namingserver/NamingserverRegistryServiceImpl.java
  mock-server/src/main/java/org/apache/seata/mockserver/MockServer.java
  server/src/main/java/org/apache/seata/server/Server.java
  server/src/main/java/org/apache/seata/server/controller/VGroupMappingController.java
  server/src/main/java/org/apache/seata/server/instance/ServerInstanceFactory.java
  server/src/main/java/org/apache/seata/server/storage/db/store/DataBaseVGroupMappingStoreManager.java
  server/src/main/java/org/apache/seata/server/storage/db/store/VGroupMappingDataBaseDAO.java
  server/src/main/java/org/apache/seata/server/storage/redis/store/RedisVGroupMappingStoreManager.java
  server/src/main/java/org/apache/seata/server/store/VGroupMappingStoreManager.java
  server/src/test/java/org/apache/seata/server/storage/redis/store/RedisVGroupMappingStoreManagerTest.java
Labels: module/discovery, module/server, type: optimize

#7104 bugfix: impl of supportsSourceType is not defined
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/listener/SeataApplicationListener.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/loader/SeataPropertiesLoader.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/resources/META-INF/spring.factories
Labels: type: bug, module/seata-spring-autoconfigure-core

#7112 bugfix: remove the condition that IPv6 must start with fe80:
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/util/NetAddressValidatorUtil.java
  common/src/test/java/org/apache/seata/common/util/NetAddressValidatorUtilTest.java
Labels: type: bug, module/common

#7073 feature:[loom] replace the usages of synchronized with ReentrantLock
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/lock/ResourceLock.java
  common/src/main/java/org/apache/seata/common/util/UUIDGenerator.java
  common/src/test/java/org/apache/seata/common/lock/ResourceLockTest.java
  discovery/seata-discovery-eureka/src/main/java/org/apache/seata/discovery/registry/eureka/EurekaRegistryServiceImpl.java
  integration-tx-api/src/main/java/org/apache/seata/integration/tx/api/fence/hook/TccHookManager.java
  integration-tx-api/src/main/java/org/apache/seata/integration/tx/api/remoting/parser/DefaultRemotingParser.java
  integration-tx-api/src/main/java/org/apache/seata/integration/tx/api/util/ProxyUtil.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/util/JdbcUtils.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/xa/ConnectionProxyXA.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/xa/ResourceManagerXA.java
  rocketmq/src/main/java/org/apache/seata/integration/rocketmq/SeataMQProducerFactory.java
  server/src/main/java/org/apache/seata/server/session/GlobalSession.java
Labels: type: feature

#7107 bugfix: the issue of incorrect annotation retrieval from the proxy object
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  spring/src/test/java/org/apache/seata/spring/SpringLocalTccTest.java
  spring/src/test/java/org/apache/seata/spring/tcc/TccAnnoAtInterAction.java
  spring/src/test/java/org/apache/seata/spring/tcc/TccAnnoAtInterActionImpl.java
  spring/src/test/java/org/apache/seata/spring/tcc/TccAnnoAtInterImplAction.java
  spring/src/test/java/org/apache/seata/spring/tcc/TccAnnoAtInterImplActionImpl.java
  tcc/src/main/java/org/apache/seata/rm/tcc/interceptor/TccActionInterceptorHandler.java
  tcc/src/main/java/org/apache/seata/rm/tcc/interceptor/parser/TccActionInterceptorParser.java
  tcc/src/test/java/org/apache/seata/rm/tcc/interceptor/parser/TccActionInterceptorParserTest.java
Labels: first-time contributor, mode: TCC, module/spring, module/tcc, module/intergration-tx-api

#7124 bugfix: GlobalTransactionScanner.afterPropertiesSet need do scanner check
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  spring/src/main/java/org/apache/seata/spring/annotation/GlobalTransactionScanner.java
Labels: type: bug, module/spring

#6756 feature: add single server rate limit
  build/pom.xml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/ConfigurationKeys.java
  common/src/main/java/org/apache/seata/common/DefaultValues.java
  compatible/src/main/java/io/seata/tm/api/DefaultFailureHandlerImpl.java
  core/src/main/java/org/apache/seata/core/event/RateLimitEvent.java
  core/src/main/java/org/apache/seata/core/exception/TransactionExceptionCode.java
  core/src/main/java/org/apache/seata/core/protocol/MessageType.java
  core/src/test/java/org/apache/seata/core/protocol/ResultCodeTest.java
  dependencies/pom.xml
  integration-tx-api/src/main/java/org/apache/seata/integration/tx/api/interceptor/handler/GlobalTransactionalInterceptorHandler.java
  metrics/seata-metrics-api/src/main/java/org/apache/seata/metrics/IdConstants.java
  saga/seata-saga-spring/src/main/java/org/apache/seata/saga/engine/tm/DefaultSagaTransactionalTemplate.java
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/StarterConstants.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/org/apache/seata/spring/boot/autoconfigure/SeataServerEnvironmentPostProcessor.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/server/ServerRateLimitProperties.java
  server/pom.xml
  server/src/main/java/org/apache/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/org/apache/seata/server/limit/AbstractTransactionRequestHandler.java
  server/src/main/java/org/apache/seata/server/limit/LimitRequestDecorator.java
  server/src/main/java/org/apache/seata/server/limit/ratelimit/RateLimitInfo.java
  server/src/main/java/org/apache/seata/server/limit/ratelimit/RateLimiter.java
  server/src/main/java/org/apache/seata/server/limit/ratelimit/RateLimiterHandler.java
  server/src/main/java/org/apache/seata/server/limit/ratelimit/RateLimiterHandlerConfig.java
  server/src/main/java/org/apache/seata/server/limit/ratelimit/TokenBucketLimiter.java
  server/src/main/java/org/apache/seata/server/metrics/MeterIdConstants.java
  server/src/main/java/org/apache/seata/server/metrics/MetricsPublisher.java
  server/src/main/java/org/apache/seata/server/metrics/MetricsSubscriber.java
  server/src/main/resources/META-INF/services/org.apache.seata.server.limit.ratelimit.RateLimiter
  server/src/main/resources/application.example.yml
  server/src/main/resources/application.raft.example.yml
  server/src/test/java/org/apache/seata/server/ratelimiter/RateLimiterHandlerTest.java
  server/src/test/java/org/apache/seata/server/ratelimiter/TokenBucketLimiterTest.java
  server/src/test/resources/META-INF/services/org.apache.seata.server.limit.ratelimit.RateLimiter
  server/src/test/resources/file.conf
Labels: type: feature, module/server
