Repository apache/incubator-seata, pull requests merged in 2025-05, with the labels that each got.

#7330 test: add UT for namingserver module
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  namingserver/src/test/java/org/apache/seata/namingserver/ClusterWatcherManagerTest.java
  namingserver/src/test/java/org/apache/seata/namingserver/NamingControllerTest.java
  namingserver/src/test/java/org/apache/seata/namingserver/NamingEntityTest.java
  namingserver/src/test/java/org/apache/seata/namingserver/NamingManagerTest.java
Labels: first-time contributor

#7261 feature: enforce account initialization and disable default credentials
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/src/main/java/org/apache/seata/console/security/CustomUserDetailsServiceImpl.java
  console/src/main/java/org/apache/seata/console/security/User.java
  namingserver/src/main/resources/application.yml
  namingserver/src/test/java/org/apache/seata/namingserver/AuthControllerWithCustomPropertiesTest.java
  namingserver/src/test/java/org/apache/seata/namingserver/AuthControllerWithRandomPasswordTest.java
  namingserver/src/test/java/org/apache/seata/namingserver/smoke/NamingControllerLoggerPrintSmokeTest.java
  namingserver/src/test/java/org/apache/seata/namingserver/smoke/NamingControllerPropertiesSmokeTest.java
  namingserver/src/test/resources/application.yml
Labels: type: feature, module/console

#7344 optimize: raft mode performs transaction size check in advance
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/org/apache/seata/server/session/BranchSession.java
  server/src/main/java/org/apache/seata/server/session/GlobalSession.java
  server/src/main/java/org/apache/seata/server/storage/raft/session/RaftSessionManager.java
  server/src/test/java/org/apache/seata/server/session/BranchSessionTest.java
  server/src/test/java/org/apache/seata/server/session/GlobalSessionTest.java
Labels: module/server, type: optimize, store: raft

#7355 bugfix: the drivers in the lib folder cannot be loaded
  changes/en-us/2.4.0.md
  changes/zh-cn/2.4.0.md
  core/src/main/java/org/apache/seata/core/store/db/AbstractDataSourceProvider.java
Labels: type: bug, module/server, store: db

#7359 test: merge submodule test reports
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  pom.xml
Labels: type: test

#7354 bugfix: the drivers in the lib folder cannot be loaded
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/store/db/AbstractDataSourceProvider.java
  server/src/main/java/org/apache/seata/server/store/DbcpDataSourceProvider.java
  server/src/main/java/org/apache/seata/server/store/DruidDataSourceProvider.java
  server/src/test/java/org/apache/seata/server/store/db/AbstractDataSourceProviderTest.java
Labels: type: bug, module/server

#7372 optimize: optimize license ignore
  .licenserc.yaml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
Labels: first-time contributor, type: optimize

#7370 optimize: fix ISSUE_TEMPLATE not work
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.yml
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
Labels: type: bug
