Repository apache/incubator-seata, pull requests merged in 2025-08, with the labels that each got.

#7571 docs: add hyperlink to CONTRIBUTING.md and changes directory in pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
Labels: first-time contributor, type: docs

#7482 bugfix: Github Action workflow does not run the corresponding Kotlin test
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  spring/pom.xml
  spring/src/test/java/org/apache/seata/spring/kt/TransactionScopeTest.kt
Labels: type: bug, module/spring

#7577 optimize: remove the 4MB size limit when decompressing with zstd
  changes/en-us/2.5.0.md
  changes/en-us/2.x.md
  changes/zh-cn/2.5.0.md
  changes/zh-cn/2.x.md
  compressor/seata-compressor-zstd/src/main/java/org/apache/seata/compressor/zstd/ZstdUtil.java
  compressor/seata-compressor-zstd/src/test/java/org/apache/seata/compressor/zstd/ZstdUtilTest.java
Labels: module/compressor, type: optimize

#7570 bugfix: fix order() behavior in GlobalTransactionalInterceptorHandler to ensure correct sorting of invocation handlers
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  integration-tx-api/src/main/java/org/apache/seata/integration/tx/api/interceptor/handler/AbstractProxyInvocationHandler.java
  integration-tx-api/src/main/java/org/apache/seata/integration/tx/api/interceptor/handler/GlobalTransactionalInterceptorHandler.java
  integration-tx-api/src/main/java/org/apache/seata/integration/tx/api/interceptor/handler/ProxyInvocationHandler.java
  integration-tx-api/src/test/java/org/apache/seata/integration/tx/api/interceptor/parser/DefaultInterfaceParserTest.java
Labels: type: bug, first-time contributor, module/intergration-tx-api

#7584 test: deflake ConsulConfigurationTest#testInitSeataConfig (#7584)
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  config/seata-config-consul/src/test/java/org/apache/seata/config/consul/ConsulConfigurationTest.java
Labels: module/config, type: test

#7576 optimize: Add empty push protection for Configuration
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/test/java/org/apache/seata/common/util/Http5ClientUtilTest.java
  config/seata-config-consul/src/main/java/org/apache/seata/config/consul/ConsulConfiguration.java
  config/seata-config-consul/src/test/java/org/apache/seata/config/consul/ConsulConfigurationTest.java
  config/seata-config-core/src/test/java/org/apache/seata/config/processor/ProcessorYamlTest.java
  config/seata-config-etcd3/src/main/java/org/apache/seata/config/etcd3/EtcdConfiguration.java
  config/seata-config-nacos/src/main/java/org/apache/seata/config/nacos/NacosConfiguration.java
  config/seata-config-nacos/src/test/java/org/apache/seata/config/nacos/NacosConfigurationTest.java
  config/seata-config-zk/src/main/java/org/apache/seata/config/zk/ZookeeperConfiguration.java
  config/seata-config-zk/src/test/java/org/apache/seata/config/zk/ZkConfigurationTest.java
Labels: module/discovery, type: optimize

#7596 bugfix: fix deserialization failure when the XSS filter retrieved the default keyword
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/ConfigurationKeys.java
  core/src/main/java/org/apache/seata/core/rpc/netty/http/filter/HttpRequestFilterManager.java
  core/src/test/java/org/apache/seata/core/rpc/netty/http/filter/HttpRequestFilterManagerTest.java
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/org/apache/seata/spring/boot/autoconfigure/SeataServerEnvironmentPostProcessor.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/server/filter/ServerHttpFilterProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/server/filter/ServerHttpFilterXssProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/test/java/org/apache/seata/spring/boot/autoconfigure/properties/server/filter/ServerHttpFilterPropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/test/java/org/apache/seata/spring/boot/autoconfigure/properties/server/filter/ServerHttpFilterXssPropertiesTest.java
  server/src/main/java/org/apache/seata/server/filter/XSSHttpRequestFilter.java
  server/src/main/resources/application.example.yml
  server/src/main/resources/application.raft.example.yml
  server/src/test/java/org/apache/seata/server/controller/ClusterControllerTest.java
  server/src/test/resources/application.properties
Labels: type: bug, module/server, module/seata-spring-autoconfigure-server
