Repository apache/incubator-seata, pull requests merged in 2025-07, with the labels that each got.

#7488 optimize: upgrade tomcat to 9.0.106
  changes/en-us/2.x.md
  console/pom.xml
  dependencies/pom.xml
  mock-server/pom.xml
  namingserver/pom.xml
Labels: first-time contributor, dependencies

#7501 test: add unit test case for fury serializer
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  serializer/seata-serializer-fury/src/test/java/org/apache/seata/serializer/fury/FurySerializerTest.java
  serializer/seata-serializer-fury/src/test/java/org/seata/test/TestUnSafeSerializer.java
Labels: module/serializer, type: test

#7512 bugfix: the server does not send heartbeats when the namingserver is used with other registries
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/org/apache/seata/server/instance/AbstractSeataInstanceStrategy.java
Labels: type: bug, module/server

#7505 bugfix: prevent Netty I/O thread blocking by async channel release via reconnectExecutor
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/rpc/netty/AbstractNettyRemotingClient.java
  core/src/test/java/org/apache/seata/core/rpc/netty/ResourceCleanupTest.java
Labels: type: bug, module/core

#7563 bugfix: fix NPE when server-side filter is disabled and filter chain is null.
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/rpc/netty/http/filter/HttpRequestFilterManager.java
  core/src/test/java/org/apache/seata/core/rpc/netty/http/filter/HttpRequestFilterManagerTest.java
Labels: type: bug, module/core
