Repository apache/incubator-seata, pull requests merged in 2025-06, with the labels that each got.

#7346 optimize: replace tomcat with netty-http on the server
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/pom.xml
  core/src/main/java/org/apache/seata/core/protocol/detector/HttpDetector.java
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyServerBootstrap.java
  core/src/main/java/org/apache/seata/core/rpc/netty/ProtocolDetectHandler.java
  core/src/main/java/org/apache/seata/core/rpc/netty/http/ControllerManager.java
  core/src/main/java/org/apache/seata/core/rpc/netty/http/HttpDispatchHandler.java
  core/src/main/java/org/apache/seata/core/rpc/netty/http/HttpInvocation.java
  core/src/main/java/org/apache/seata/core/rpc/netty/http/ParamMetaData.java
  core/src/main/java/org/apache/seata/core/rpc/netty/http/ParameterParser.java
  core/src/test/java/org/apache/seata/core/protocol/detector/HttpDetectorTest.java
  core/src/test/java/org/apache/seata/core/rpc/netty/http/HttpDispatchHandlerTest.java
  core/src/test/java/org/apache/seata/core/rpc/netty/http/ParameterParserTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/http/RestControllerBeanPostProcessor.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/org/apache/seata/spring/boot/autoconfigure/http/RestControllerBeanPostProcessorTest.java
  server/pom.xml
  server/src/main/java/org/apache/seata/server/Server.java
  server/src/main/java/org/apache/seata/server/config/ServerConfig.java
  server/src/main/java/org/apache/seata/server/spring/listener/ServerApplicationListener.java
  server/src/main/resources/application.example.yml
  server/src/main/resources/application.raft.example.yml
  server/src/main/resources/application.yml
  sqlparser/seata-sqlparser-druid/src/test/java/org/apache/seata/sqlparser/druid/kingbase/KingbaseDeleteRecognizerTest.java
Labels: module/core, module/server, type: optimize, protocol

#7414 optimize: Remove the unused defaultEventExecutorGroup
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  core/src/main/java/org/apache/seata/core/rpc/netty/AbstractNettyRemotingClient.java
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyClientBootstrap.java
  core/src/main/java/org/apache/seata/core/rpc/netty/RmNettyRemotingClient.java
  core/src/main/java/org/apache/seata/core/rpc/netty/TmNettyRemotingClient.java
  core/src/test/java/org/apache/seata/core/rpc/netty/NettyClientBootstrapTest.java
Labels: first-time contributor, module/core, type: optimize

#7388 optimize: binary packaging directory structure
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  distribution/release-seata.xml
Labels: type: optimize

#7398 test: add UT for TccAnnotationProcessor class
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  spring/pom.xml
  spring/src/test/java/org/apache/seata/spring/tcc/TccAnnotationProcessorTest.java
Labels: module/spring, type: test

#7418 optimize: add jackson notice
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  distribution/NOTICE
Labels: type: optimize

#7420 test: add UT for RemotingFactoryBeanParser class
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  spring/pom.xml
  spring/src/test/java/org/apache/seata/spring/remoting/parser/RemotingFactoryBeanParserTest.java
Labels: first-time contributor, type: test

#7436 test: fix namingserver ut error
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  namingserver/src/main/java/org/apache/seata/namingserver/manager/NamingManager.java
  server/src/test/java/org/apache/seata/server/store/SessionStoreTest.java
Labels: module/server, type: test, module/namingserver

#7433 test: add UT for GlobalTransactionScanner class
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  spring/src/test/java/org/apache/seata/spring/annotation/GlobalTransactionScannerTest.java
Labels: module/spring, type: test

#7438 test: Add comprehensive unit tests for compatible module
  compatible/src/test/java/io/seata/common/util/StringUtilsTest.java
  compatible/src/test/java/io/seata/core/compressor/CompressorTest.java
  compatible/src/test/java/io/seata/core/constants/DubboConstantsTest.java
  compatible/src/test/java/io/seata/core/context/ContextCoreTest.java
  compatible/src/test/java/io/seata/core/context/RootContextTest.java
  compatible/src/test/java/io/seata/core/exception/TransactionExceptionCodeTest.java
  compatible/src/test/java/io/seata/core/model/BranchTypeTest.java
  compatible/src/test/java/io/seata/core/model/GlobalStatusTest.java
  compatible/src/test/java/io/seata/core/model/ResourceManagerTest.java
  compatible/src/test/java/io/seata/core/serializer/SerializerTest.java
  compatible/src/test/java/io/seata/rm/RMClientTest.java
  compatible/src/test/java/io/seata/tm/TMClientTest.java
  compatible/src/test/java/io/seata/tm/api/GlobalTransactionRoleTest.java
  compatible/src/test/java/io/seata/tm/api/GlobalTransactionTest.java
Labels: type: test, compatibility, module/compatible

#7442 test: add some UT for saga compatible
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  compatible/src/main/java/io/seata/saga/engine/config/DbStateMachineConfig.java
  compatible/src/main/java/io/seata/saga/engine/impl/DefaultStateMachineConfig.java
  compatible/src/test/java/io/seata/saga/engine/config/DbStateMachineConfigTest.java
  compatible/src/test/java/io/seata/saga/engine/impl/DefaultStateMachineConfigTest.java
  saga/seata-saga-engine/src/main/java/org/apache/seata/saga/engine/config/AbstractStateMachineConfig.java
Labels: module/test, module/compatible

#7461 Refactor: server netty config changed to use CONFIG format
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/DefaultValues.java
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyServerConfig.java
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/TransportProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/org/apache/seata/spring/boot/autoconfigure/properties/TransportPropertiesTest.java
Labels: type: refactor, module/core, module/seata-spring-autoconfigure-server

#7464 test:improve unit test coverage of seata-gRPC moudle
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  integration/grpc/src/main/java/org/apache/seata/integration/grpc/interceptor/server/ServerListenerProxy.java
  integration/grpc/src/main/java/org/apache/seata/integration/grpc/interceptor/server/ServerTransactionInterceptor.java
  integration/grpc/src/test/java/org/apache/seata/integration/grpc/interceptor/client/ClientTransactionInterceptorTest.java
  integration/grpc/src/test/java/org/apache/seata/integration/grpc/interceptor/server/ServerListenerProxyTest.java
  integration/grpc/src/test/java/org/apache/seata/integration/grpc/interceptor/server/ServerTransactionInterceptorTest.java
Labels: module/integration, type: test

#7478 optimize: metrics add retry status
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  metrics/seata-metrics-api/src/main/java/org/apache/seata/metrics/IdConstants.java
  server/src/main/java/org/apache/seata/server/metrics/MeterIdConstants.java
  server/src/main/java/org/apache/seata/server/metrics/MetricsSubscriber.java
Labels: first-time contributor, module/server, type: optimize

#7483 optimize: change the value of retryDeadThreshold to 70 seconds
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/DefaultValues.java
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/server/ServerProperties.java
  server/src/main/resources/application.example.yml
  server/src/main/resources/application.raft.example.yml
Labels: module/server, type: optimize

#7466 optimize: add contribution intention check box to issue template
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.yml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
Labels: type: optimize
