Repository apache/incubator-seata, pull requests merged in 2025-03, with the labels that each got.

#7189 test: fix the runtime exception in the saga test case
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  test/src/test/java/org/apache/seata/saga/engine/db/StateMachineDBTests.java
Labels: module/test, type: test

#7188 bugfix: Fix missing branchType in BusinessActionContext
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  tcc/src/main/java/org/apache/seata/rm/tcc/TCCResourceManager.java
Labels: type: bug, mode: TCC, module/tcc

#7179 optimize: Use shared `EventLoop` for TM and RM clients to reduce thread overhead and improve performance
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/ConfigurationKeys.java
  common/src/main/java/org/apache/seata/common/DefaultValues.java
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyClientBootstrap.java
  core/src/main/java/org/apache/seata/core/rpc/netty/NettyClientConfig.java
  core/src/test/java/org/apache/seata/core/rpc/netty/NettyClientBootstrapTest.java
  script/client/conf/file.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/TransportProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/org/apache/seata/spring/boot/autoconfigure/CorePropertiesTest.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/test/java/org/apache/seata/spring/boot/autoconfigure/properties/TransportPropertiesTest.java
Labels: module/core, type: optimize

#7194 optimize: skip the proxy of AbstractRoutingDataSource
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  spring/src/main/java/org/apache/seata/spring/annotation/datasource/SeataAutoDataSourceProxyCreator.java
Labels: module/spring, type: optimize

#7183 feature: client discovers raft nodes through the naming server
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/ConfigurationKeys.java
  common/src/main/java/org/apache/seata/common/Constants.java
  console/src/main/resources/static/console-fe/src/pages/GlobalLockInfo/GlobalLockInfo.tsx
  console/src/main/resources/static/console-fe/src/pages/TransactionInfo/TransactionInfo.tsx
  discovery/seata-discovery-namingserver/src/main/java/org/apache/seata/discovery/registry/namingserver/NamingserverRegistryServiceImpl.java
  discovery/seata-discovery-raft/src/main/java/org/apache/seata/discovery/registry/raft/RaftRegistryServiceImpl.java
  namingserver/src/main/java/org/apache/seata/namingserver/filter/ConsoleRemotingFilter.java
  namingserver/src/main/java/org/apache/seata/namingserver/manager/NamingManager.java
  namingserver/src/main/resources/application.yml
  script/client/conf/registry.conf
  script/client/spring/application.properties
  script/client/spring/application.yml
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/registry/RegistryNamingServerProperties.java
  server/src/main/java/org/apache/seata/server/filter/RaftGroupFilter.java
  server/src/main/resources/application.example.yml
  server/src/main/resources/application.raft.example.yml
  server/src/main/resources/application.yml
Labels: type: feature, module/discovery, module/namingserver

#7214 optimize: upgrade jackson dependency to 2.18.3
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  dependencies/pom.xml
Labels: type: optimize, dependencies

#7215 optimize: intercept non-leader write requests of the console trx operation
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/src/main/resources/static/console-fe/src/service/transactionInfo.ts
  server/src/main/java/org/apache/seata/server/config/SeataNamingserverWebConfig.java
  server/src/main/java/org/apache/seata/server/console/aop/GlobalExceptionHandlerAdvice.java
  server/src/main/java/org/apache/seata/server/filter/RaftCondition.java
  server/src/main/java/org/apache/seata/server/filter/RaftLeaderWriteFilter.java
Labels: module/server, type: optimize, store: raft

#7213 feature: support kingbase xa mode
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  dependencies/pom.xml
  rm-datasource/pom.xml
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/util/XAUtils.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/xa/DataSourceProxyXATest.java
Labels: type: feature, mode: XA, module/rm-datasource

#7222 optimize: in raft mode add the vgroup field to global lock
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/src/main/resources/static/console-fe/src/components/Header/Header.tsx
  console/src/main/resources/static/console-fe/src/pages/GlobalLockInfo/GlobalLockInfo.tsx
  console/src/main/resources/static/console-fe/src/service/globalLockInfo.ts
  namingserver/src/main/java/org/apache/seata/namingserver/filter/ConsoleRemotingFilter.java
  namingserver/src/main/java/org/apache/seata/namingserver/manager/NamingManager.java
  server/src/main/java/org/apache/seata/server/cluster/raft/RaftStateMachine.java
  server/src/main/java/org/apache/seata/server/cluster/raft/serializer/CustomDeserializer.java
  server/src/main/java/org/apache/seata/server/cluster/raft/snapshot/vgroup/VGroupSnapshotFile.java
  server/src/main/java/org/apache/seata/server/config/SeataNamingserverWebConfig.java
  server/src/main/java/org/apache/seata/server/console/controller/BranchSessionController.java
  server/src/main/java/org/apache/seata/server/console/controller/GlobalLockController.java
  server/src/main/java/org/apache/seata/server/console/controller/GlobalSessionController.java
  server/src/main/java/org/apache/seata/server/console/entity/bo/GlobalLockQueryBO.java
  server/src/main/java/org/apache/seata/server/console/entity/param/GlobalLockParam.java
  server/src/main/java/org/apache/seata/server/console/entity/param/GlobalSessionParam.java
  server/src/main/java/org/apache/seata/server/console/entity/vo/BranchSessionVO.java
  server/src/main/java/org/apache/seata/server/console/entity/vo/GlobalLockVO.java
  server/src/main/java/org/apache/seata/server/console/entity/vo/GlobalSessionVO.java
  server/src/main/java/org/apache/seata/server/console/impl/AbstractLockService.java
  server/src/main/java/org/apache/seata/server/console/impl/db/BranchSessionDBServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/db/GlobalLockDBServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/db/GlobalSessionDBServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/file/BranchSessionFileServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/file/GlobalLockFileServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/file/GlobalSessionFileServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/redis/BranchSessionRedisServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/redis/GlobalLockRedisServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/redis/GlobalSessionRedisServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/service/BranchSessionService.java
  server/src/main/java/org/apache/seata/server/console/service/GlobalLockService.java
  server/src/main/java/org/apache/seata/server/console/service/GlobalSessionService.java
  server/src/main/java/org/apache/seata/server/filter/RaftGroupFilter.java
  server/src/main/java/org/apache/seata/server/filter/RaftRequestFilter.java
  server/src/main/java/org/apache/seata/server/storage/SessionConverter.java
  server/src/main/java/org/apache/seata/server/storage/redis/store/RedisTransactionStoreManager.java
  server/src/test/java/org/apache/seata/server/lock/LockManagerTest.java
  server/src/test/java/org/apache/seata/server/session/FileSessionManagerTest.java
  server/src/test/java/org/apache/seata/server/session/redis/RedisQueryConsolTest.java
  server/src/test/java/org/apache/seata/server/session/redis/RedisTransactionStoreManagerTest.java
Labels: module/server, type: optimize, store: raft

#7226 docs: update CONTRIBUTING.md
  CONTRIBUTING.md
  changes/en-us/2.x.md
Labels: first-time contributor

#7236 refactor: changed folder name in org.apache.seata.server.storage.raft.sore from sore to store
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/org/apache/seata/server/cluster/raft/execute/vgroup/VGroupAddExecute.java
  server/src/main/java/org/apache/seata/server/cluster/raft/execute/vgroup/VGroupRemoveExecute.java
  server/src/main/java/org/apache/seata/server/cluster/raft/snapshot/vgroup/VGroupSnapshotFile.java
  server/src/main/java/org/apache/seata/server/storage/raft/store/RaftVGroupMappingStoreManager.java
  server/src/main/resources/META-INF/services/org.apache.seata.server.store.VGroupMappingStoreManager
Labels: first-time contributor, type: refactor, module/server

#7234 optimize: discover the raft leader node from the naming server
  .gitignore
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  codecov.yml
  discovery/seata-discovery-namingserver/src/main/java/org/apache/seata/discovery/registry/namingserver/NamingserverRegistryServiceImpl.java
  discovery/seata-discovery-namingserver/src/test/java/org/apache/seata/discovery/registry/namingserver/NamingserverRegistryServiceImplTest.java
  discovery/seata-discovery-namingserver/src/test/resources/registry.conf
  namingserver/src/main/resources/application.yml
  server/src/main/java/org/apache/seata/server/cluster/raft/snapshot/vgroup/VGroupSnapshotFile.java
  server/src/main/java/org/apache/seata/server/instance/RaftServerInstanceStrategy.java
  server/src/main/java/org/apache/seata/server/storage/raft/store/RaftVGroupMappingStoreManager.java
  server/src/test/java/org/apache/seata/server/storage/raft/store/RaftVGroupMappingStoreManagerTest.java
Labels: module/discovery, module/server, type: optimize

#7224 optimize:optimize changeGlobalStatus interface of console
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/src/main/resources/static/console-fe/src/service/transactionInfo.ts
  server/src/main/java/org/apache/seata/server/ServerRunner.java
  server/src/main/java/org/apache/seata/server/console/impl/AbstractGlobalService.java
  server/src/main/java/org/apache/seata/server/console/impl/AbstractService.java
  server/src/test/java/org/apache/seata/server/session/FileSessionManagerTest.java
Labels: module/server, type: optimize

#7241 optimize: upgrade tomcat-embed-core to 9.0.99
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  console/pom.xml
  mock-server/pom.xml
  namingserver/pom.xml
  server/pom.xml
Labels: first-time contributor, dependencies

#7233 test: add mock test for seata-discovery-etcd3
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  discovery/seata-discovery-etcd3/src/test/java/org/apache/seata/discovery/registry/etcd/EtcdRegistryServiceImplMockTest.java
Labels: first-time contributor

#7243 test: add unit test for seata-discovery-eureka (#6503)
  discovery/seata-discovery-eureka/src/test/java/org/apache/seata/discovery/registry/eureka/CustomEurekaInstanceConfigTest.java
  discovery/seata-discovery-eureka/src/test/java/org/apache/seata/discovery/registry/eureka/EurekaRegistryProviderTest.java
  discovery/seata-discovery-eureka/src/test/java/org/apache/seata/discovery/registry/eureka/EurekaRegistryServiceImplTest.java
  discovery/seata-discovery-eureka/src/test/resources/registry.conf
Labels: first-time contributor
