Repository apache/incubator-seata, pull requests merged in 2025-09, with the labels that each got.

#7559 feature: Introduce Cleanup API for `TableMetaRefreshHolder` Instance
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/DataSourceProxy.java
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/sql/struct/TableMetaCacheFactory.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/DataSourceProxyTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/sql/struct/TableMetaCacheFactoryTest.java
Labels: module/rm-datasource, type: optimize

#7662 bugfix: ensure visibility of rm and The methods in MockTest are executed in order
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  test-old-version/src/test/java/io/seata/MockTest.java
  test-old-version/src/test/java/io/seata/core/rpc/netty/RmClientTest.java
Labels: type: bug, module/test, type: test

#7664 feature: support shentongdatabase xa mode
  .github/workflows/test-druid.yml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  compatible/src/test/java/io/seata/rm/datasource/xa/DataSourceProxyXATest.java
  dependencies/pom.xml
  distribution/LICENSE
  distribution/LICENSE-server
  distribution/NOTICE.md
  rm-datasource/pom.xml
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/util/XAUtils.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/PreparedStatementProxyTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/StatementProxyTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/DeleteExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/MariadbInsertExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/MultiExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/MySQLInsertExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/PlainExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/PolarDBXInsertExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/SelectForUpdateExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/UpdateExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/exec/UpdateJoinExecutorTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/sql/struct/TableRecordsTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/undo/mariadb/MariadbUndoLogManagerTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/undo/mysql/MySQLUndoLogManagerTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/undo/polardbx/PolarDBXUndoLogManagerTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/util/XAUtilsTest.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/xa/DataSourceProxyXATest.java
  sqlparser/seata-sqlparser-druid/src/main/java/org/apache/seata/sqlparser/druid/oscar/OscarOperateRecognizerHolder.java
  sqlparser/seata-sqlparser-druid/src/test/java/org/apache/seata/sqlparser/druid/dm/DmInsertRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/org/apache/seata/sqlparser/druid/kingbase/KingbaseInsertRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/org/apache/seata/sqlparser/druid/oceanbase/OceanBaseInsertRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/org/apache/seata/sqlparser/druid/oracle/OracleInsertRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/org/apache/seata/sqlparser/druid/oscar/AbstractOscarRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/org/apache/seata/sqlparser/druid/oscar/OscarDeleteRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/org/apache/seata/sqlparser/druid/oscar/OscarInsertRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/org/apache/seata/sqlparser/druid/oscar/OscarOperateRecognizerHolderTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/org/apache/seata/sqlparser/druid/oscar/OscarSelectForUpdateRecognizerTest.java
  sqlparser/seata-sqlparser-druid/src/test/java/org/apache/seata/sqlparser/druid/oscar/OscarUpdateRecognizerTest.java
Labels: type: feature, mode: XA, module/rm-datasource
