Repository apache/incubator-seata, pull requests merged in 2025-02, with the labels that each got.

#7135 bugfix: treating a unique index conflict during rollback as a dirty write
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/undo/AbstractUndoLogManager.java
Labels: first-time contributor, module/rm-datasource

#7024 feature: add console transaction control
  common/src/main/java/org/apache/seata/common/result/Result.java
  common/src/main/java/org/apache/seata/common/result/SingleResult.java
  console/src/main/resources/static/console-fe/src/locales/en-us.ts
  console/src/main/resources/static/console-fe/src/locales/zh-cn.ts
  console/src/main/resources/static/console-fe/src/pages/GlobalLockInfo/GlobalLockInfo.tsx
  console/src/main/resources/static/console-fe/src/pages/TransactionInfo/TransactionInfo.tsx
  console/src/main/resources/static/console-fe/src/service/globalLockInfo.ts
  console/src/main/resources/static/console-fe/src/service/transactionInfo.ts
  core/src/main/java/org/apache/seata/core/model/BranchStatus.java
  core/src/main/java/org/apache/seata/core/model/GlobalStatus.java
  server/src/main/java/org/apache/seata/server/console/aop/GlobalExceptionHandlerAdvice.java
  server/src/main/java/org/apache/seata/server/console/controller/BranchSessionController.java
  server/src/main/java/org/apache/seata/server/console/controller/GlobalLockController.java
  server/src/main/java/org/apache/seata/server/console/controller/GlobalSessionController.java
  server/src/main/java/org/apache/seata/server/console/exception/ConsoleException.java
  server/src/main/java/org/apache/seata/server/console/impl/AbstractBranchService.java
  server/src/main/java/org/apache/seata/server/console/impl/AbstractGlobalService.java
  server/src/main/java/org/apache/seata/server/console/impl/AbstractLockService.java
  server/src/main/java/org/apache/seata/server/console/impl/AbstractService.java
  server/src/main/java/org/apache/seata/server/console/impl/db/BranchSessionDBServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/db/GlobalLockDBServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/db/GlobalSessionDBServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/file/BranchSessionFileServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/file/GlobalLockFileServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/file/GlobalSessionFileServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/redis/BranchSessionRedisServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/redis/GlobalLockRedisServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/impl/redis/GlobalSessionRedisServiceImpl.java
  server/src/main/java/org/apache/seata/server/console/service/BranchSessionService.java
  server/src/main/java/org/apache/seata/server/console/service/GlobalLockService.java
  server/src/main/java/org/apache/seata/server/console/service/GlobalSessionService.java
  server/src/main/java/org/apache/seata/server/coordinator/AbstractCore.java
  server/src/main/java/org/apache/seata/server/coordinator/Core.java
  server/src/main/java/org/apache/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/org/apache/seata/server/coordinator/DefaultCore.java
  server/src/main/java/org/apache/seata/server/coordinator/TransactionCoordinatorOutbound.java
  server/src/main/java/org/apache/seata/server/session/GlobalSession.java
  server/src/main/java/org/apache/seata/server/session/SessionHolder.java
  server/src/main/java/org/apache/seata/server/storage/db/session/DataBaseSessionManager.java
  server/src/main/java/org/apache/seata/server/storage/file/lock/FileLocker.java
  server/src/main/java/org/apache/seata/server/storage/redis/session/RedisSessionManager.java
  server/src/main/java/org/apache/seata/server/transaction/at/ATCore.java
  server/src/main/java/org/apache/seata/server/transaction/saga/SagaAnnotationCore.java
  server/src/main/java/org/apache/seata/server/transaction/saga/SagaCore.java
  server/src/main/java/org/apache/seata/server/transaction/tcc/TccCore.java
  server/src/main/java/org/apache/seata/server/transaction/xa/XACore.java
  server/src/test/java/org/apache/seata/server/coordinator/DefaultCoordinatorTest.java
  server/src/test/java/org/apache/seata/server/lock/LockManagerTest.java
  server/src/test/java/org/apache/seata/server/session/FileSessionManagerTest.java
Labels: type: feature, module/server, module/console

#7139 optimize: upgrade xstream to 1.4.21
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  dependencies/pom.xml
Labels: type: optimize, dependencies

#7138 optimize: remove org.eclipse.jetty dependency
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  dependencies/pom.xml
Labels: type: optimize, dependencies

#7141 optimize: remove unused dependencies
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  discovery/seata-discovery-zk/pom.xml
Labels: type: optimize, dependencies

#7150 bugfix: The time difference between the raft node and the follower node cannot synchronize data.
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/org/apache/seata/server/cluster/raft/RaftStateMachine.java
Labels: type: bug, module/server, store: raft

#6338 security: upgrade jackson version
  all/pom.xml
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  dependencies/pom.xml
Labels: dependencies

#7130 optimize:Expose some keepalive-related configuration for Druid, Hikari, and DBCP
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/ConfigurationKeys.java
  common/src/main/java/org/apache/seata/common/DefaultValues.java
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-core/src/main/java/org/apache/seata/spring/boot/autoconfigure/StarterConstants.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/org/apache/seata/spring/boot/autoconfigure/SeataServerEnvironmentPostProcessor.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/server/store/DbcpProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/server/store/DruidProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/server/store/HikariProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/test/java/org/apache/seata/spring/boot/autoconfigure/ServerPropertiesTest.java
  server/src/main/java/org/apache/seata/server/store/DbcpDataSourceProvider.java
  server/src/main/java/org/apache/seata/server/store/DruidDataSourceProvider.java
  server/src/main/java/org/apache/seata/server/store/HikariDataSourceProvider.java
  server/src/main/resources/application.example.yml
Labels: module/server, type: optimize

#7102 bugfix: modify XA mode pre commit transaction from commit phase to before close phase
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  rm-datasource/src/main/java/org/apache/seata/rm/datasource/xa/ConnectionProxyXA.java
  rm-datasource/src/test/java/org/apache/seata/rm/datasource/xa/ConnectionProxyXATest.java
Labels: type: bug, mode: XA, module/rm-datasource

#7160 test: Refactored tests in LowerCaseLinkHashMapTest to use parameterized unit testing
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/test/java/org/apache/seata/common/util/LowerCaseLinkHashMapTest.java
Labels: first-time contributor, module/common, type: test

#7133 feature: Implement scheduled handling for end status transaction
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/ConfigurationKeys.java
  common/src/main/java/org/apache/seata/common/Constants.java
  common/src/main/java/org/apache/seata/common/DefaultValues.java
  script/config-center/config.txt
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/main/java/org/apache/seata/spring/boot/autoconfigure/properties/server/ServerProperties.java
  seata-spring-autoconfigure/seata-spring-autoconfigure-server/src/test/java/org/apache/seata/spring/boot/autoconfigure/properties/server/ServerPropertiesTest.java
  server/src/main/java/org/apache/seata/server/coordinator/DefaultCoordinator.java
  server/src/main/java/org/apache/seata/server/session/GlobalSession.java
  server/src/main/java/org/apache/seata/server/session/SessionHelper.java
  server/src/main/resources/application.example.yml
  server/src/main/resources/application.raft.example.yml
Labels: type: feature, module/server

#7181 feature: raft implements domain name resolution and selects peerId
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  common/src/main/java/org/apache/seata/common/util/NetUtil.java
  server/src/main/java/org/apache/seata/server/cluster/raft/RaftServerManager.java
Labels: module/server, store: raft

#7182 optimize: use the ip of the peerId as the host of the raft node
  changes/en-us/2.x.md
  changes/zh-cn/2.x.md
  server/src/main/java/org/apache/seata/server/cluster/raft/RaftStateMachine.java
Labels: module/server, type: optimize, store: raft
